<template>
  <div class="box">
    <div class="warningtaskPop" ref="myechart"></div>
    <div class="closeicon" @click="closePop">×</div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as echarts from "echarts";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {};
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      closeicon: "",
      closeicon_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.closeicon = "1.5rem";
      font_32_9.closeicon_font = "1.3rem";
    } else {
      font_32_9.closeicon = "1rem";
      font_32_9.closeicon_font = "1rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closePop() {
      this.$store.commit("SET_WARNING_EVENT_POP", true);
    },
    getEchart(style, data) {
      console.log(style);
      var myChart = echarts.init(this.$refs.myechart);
      let option = {
        tooltip: {
          trigger: "item",
          textStyle: {
            fontSize: style.tooltipFont,
          },
        },
        color: ["#98d65c", "#22e2e2", "#a864a8", "#fdb357", "#00baff"],
        legend: {
          orient: "vertical",
          y: "center",
          x: "right",
          textStyle: {
            color: "#f4f4f4",
            fontSize: style.legendfont,
          },
          icon: "circle",
        },
        series: [
          {
            name: "数量",
            type: "pie",
            radius: ["40%", "70%"],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: "center",
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "20",
                fontWeight: "bold",
              },
            },
            grid: {
              left: "3%",
            },
            labelLine: {
              show: false,
            },
            data: data,
          },
        ],
      };

      myChart.setOption(option);
    },
  },

  created() {},
  mounted() {
    console.log(this.warngingEventpopsource);
    let str = "";
    switch (this.warngingEventpopsource) {
      case "12345热线":
        str = "CITY_SERVICE";
        break;
      case "浦东E家园":
        str = "PUDONG_E_HOME";
        break;
      case "自治共治":
        str = "SELF_PUBLIC";
        break;
      case "物联网感知":
        str = "IOT";
        break;
    }
    let options = {
      timeRangeType: this.warningpopParams.timeRangeType,
      type: this.warningpopParams.type,
      source: str,
    };
    if (this.$route.query.v == "1") {
      let echartfont = {
        legendfont: "20",
        tooltipFont: "20",
      };
      // this.getEchart(echartfont);
      this.$store.dispatch("warningtaskpop", options).then((res) => {
        let arr = [];
        res.data.data.forEach((item) => {
          arr.push({ name: item.eventsName, value: item.eventsCount });
        });
        this.getEchart(echartfont, arr);
      });
    } else {
      let echartfont = {
        legendfont: "14",
        tooltipFont: "14",
      };
      // this.getEchart(echartfont);
      this.$store.dispatch("warningtaskpop", options).then((res) => {
        let arr = [];
        res.data.data.forEach((item) => {
          arr.push({ name: item.eventsName, value: item.eventsCount });
        });
        this.getEchart(echartfont, arr);
      });
    }
  },
  watch: {
    warningpopParams: {
      handler(val, oldval) {
        console.log(this.warningpopParams);
        console.log(val);
        let str = "";
        switch (this.warngingEventpopsource) {
          case "12345热线":
            str = "CITY_SERVICE";
            break;
          case "浦东E家园":
            str = "PUDONG_E_HOME";
            break;
          case "自治共治":
            str = "SELF_PUBLIC";
            break;
          case "物联网感知":
            str = "IOT";
            break;
        }
        let options = {
          timeRangeType: val.timeRangeType,
          type: this.warningpopParams.type,
          source: str,
        };
        console.log(options);
        if (this.$route.query.v == "1") {
          let echartfont = {
            legendfont: "20",
            tooltipFont: "20",
          };
          // this.getEchart(echartfont);
          this.$store.dispatch("warningtaskpop", options).then((res) => {
            let arr = [];
            res.data.data.forEach((item) => {
              arr.push({ name: item.eventsName, value: item.eventsCount });
            });
            this.getEchart(echartfont, arr);
          });
        } else {
          let echartfont = {
            legendfont: "14",
            tooltipFont: "14",
          };
          // this.getEchart(echartfont);
          this.$store.dispatch("warningtaskpop", options).then((res) => {
            let arr = [];
            res.data.data.forEach((item) => {
              arr.push({ name: item.eventsName, value: item.eventsCount });
            });
            this.getEchart(echartfont, arr);
          });
        }
      },
      deep: true,
    },
  },
  computed: {
    ...mapState({
      warngingEventpopsource: (state) =>
        state.selfTogether.warngingEventpopsource,
      warningpopParams: (state) => state.selfTogether.warningpopParams,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.box {
  width: 100%;
  height: 100%;
  border: 2px solid #3770ac;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 20px #1e4a6b;
  position: relative;
  .closeicon {
    position: absolute;
    top: 0;
    right: 0;
    width: v-bind("font_32_9.closeicon");
    height: v-bind("font_32_9.closeicon");
    background: #02bfd1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 0 0 1px;
    border-radius: 50%;
    color: white;
    transition: all 1s;
    font-size: v-bind("font_32_9.closeicon_font");
  }
  .closeicon:hover {
    transform: rotate(360deg);
    background: #034880;
  }
  .warningtaskPop {
    width: 100%;
    height: 100%;
  }
}
</style>
