<template>
  <div class="video-ensure-container" v-show="videoEnsureVisible">
    <div class="video-ensure-container-inner">
      <div class="header">
        <img
          class="left-img"
          src="@/assets/videoEnsure/bg-biaoti.png"
          alt=""
          srcset=""
        />
        <span class="video-ensure-text">视频保障</span>
        <img
          class="right-img"
          @click="closeVideoEnsure"
          src="@/assets/videoEnsure/guanbi.png"
          alt=""
          srcset=""
        />
      </div>
      <div class="video-ensure-inner-body"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["videoEnsureVisible"],
  data() {
    return {};
  },
  methods: {
    closeVideoEnsure: function() {
      this.$emit("closeVideoEnsure", false);
    },
    ...mapMutations([]),
  },
  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {},
};
</script>

<style lang="less" scoped>
.video-ensure-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  .video-ensure-container-inner {
    height: 656px;
    width: 1302px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border: 1px solid rgb(5, 134, 177);
    background-color: rgba(5, 134, 177, 0.2);
    .header {
      position: absolute;
      height: 50px;
      width: 100%;
      top: 0;
      left: 0;
      .left-img {
        position: absolute;
        left: 0;
      }
      .video-ensure-text {
        position: absolute;
        top: 8px;
        left: 30px;
        color: white;
        font-size: 30px;
      }
      .right-img {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .video-ensure-inner-body {
      width: 95%;
      height: 85%;
      position: absolute;
      bottom: 10px;
      border: 2px solid rgb(24, 232, 249);
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
</style>
