<template>
  <div class="container" @click="closePop">
    <div class="pop-box" @click.stop="showPop">
      <img
        @click.stop="closePop"
        class="close-icon"
        src="~@/assets/shengmingtizheng/close.png"
        alt=""
      />
      <!-- {{bigPicUrl}} -->
      <img :src="bigPicUrl" alt="" class="bigimg" />
    </div>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from "vue";
import { mapState } from "vuex";
export default {
  data() {
    return {
      picPreUrl: "",
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      one: "",
      one_three: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.one = "1.65rem";
      font_32_9.one_three = "2.1rem";
      font_32_9.zero_seven_five = "1.4rem";
      font_32_9.three = "5rem";
      font_32_9.ninety = "80rem";
    } else {
      font_32_9.one = "1rem";
      font_32_9.one_three = "1.3rem";
      font_32_9.zero_seven_five = "0.75rem";
      font_32_9.three = "3rem";
      font_32_9.ninety = "40rem";
    }
    return {
      font_32_9,
    };
  },
  mounted() {
    this.picPreUrl = localStorage.getItem("picUrl");
  },
  methods: {
    showPop() {
      this.$store.commit("SET_BIG_PIC_POP", true);
    },
    closePop() {
      this.$store.commit("SET_BIG_PIC_POP", false);
    },
    handlePageChange() {},
  },
  computed: {
    ...mapState({
      bigPicUrl: (state) => state.visible.bigPicUrl,
    }),
  },
};
</script>

<style lang="less" scoped>
.container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .pop-box {
    position: relative;
    height: 35rem;
    // position: fixed;
    // margin: 0 auto;
    // left: 0;
    // right: 0;
    // top: 10%;
    // padding: 0 1.5rem;
    
    // flex-direction: column;
    
    // width: v-bind("font_32_9.ninety");
    // min-height: 35%;
    // max-height: 10rem;
    // height: 30rem;
    
    // flex-flow: column;
    background: #062240;
    background-size: 100% 100%;
    color: #ffffff;
    font-size: v-bind("font_32_9.zero_seven_five");
    box-sizing: border-box;
    .close-icon {
      width: 4.3rem;
      height: 3rem;
      position: absolute;
      right: 0;
      // top: 0.5rem;
      cursor: pointer;
    }
    .bigimg {
      height: 100%;
      // max-height: 40rem;
      // width: 40rem;
      background-size: 100% 100%;
    //   background: red;
    }
  }
}
</style>