<template>
  <div style="position: relative; width: 100%; height: 100%">
    <div class="attendant" ref="myechart"></div>
    <div class="inner_text">
      <span class="highlight">{{ todayCount }}</span>
      <span>/{{ allCount }}</span>
      <div>今日在岗</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as echarts from "echarts";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {
      todayCount: 0,
      allCount: 0,
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      innertext: "",
      inner_title: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.innertext = "2rem";
      font_32_9.inner_title = "1.2rem";
    } else {
      font_32_9.innertext = "1.5rem";
      font_32_9.inner_title = "1rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getEchart(style, data) {
      var myChart = echarts.init(this.$refs.myechart);
      let options = {
        color: [
          new echarts.graphic.LinearGradient(1, 1, 0, 0, [
            { offset: 0, color: "#0e474a" },
            { offset: 0.5, color: "#1dbd9f" },
            { offset: 1, color: "#1aac93" },
          ]),
          new echarts.graphic.LinearGradient(1, 1, 0, 0, [
            { offset: 0, color: "#1c7ea8" },
            { offset: 0.5, color: "#1fb0d3" },
            { offset: 1, color: "#23e3ff" },
          ]),
        ],
        tooltip: {
          trigger: "item",
          textStyle: {
            fontSize: style.tooltipFont,
          },
        },
        series: [
          {
            name: "数量",
            type: "pie",
            radius: ["40%", "60%"],
            avoidLabelOverlap: false,
            startAngle: 50, //起始角度
            itemStyle: {
              // borderRadius: 10,
              // borderColor: "#fff",
              // borderWidth: 2,
              normal: {
                label: {
                  formatter: "{b}\n{c}人",
                  textStyle: {
                    fontSize: style.tooltipFont,
                    length2: "50",
                  },
                },
                labelLine: {
                  length: style.labelLine,
                  length2: style.labelLine * 2,
                },
              },
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "25",
                fontWeight: "bold",
              },
            },

            data: data,
          },
        ],
      };
      myChart.setOption(options);
    },
  },

  created() {},
  mounted() {
    if (this.$route.query.v == "1") {
      let echartfont = {
        tooltipFont: "20",
        labelLine: 50,
      };
      this.$store.dispatch("serviceDashboard").then((res) => {
        console.log(res);
        this.todayCount = res.data[1].sum;
        this.allCount = res.data[0].sum;
        let data = [];
        data.push({ name: res.data[3].name, value: res.data[3].sum });
        data.push({ name: res.data[2].name, value: res.data[2].sum });
        this.getEchart(echartfont, data);
      });
    } else {
      let echartfont = {
        tooltipFont: "14",
        labelLine: 15,
      };
      this.$store.dispatch("serviceDashboard").then((res) => {
        console.log(res);
        this.todayCount = res.data[1].sum;
        this.allCount = res.data[0].sum;
        let data = [];
        data.push({ name: res.data[3].name, value: res.data[3].sum });
        data.push({ name: res.data[2].name, value: res.data[2].sum });
        this.getEchart(echartfont, data);
      });
      // this.getEchart(echartfont);
    }
  },
  watch: {
    serviceParams:{
      handler(){
        console.log(this.serviceParams)
        if (this.$route.query.v == "1") {
          let echartfont = {
            tooltipFont: "20",
            labelLine: 50,
          };
          this.$store
            .dispatch("serviceDashboard", this.serviceParams)
            .then((res) => {
              console.log(res);
              this.todayCount = res.data[1].sum;
              this.allCount = res.data[0].sum;
              let data = [];
              data.push({ name: res.data[3].name, value: res.data[3].sum });
              data.push({ name: res.data[2].name, value: res.data[2].sum });
              this.getEchart(echartfont, data);
            });
        } else {
          let echartfont = {
            tooltipFont: "14",
            labelLine: 15,
          };
          this.$store
            .dispatch("serviceDashboard", this.serviceParams)
            .then((res) => {
              console.log(res);
              this.todayCount = res.data[1].sum;
              this.allCount = res.data[0].sum;
              let data = [];
              data.push({ name: res.data[3].name, value: res.data[3].sum });
              data.push({ name: res.data[2].name, value: res.data[2].sum });
              this.getEchart(echartfont, data);
            });
        }
      },
      deep:true
     
    },
   
  },
  computed: {
    ...mapState({
      serviceParams: (state) => state.selfTogether.serviceParams,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.attendant {
  width: 100%;
  height: 100%;
}
.inner_text {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  // background: burlywood;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.75rem;
  margin-top: -2.75rem;
  padding-top: 1rem;
  box-sizing: border-box;
  color: white;
  font-size: v-bind("font_32_9.inner_title");
  .highlight {
    font-weight: 800;
    font-size: v-bind("font_32_9.innertext");
    color: #19f7ff;
    text-shadow: 15px 15px 30px #23fffc;
  }
}
</style>
