<template>
  <div class="container" @click="closePop">
    <div class="pop-box" @click.stop="showPop">
      <img
        @click.stop="closePop"
        class="close-icon"
        src="~@/assets/shengmingtizheng/close.png"
        alt=""
      />
      <div class="headerbox">
        <div class="titleLeft">
          <div class="title">{{ title }}</div>
          <!-- <span class="count">-1</span> -->
        </div>
      </div>
      <div class="tableHeader">
        <div class="tableHeaderItem" style="flex: 0.7">案件类别</div>
        <div class="tableHeaderItem" style="flex: 0.7">案件事项</div>
        <div class="tableHeaderItem">案件时间</div>
        <div class="tableHeaderItem" style="flex: 1.5">案件地址</div>
        <div class="tableHeaderItem">联动等级</div>
        <div class="tableHeaderItem">任务状态</div>
      </div>
      <div class="tableBody">
        <div
          class="tableList"
          v-for="(item, index) in eventList.list"
          :key="index"
          @click="itemClick(item)"
        >
          <div class="tableListItem" style="flex: 0.7">智能发现</div>
          <div class="tableListItem" style="flex: 0.7">{{ item.name }}</div>
          <div class="tableListItem">{{ item.createTime }}</div>

          <div class="tableListItem" style="flex: 1.5">{{ item.address }}</div>
          <div class="tableListItem">
            <span v-if="item.stage == 1">一级联动</span>
            <span v-if="item.stage == 2">二级联动</span>
            <span v-if="item.stage == 3">三级联动</span>
            <span v-if="item.stage == 4">四级联动</span>
          </div>
          <div class="tableListItem">
            <img
              v-if="item.status == 0"
              src="~@/assets/shengmingtizheng/first.png"
              alt=""
              class="img"
            />
            <img
              v-if="item.status == 1"
              src="~@/assets/shengmingtizheng/second.png"
              alt=""
              class="img"
            />
            <img
              v-if="item.status == 2"
              src="~@/assets/shengmingtizheng/forth.png"
              alt=""
              class="img"
            />
            <img
              v-if="item.status == 3"
              src="~@/assets/shengmingtizheng/forth.png"
              alt=""
              class="img"
            />
          </div>
        </div>
      </div>
      <div class="pagination-container" id="pagination-id">
        <el-pagination
          @current-change="handlePageChange"
          :background="false"
          layout="prev, pager, next,total"
          :total="eventList.totalCount"
          :page-size="params.limit"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from "vue";
import { mapState } from "vuex";
export default {
  data() {
    return {
      params: {
        page: 1,
        limit: 9,
      },
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      one: "",
      one_three: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.one = "1.65rem";
      font_32_9.one_three = "2.1rem";
      font_32_9.zero_seven_five = "1.4rem";
      font_32_9.three = "5rem";
      font_32_9.ninety = "120rem";
    } else {
      font_32_9.one = "1rem";
      font_32_9.one_three = "1.3rem";
      font_32_9.zero_seven_five = "0.75rem";
      font_32_9.three = "3rem";
      font_32_9.ninety = "90rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    showPop() {
      this.$store.commit("SET_CASELIST_POP", true);
    },
    closePop() {
      this.$store.commit("SET_CASELIST_POP", false);
    },
    handlePageChange(val) {
      console.log(val);
      this.params.page = val;
      this.getList(this.title);
    },
    itemClick(item) {
      localStorage.setItem("wenTaskId", item.id);
      this.$store.commit("DETAIL_DIALOG", true);
      this.closePop();
    },
    getList(title) {
      this.$store.commit("SET_CASELIST_POP", true);
      switch (title) {
        case "异常案件":
          let curparams = {
            timeRangeType: 6, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page: this.params.page,
            limit: 9,
            timeOutFlag: true,
          };
          this.params = curparams;
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE", "异常案件"); //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case "新增案件":
          let curparams1 = {
            timeRangeType: 6, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page: this.params.page,
            limit: 9,
          };
          this.params = curparams1;
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE", "新增案件"); //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case "未处置案件":
          let curparams2 = {
            timeRangeType: 6, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page: this.params.page,
            limit: 9,
            eventStatus: 0,
          };
          this.params = curparams2;
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE", "未处置案件"); //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case "处置中案件":
          let curparams3 = {
            timeRangeType: 6, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page: this.params.page,
            limit: 9,
            eventStatus: 1,
          };
          this.params = curparams3;
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE", "处置中案件"); //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case "已完成案件":
          let curparams4 = {
            timeRangeType: 6, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page: this.params.page,
            limit: 9,
            eventStatus: 2,
          };
          this.params = curparams4;
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE", "已完成案件"); //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
      }
    },
    getCaseList() {
      this.params.timeRangeType = this.taskParams.timeRangeType;
      this.$store.dispatch("getEventList", this.params);
    },
  },
  computed: {
    ...mapState({
      eventList: (state) => state.lifeTizheng.eventList,
      title: (state) => state.visible.caseListPopTitle,
      taskParams: (state) => state.selfTogether.taskParams,
    }),
  },
  watch: {
    qushiParams: {
      handler(val) {
        console.log(this.taskParams.timeRangeType);
      },
      deep: true,
    },
  },
};
</script>

<style lang="less" scoped>
.container {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .pop-box {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    // padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: v-bind("font_32_9.ninety");
    min-height: 65%;
    max-height: 80%;
    align-items: center;
    flex-flow: column;
    background: #062240;
    background-size: 100% 100%;
    color: #ffffff;
    font-size: v-bind("font_32_9.zero_seven_five");
    box-sizing: border-box;
    .close-icon {
      width: 4.3rem;
      height: 3rem;
      position: absolute;
      right: 0;
      // top: 0.5rem;
      cursor: pointer;
    }
    // .close-icon:hover{
    //     transform: rotate(180deg);
    //     transition: all 0.3s ease-in-out;
    // }
    .headerbox {
      height: v-bind("font_32_9.three");
      width: 100%;
      // background: red;
      display: flex;
      flex-direction: row;
      align-items: center;
      .titleLeft {
        height: 100%;
        width: 40%;
        background-image: url("~@/assets/shengmingtizheng/bg-biaoti.png");
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .title {
        font-size: v-bind("font_32_9.one_three");
        color: white;
        margin-left: v-bind("font_32_9.one");
      }
      .count {
        color: red;
        font-size: v-bind("font_32_9.one_three");
        margin-left: v-bind("font_32_9.one");
        text-align: center;
      }
    }
    .tableHeader {
      height: v-bind("font_32_9.three");
      width: 100%;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding: 0% 2%;
      // background-color: yellowgreen;
      .tableHeaderItem {
        flex: 1;
        height: 100%;
        color: #00efff;
        font-size: v-bind("font_32_9.one");
        // background-color: violet;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .tableHeaderItem:last-child {
        flex: 1.5;
      }
    }
    .tableBody {
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0% 2%;
      // background-color: yellowgreen;
      .tableList {
        height: v-bind("font_32_9.three");
        width: 100%;
        display: flex;
        flex-direction: row;
        .tableListItem {
          flex: 1;
          height: 100%;
          color: #cee1de;
          font-size: v-bind("font_32_9.one");
          // background-color: violet;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        .tableListItem:last-child {
          flex: 1.5;
        }
        .img {
          height: 70%;
          width: 90%;
          background-size: 100%b 100%;
        }
      }
      .tableList:nth-child(2n + 1) {
        background-color: rgba(48, 255, 231, 0.12);
      }
    }
    .pagination-container {
      height: v-bind("font_32_9.three");
      width: 100%;
      // display:flex ;
      // align-items: center;
      // justify-content: center;
      position: absolute;
      bottom: 0;
      /deep/ .el-pagination .el-pager .number {
        background-color: transparent;
        color: #ffffff;
        font-weight: bold;
        font-size: v-bind("font_32_9.one");
      }
      /deep/ .el-pagination .el-pager .active {
        background-color: transparent;
        color: #a5ffff;
        font-weight: bold;
        font-size: v-bind("font_32_9.one");
      }
      /deep/ .el-pagination button {
        background-color: transparent;
      }
      /deep/ .el-pagination .el-pager .more {
        background-color: transparent;
      }
    }
  }
}
</style>
