<template>
  <div class="managePower">
    <div class="managePower_item">
      <div class="managePower_item_title">值班长</div>
      <div
        class="managePower_item_member"
        v-for="(item, index) in attendanceInfo.zhibanzhang"
        :key="index"
      >
        <div class="managePower_item_member_btn">
          <div class="inner_border">
            <div :class="item.isOnline?'inner_btn':'inner_btn_unonline'">{{ item.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="managePower_item">
      <div class="managePower_item_title">值班员</div>
      <div class="zhibanyuan">
        <div class="zhibanyuan_item">
          <span class="zhibanyuan_item_name">派出所</span>
          <div class="zhibanyuan_item_tabs">
            <div class="zhibanyuan_tab_item">
              <!-- <span>段磊</span>
              <span>韩露</span>
              <span>韩露</span>
              <span>韩露</span> -->
              <span
                v-for="(item, index) in attendanceInfo.paichusuo"
                :class="item.isOnline?'color_online':'color_unonline'"
                :key="index"
                >{{ item.name }}</span
              >
            </div>
          </div>
        </div>
        <div class="zhibanyuan_item">
          <span class="zhibanyuan_item_name">城管</span>
          <div class="zhibanyuan_item_tabs">
            <div class="zhibanyuan_tab_item">
              <!-- <span>段磊</span>
              <span>韩露</span> -->
              <span
                v-for="(item, index) in attendanceInfo.chengguan"
                :class="item.isOnline?'color_online':'color_unonline'"
                :key="index"
                >{{ item.name }}</span
              >
            </div>
          </div>
        </div>
        <div class="zhibanyuan_item">
          <span class="zhibanyuan_item_name">居委</span>
          <div class="zhibanyuan_item_tabs">
            <div class="zhibanyuan_tab_item">
              <!-- <span>段磊</span>
              <span>韩露</span> -->
              <span
                v-for="(item, index) in attendanceInfo.juwei"
                :class="item.isOnline?'color_online':'color_unonline'"
                :key="index"
                >{{ item.name }}</span
              >
            </div>
          </div>
        </div>

        <div class="zhibanyuan_item">
          <span class="zhibanyuan_item_name">物业</span>
          <div class="zhibanyuan_item_tabs">
            <div class="zhibanyuan_tab_item">
              <!-- <span>段磊</span>
              <span>韩露</span> -->
              <span
                v-for="(item, index) in attendanceInfo.wuye"
                :class="item.isOnline?'color_online':'color_unonline'"
                :key="index"
                >{{ item.name }}</span
              >
            </div>
          </div>
        </div>
        <div class="zhibanyuan_item">
          <span class="zhibanyuan_item_name">安保</span>
          <div class="zhibanyuan_item_tabs">
            <div class="zhibanyuan_tab_item">
              <!-- <span>段磊</span>
              <span>韩露</span> -->
              <span
                v-for="(item, index) in attendanceInfo.anbao"
                :class="item.isOnline?'color_online':'color_unonline'"
                :key="index"
                >{{ item.name }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";

export default {
  data() {
    return {};
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      managePower_item_title: "",
      inner_btn: "",
      zhibanyuan_item_name: "",
      zhibanyuan_item: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.managePower_item_title = "1.3rem";
      font_32_9.inner_btn = "1.5rem";
      font_32_9.zhibanyuan_item_name = "1.3rem";
      font_32_9.zhibanyuan_item = "5rem";
    } else {
      font_32_9.managePower_item_title = "1rem";
      font_32_9.inner_btn = "1.3rem";
      font_32_9.zhibanyuan_item_name = "1rem";
      font_32_9.zhibanyuan_item = "3.5rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() {},
  mounted() {
    this.$store.dispatch("attendance");
  },
  watch: {},
  computed: {
    ...mapState({
      attendanceInfo: (state) => state.selfTogether.attendanceInfo,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.managePower {
  width: 100%;
  height: 100%;
  border: 2px solid #3770ac;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 20px #1e4a6b;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  .managePower_item:first-child {
    border: 1px solid #ccc;
    border-image: -webkit-linear-gradient(
        top,
        transparent,
        #0a537f,
        transparent
      )
      3 10 3;
    overflow-y: scroll;

    // background: burlywood;
    .managePower_item_title {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #18e8f1;
      padding: 0.5rem;
      box-sizing: border-box;
      font-size: v-bind("font_32_9.managePower_item_title");
    }
    .managePower_item_member {
      width: 95%;
      height: 40%;
      padding: 0.8rem 0.5rem;
      box-sizing: border-box;
      .managePower_item_member_btn {
        width: 100%;
        height: 100%;
        border: 2px solid #ddd;
        border-image: -webkit-linear-gradient(
            top,
            transparent,
            #0a537f,
            transparent
          )
          3 10 3;
        position: relative;
        // border-image:  -webkit-linear-gradient( transparent , #0a537f , transparent) 1 10 1;
        .inner_border {
          width: 100%;
          height: 100%;
          border: 2px solid #ddd;
          border-image: -webkit-linear-gradient(
              left,
              transparent,
              #0a537f,
              transparent
            )
            3 10 3;
          padding: 2px 0;
          box-sizing: border-box;
          .inner_btn {
            width: 100%;
            height: 100%;
            background: #02487f;
            color: #19f7ff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: v-bind("font_32_9.inner_btn");
          }
          .inner_btn_unonline {
            width: 100%;
            height: 100%;
            background: #02487f;
            color: #018e96;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: v-bind("font_32_9.inner_btn");
          }
        }
      }
    }
  }
  .managePower_item::-webkit-scrollbar {
    width: 0 !important;
  }
  .managePower_item:last-child {
    // background: #3770ac;
    .managePower_item_title {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #18e8f1;
      padding: 0.5rem;
      box-sizing: border-box;
    }
    .zhibanyuan {
      height: 85%;
      display: flex;
      flex-direction: column;
      padding: 1rem 0.5rem;
      box-sizing: border-box;
      .zhibanyuan_item {
        flex: 1;
        display: grid;
        grid-template-columns: v-bind("font_32_9.zhibanyuan_item") auto;
        grid-template-rows: 100%;
        .zhibanyuan_item_name {
          color: white;
          text-align: left;
          font-size: v-bind("font_32_9.zhibanyuan_item_name");
          // height: 1rem;
        }
        .zhibanyuan_item_tabs {
          overflow-x: scroll;

          height: 100%;
          // padding: 0 !important;
          .zhibanyuan_tab_item {
            width: 100rem;
            text-align: left;
            padding: 0rem 1.5rem;
            box-sizing: border-box;
            span {
              display: inline-block;
              width: 5rem;
              padding: 0.1rem 0 0.1rem 0.5rem;
              background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-renfangxinxi%402x.png")
                no-repeat;
              background-size: 100% 100%;
              margin-right: 10px;
              box-sizing: border-box;
              font-size: v-bind("font_32_9.zhibanyuan_item_name");
            }
            .color_online{
              color: #3ddae5;
            }
            .color_unonline{
              color: #018e96;
            }
          }
        }
        .zhibanyuan_item_tabs::-webkit-scrollbar {
          width: 0px !important;
          height: 0px !important;
        }
      }
    }
  }
}
</style>
