<template>
  <div class="select-box _r_select_my_use" @click="activeFn">
    <!-- <div class="label _r_select_my_use">{{label}}</div> -->
    <div
      class="select-right _r_select_my_use"
      :title="txt"
      :class="[active ? 'active' : '', txt ? '' : 'gray']"
    >
      {{ txt ? ellipsis1(txt) : placeholder }}
    </div>
    <div class="list _r_select_my_use" v-if="active">
      <div
        class="select-part _r_select_my_use"
        v-for="(item, index) in list"
        :key="index"
        @click="chooseFn(item)"
        :title="item.value"
      >
        {{ ellipsis(item.value) }}
      </div>
    </div>
  </div>
</template>

<script>
let _active_select_index = 0; // 全局计数器，所有组件都用。 点击+1， 最高的是当前组件。其他组件关闭弹窗
import { reactive, getCurrentInstance } from "vue";
export default {
  name: "my-select",
  props: ["label", "list", "defTxt", "placeholder"],
  components: {},
  data() {
    return {
      txt: this.defTxt || null,
      active: false, // 弹窗是否展示
      active_select_index: 0, // 当前组件计数器
      eventFn: (e) => {
        const className = e.target.className;
        // 如果不是最高层级的组件 关闭弹窗
        if (this.active_select_index !== _active_select_index) {
          this.active = false;
        }
        // 如果有_r_select_my_use类名 点击的不是该组件 需要关闭弹窗
        if (className.indexOf("_r_select_my_use") === -1) {
          this.active = false;
        }
      },
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      content_title: "",
      title_select: "",
      title_unselect: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.content_title = "1.3rem";
      font_32_9.title_select = "1.3rem";
      font_32_9.title_unselect = "1rem";
      font_32_9.selectwidth = "13rem";
      font_32_9.selectsize = "1.1rem";
    } else {
      font_32_9.content_title = "1rem";
      font_32_9.title_select = "1rem";
      font_32_9.title_unselect = ".8rem";
      font_32_9.selectwidth = "8rem";
      font_32_9.selectsize = "0.8rem";
    }
    return {
      font_32_9,
    };
  },
  computed: {},
  created() {},
  mounted() {
    document.addEventListener("click", this.eventFn);
  },
  beforeDestroy() {
    document.removeEventListener("click", this.eventFn);
  },
  watch:{
    defTxt(val){
      if (val) {
        this.txt = val
      }
    }
  },
  methods: {
    activeFn() {
      // 点击组件 弹窗显示隐藏
      this.active = !this.active;

      // 全局计数器+1
      _active_select_index += 1;

      // 当前组件计数器 赋值
      this.active_select_index = _active_select_index;
    },
    chooseFn(obj) {
      this.txt = obj.value;
      this.$emit("chooseFn", obj);
    },
    ellipsis: function (value) {
      if (!value) return "";
      if (value.length > 4) {
        return value.slice(0, 4) + "...";
      }
      return value;
    },
    ellipsis1: function (value) {
      if (!value) return "";
      if (value.length > 3) {
        return value.slice(0, 3)+"...";
      }
      return value;
    },
  },
};
</script>

<style lang="less" scoped>
.select-box {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;
  border: 0.6px solid #01dff4;
  box-sizing: border-box;
  padding: 0 2%;
  .select-right {
    position: relative;
    // padding-right: 20px;
    // cursor: pointer;
    color: #01dff4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: v-bind("font_32_9.selectsize");
    &::after {
      content: "";
      position: absolute;
      width: 44px;
      height: 34px;
      right: 0;
      top: -5px;
      // background: url(~assets/img/icon-up.png) center/100% no-repeat;
    }
    &.active::after {
      // background: url(~assets/img/icon-down.png) center/100% no-repeat;
    }
    &.gray {
      color: #01dff4;
    }
  }
  .list {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    max-height: 12rem;
    transform: translateY(100%);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #112843;
    // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    border: 0.6px solid #01dff4;
    z-index: 9;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .select-part {
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      background-color: #112843;
      color: #c7dcf3;
      font-size: v-bind("font_32_9.one");
      &:hover {
        background-color: #02487fff;
      }
    }
  }
}
</style>
