<template>
  <div class="circle-progress">
    <div class="progress">
      <div v-for="item in 4" :key="item" class="block" :class="`block${item}`">
        <div
          v-if="rate < 0.25 * item"
          class="modal"
          :class="`modal${item}`"
          :style="{transform: getProgress(item)}"
        ></div>
      </div>
    </div>
    <div class="content">
        <div class="content-bg1">
           <div>{{rate}}%</div>
           <div>已完成</div>
        </div>
    </div>
  </div>
</template>

<script>
import { reactive , getCurrentInstance } from 'vue'
export default {
  name: "circle-progress",
  props: {
    rate: {
      default: 0
    }
  },
  setup(){
    const {proxy} = getCurrentInstance()
    let font_32_9 = reactive({
          txt_text :'',
          status_text:''
       })
       if(proxy.$root.$route.query.v=='1'){
          font_32_9.status_text = '2rem'
          font_32_9.txt_text = '1.3rem'
          font_32_9.txt_margin = '1rem'

      }else{
          font_32_9.status_text= '1.5rem'
          font_32_9.txt_text = '1rem'
           font_32_9.txt_margin = '1.5rem'
      }
    return{
       font_32_9
    }
  },
  methods: {
    getProgress(index) {
      const { rate } = this;
      if (index === 1) {
        return `rotate(${(rate / 0.25) * 90}deg)`;
      }
      if (index === 2) {
        if (rate > 0.25 && rate < 0.5) {
          return `rotate(${((rate - 0.25) / 0.25) * 90}deg)`;
        }
      }
      if (index === 3) {
        if (rate > 0.5 && rate < 0.75) {
          return `rotate(${((rate - 0.5) / 0.25) * 90}deg)`;
        }
      }
      if (index === 4) {
        if (rate > 0.75) {
          return `rotate(${((rate - 0.75) / 0.25) * 90}deg)`;
        }
      }
    }
  }
};
</script>

<style scoped lang="less">
.circle-progress {
  position: relative;
  left: 0;
  top: 0;
  width: 7rem;
  height: 7rem;
  background-color: #0d2c50;
  border-radius: 100%;
  overflow: hidden;
  .progress,
  .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .progress {
    .block {
      position: absolute;
      width: 50%;
      height: 50%;
      background: #74c5ff;
      &1 {
        left: 50%;
        top: 0;
      }
      &2 {
        left: 50%;
        top: 50%;
      }
      &3 {
        left: 0;
        top: 50%;
      }
      &4 {
        left: 0;
        top: 0;
      }
      .modal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #0d2c50;
        // transform: rotate(-90deg);
        &1 {
          transform-origin: 0 100%;
        }
        &2 {
          transform-origin: 0 0;
        }
        &3 {
          transform-origin: 100% 0;
        }
        &4 {
          transform-origin: 100% 100%;
        }
      }
    }
  }
  .content {
      .content-bg1, .content-bg2 {
          position: absolute;
          left: 7.5%;
          top: 7.5%;
          width: calc(100% - 15%);
          height: calc(100% - 15%);
          background-color: #0d213b;
          border-radius: 100%;
          color: white;
          div:first-child{
              margin-top: v-bind('font_32_9.txt_margin');
              font-size: v-bind('font_32_9.status_text');
              font-style: oblique;
              font-weight: 600;
          }
          div:last-child{
              font-size: v-bind('font_32_9.txt_text');
          }
      }
      .content-bg2 {
        //   background-color: #34277d;
      }
  }
}
</style>