<template>
  <div class="attendant" ref="myechart"></div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as echarts from "echarts";
export default {
  data() {
    return {};
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getEchart(style, datax, datay) {
      var myChart = echarts.init(this.$refs.myechart);
      let option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
              fontSize: style.Axisfont,
            },
          },
          textStyle: {
            fontSize: style.Axisfont,
          },
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          top: "7%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            data: datax,
            axisLabel: {
              show: true,
              textStyle: {
                color: "#5087a3",
                fontSize: style.Axisfont,
              },
            },
            axisTick: {
              //y轴刻度线
              show: false,
            },
            splitLine: {
              show: false,
            },
          },
        ],
        yAxis: [
          {
            type: "value",
            axisLabel: {
              show: "false",
              textStyle: {
                color: "#5087a3",
                fontSize: style.Axisfont,
              },
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: ["#315070"],
                width: 1,
                type: "solid",
              },
            },
          },
        ],
        series: [
          {
            name: "数量",
            type: "line",
            stack: "Total",
            areaStyle: {},
            symbol: "circle", //折线点设置为实心点
            symbolSize: 2, //折线点的大小
            itemStyle: {
              normal: {
                color: "#2bb6e4", //折线点的颜色
                lineStyle: {
                  color: "#2bb6e4", //折线的颜色
                },
              },
            },
            emphasis: {
              focus: "series",
            },
            smooth: true,
            data: datay,
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#2bb6e4" },
                  { offset: 1, color: "transparent" },
                ]),
              },
            },
          },
        ],
      };

      myChart.setOption(option);
    },
  },

  created() {},
  mounted() {
    if (this.$route.query.v == "1") {
      let echartfont = {
        Axisfont: "20",
      };
      this.getEchart(echartfont);
    } else {
      let echartfont = {
        Axisfont: "14",
      };
      this.$store.dispatch("getEventLineInfo", this.qushiParams).then((res) => {
        console.log(res.data);
        let datax = [];
        let datay = [];
        res.data.forEach((i) => {
          datax.push(i.time);
          datay.push(i.eventCount);
        });
        this.getEchart(echartfont, datax, datay);
      });

      // console.log(this.eventlineInfo)
    }
  },
  watch: {
    qushiParams: {
      handler(val) {
        if (this.$route.query.v == "1") {
          let echartfont = {
            Axisfont: "20",
          };
          this.getEchart(echartfont);
        } else {
          let echartfont = {
            Axisfont: "14",
          };
          this.$store.dispatch("getEventLineInfo", val).then((res) => {
            console.log(res.data);
            let datax = [];
            let datay = [];
            res.data.forEach((i) => {
              datax.push(i.time);
              datay.push(i.eventCount);
            });
            this.getEchart(echartfont, datax, datay);
          });

          // console.log(this.eventlineInfo)
        }
      },
      deep: true,
    },
  },
  computed: {
    ...mapState({
      qushiParams: (state) => state.selfTogether.qushiParams,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.attendant {
  width: 100%;
  height: 100%;
}
</style>
