<template>
  <div class="container">
      <!-- <img src="~@/assets/shengmingtizheng/guanbi.png" alt="" class="close" @click="close"> -->
      <!-- <div class="header">高空抛物</div> -->
      <div class="tableHeader">
          <div class="tableHeaderItem">时间</div>
          <div class="tableHeaderItem">会议主题</div>
          <div class="tableHeaderItem">参会人</div>
          <div class="tableHeaderItem">任务状态</div>
      </div>
      <div class="tableBody">
          <swiper
            :options="swiperOption"
            style="flex:1;width:100%;overflow:hidden;"
            ref="mySwiper"
          >
           <swiperSlide v-for="(item,index) in meetingList.list" :key="index" class="tableList">
               <div class="tableList" @click="sanhuiItemClick(item)">
                    <div class="tableListItem">{{item.createTime}}</div>
                    <div class="tableListItem">{{item.meetingType.desc}}</div>
                    <div class="tableListItem" :title="item.attendeeUserList">{{ellipsis(item.attendeeUserList)}}</div>
                    <div class="tableListItem">
                        {{item.meetingStatus.desc}}
                    </div>
                </div>
            </swiperSlide>
          </swiper>
      </div>
  </div>
</template>

<script>
import { reactive , getCurrentInstance } from 'vue'
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide ,directive} from 'vue-awesome-swiper'
import { mapState, mapGetters, mapMutations } from 'vuex'
export default {
    filters: {
        //超过20位显示...
        ellipsis: function(value) {
            if (!value) return "";
            if (value.length > 9) {
                return value.slice(0, 9) + "...";
            }
            return value;
        }
    }, 
    data(){
      return{
        swiperOption: {
            slidesPerView: "auto",//当前box放几条数据
            direction: "vertical",   //控制滚动的方向
            paginationClickable: true,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper 
            observeParents:true,//修改swiper的父元素时，自动初始化swiper 
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            loop: false,
            mousewheel:true,
            mousewheelControl:true,
            // slidesPerView:auto,
            height:600,
            centeredSlides: false,  // 是否居中显示
        },
        params:{
            page:1,
            limit:1000,
            meetingType:3,
            timeRangeType:6,
        },
        screenType:true
      }
    },
    setup(){
        const {proxy} = getCurrentInstance()
        let font_32_9 = reactive({
            one :'',
            one_three:''
        })
        if(proxy.$root.$route.query.v=='1'){
            // this.screenType = true;
            font_32_9.one = '1.65rem'
            font_32_9.one_three= '2.1rem'
            font_32_9.zero_seven_five= '1.4rem'
            font_32_9.thirty='65rem'
            font_32_9.seventeen='25rem'
            font_32_9.three= '5rem'
            font_32_9.two= '3rem'

        }else{
            // this.screenType = false;
            font_32_9.one = '1rem'
            font_32_9.one_three = '1.3rem'
            font_32_9.zero_seven_five = '0.75rem'
            font_32_9.thirty='30rem'
            font_32_9.seventeen='17rem'
            font_32_9.three= '3rem'
            font_32_9.two= '2rem'
        }
        return{
        font_32_9
        }
    },
    methods:{
      ...mapMutations([]),
      close(){
        this.$store.commit("SET_HIGHEVENT_POP",false)
      },
      sanhuiItemClick(item){
        this.$store.commit("SET_SANHUI_POP",true);
        this.$store.dispatch("getMeetingDetail",{meetingId:item.meetingId})
      },
      getList(){
        this.params.timeRangeType = this.taskParams.timeRangeType
        this.$store.dispatch("getMeetingList",this.params);
      },
      ellipsis: function(value) {
            if (!value) return "";
            if (value.length > 9) {
                return value.slice(0, 9) + "...";
            }
            return value;
        }
    },
    mounted(){
        this.getList();
    },
    components:{
        swiper,
        swiperSlide
    },
    directives: {
        swiper: directive
    },
    computed:{
        swiper() {
            return this.$refs.mySwiper.swiper;
        },
        ...mapState({
            meetingList:state =>state.selfTogether.meetingList,
            // qushiParams:state =>state.selfTogether.qushiParams,
            taskParams: (state) => state.selfTogether.taskParams,

        }),
    ...mapGetters([]),

    },
    watch:{
        taskParams:{
            handler(val,oldval){
                console.log(this.taskParams.timeRangeType);
                this.params.timeRangeType = this.taskParams.timeRangeType;
                this.getList();
            },
            deep:true,
        }
    }
}
</script>

<style lang="less" scoped>
    .container{
        // height: v-bind('font_32_9.seventeen');
        flex: 1;
        width: 100%;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .close{
          height: 1.5rem;
          width: 1.5rem;
          background-size: 100% 100%;
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
        }
        .header{
          height: v-bind('font_32_9.two');;
          display: flex;
          flex-direction: column;
          color:#00EFFF ;
          // text-align: center;
          align-items: center;
          justify-content: center;
          font-size: v-bind('font_32_9.one_three');
        }
        .tableHeader{
                height: v-bind('font_32_9.three');
                width: 100%;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                padding: 0% 2%;
                // background-color: yellowgreen;
                .tableHeaderItem{
                    flex: 1;
                    height: 100%;
                    color: #00EFFF;
                    font-size: v-bind('font_32_9.one');
                    // background-color: violet;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
                .tableHeaderItem:last-child{
                  flex: 1.3;
                }
            }
            .tableBody{
                flex: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 0% 2%;
                overflow: hidden;
                // background-color: yellowgreen;
                .tableList{
                    height: v-bind('font_32_9.three');
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                    .tableListItem{
                        flex: 1;
                        height: 100%;
                        color: #ffffff;
                        font-size: v-bind('font_32_9.one');
                        // background-color: violet;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;


                    }
                    .tableListItem:last-child{
                        flex: 1.3;
                    }
                    .img{
                        height: 70%;
                        width: 90%;
                        background-size: 100%b 100%;
                    }
                }
                .tableList:nth-child(2n) {
                    background-color: #01456F;
                }

            }
    }
</style>