<template>
  <div class="container">
    <div class="tableHeader">
      <div class="tableHeaderItem">时间</div>
      <div class="tableHeaderItem">案件类型</div>
      <div class="tableHeaderItem">处置状态</div>
      <div class="tableHeaderItem">任务状态</div>
    </div>
    <div class="tableBody">
      <swiper
        :options="swiperOption"
        style="flex: 1; width: 100%; overflow: hidden"
        ref="mySwiper"
      >
        <swiperSlide
          v-for="(item, index) in eventList.list"
          :key="index"
          class="tableList"
        >
          <div
            class="tableList"
            @click="itemClick(item)"
            @dblclick="dblItem(item)"
          >
            <div class="tableListItem">{{ item.createTime }}</div>
            <div class="tableListItem">{{ item.name }}</div>
            <div class="tableListItem">
              <span v-if="item.status == 0">待接单</span>
              <span v-if="item.status == 1">处置中</span>
              <span v-if="item.status == 2">已完成</span>
            </div>
            <div class="tableListItem">
              <img
                v-if="item.status == 0"
                src="~@/assets/shengmingtizheng/first.png"
                alt=""
                class="img"
              />
              <img
                v-if="item.status == 1"
                src="~@/assets/shengmingtizheng/second.png"
                alt=""
                class="img"
              />
              <img
                v-if="item.status == 2"
                src="~@/assets/shengmingtizheng/forth.png"
                alt=""
                class="img"
              />
            </div>
          </div>
        </swiperSlide>
      </swiper>
    </div>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from "vue";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide, directive } from "vue-awesome-swiper";
import { mapState } from "vuex";
export default {
  data() {
    return {
      swiperOption: {
        slidesPerView: "auto", //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 4000,
        autoplayDisableOnInteraction: false,
        loop: false,
        mousewheel: true,
        mousewheelControl: true,
        // slidesPerView:auto,
        height: 600,
        centeredSlides: false, // 是否居中显示
      },
      tableList: [],
      params: {
        timeRangeType: 6, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 1,
        limit: 100,
        // handleTimeOutFlag:true, //处置超时查询条件
      },
      timer: null,
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      one: "",
      one_three: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      // this.screenType = true;
      font_32_9.one = "1.65rem";
      font_32_9.one_three = "2.1rem";
      font_32_9.zero_seven_five = "1.4rem";
      font_32_9.thirty = "65rem";
      font_32_9.seventeen = "25rem";
      font_32_9.three = "5rem";
      font_32_9.two = "3rem";
    } else {
      // this.screenType = false;
      font_32_9.one = "1rem";
      font_32_9.one_three = "1.3rem";
      font_32_9.zero_seven_five = "0.75rem";
      font_32_9.thirty = "30rem";
      font_32_9.seventeen = "17rem";
      font_32_9.three = "3rem";
      font_32_9.two = "2rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    dblItem(item) {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
      console.log(item);
      let json = {
        type: "FeatureCollection",
        option: "highlight",
        crs: {
          type: "name",
          properties: {
            name: "EPSG:4326",
          },
        },
        features: [
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [item.lng, item.lat],
            },
            properties: {
              type: "highlight",
            },
          },
        ],
      };
      if(item.name == "电梯监测"){
            localStorage.setItem("wenTaskId", item.id);
            this.$store.commit("DETAIL_DIALOG_DIANTI", true);
        }else{
            localStorage.setItem("wenTaskId", item.id);
            this.$store.commit("DETAIL_DIALOG", true);
        }
      // localStorage.setItem("wenTaskId", item.id);
      // this.$store.commit("DETAIL_DIALOG", true);
      let thingmap_zhili = document.getElementById("thingmap_zizhi");
      thingmap_zhili.contentWindow.postMessage(json, "*");
    },
    itemClick(item) {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
        this.timer = setTimeout(() => {
          console.log(item);
          if (item.stage > 2) {
            console.log(2);
            this.$store.commit("ADD_TASK_HANDLE_MARKER", {
              data: [item],
              type: "handle_resolve",
            });
          }
          if (item.stage < 3) {
            console.log(3);
            this.$store.commit("ADD_TASK_HANDLE_MARKER", {
              data: [item],
              type: "handle_unresolve",
            });
          }
        }, 300);


      // this.$store.commit("SET_TASKHANDLEDETAIL_POP", true);
      // this.$store.dispatch("getTaskDetail",{id:item.id});
    },
    getList() {
      this.$store.dispatch("selfTogetherTaskList", this.params);
    },
  },
  mounted() {
    this.getList();
  },
  components: {
    swiper,
    swiperSlide,
  },
  directives: {
    swiper: directive,
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
    ...mapState({
      eventList: (state) => state.lifeTizheng.selfTogetherTaskList,
      taskParams: (state) => state.selfTogether.taskParams,
    }),
  },
  watch: {
    taskParams: {
      handler(val, oldval) {
        console.log(this.taskParams.timeRangeType);
        this.params.timeRangeType = this.taskParams.timeRangeType;
        this.getList();
      },
      deep: true,
    },
  },
};
</script>

<style lang="less" scoped>
.container {
  // height: v-bind('font_32_9.seventeen');
  flex: 1;
  width: 100%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .close {
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100% 100%;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
  .header {
    height: v-bind("font_32_9.two");
    display: flex;
    flex-direction: column;
    color: #00efff;
    // text-align: center;
    align-items: center;
    justify-content: center;
    font-size: v-bind("font_32_9.one_three");
  }
  .tableHeader {
    height: v-bind("font_32_9.three");
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0% 2%;
    // background-color: yellowgreen;
    .tableHeaderItem {
      flex: 1;
      height: 100%;
      color: #00efff;
      font-size: v-bind("font_32_9.one");
      // background-color: violet;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .tableHeaderItem:last-child {
      flex: 1.3;
    }
  }
  .tableBody {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0% 2%;
    overflow: hidden;
    // background-color: yellowgreen;
    .tableList {
      height: v-bind("font_32_9.three");
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      .tableListItem {
        flex: 1;
        height: 100%;
        color: #ffffff;
        font-size: v-bind("font_32_9.one");
        // background-color: violet;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .tableListItem:last-child {
        flex: 1.3;
      }
      .img {
        height: 70%;
        width: 90%;
        background-size: 100%b 100%;
      }
    }
    .tableList:nth-child(2n) {
      background-color: #01456f;
    }
  }
}
</style>