<template>
  <div class="taskHandle">
    <div class="taskhandle_item">
      <progresscycle :rate='eventstatisticsVo.completion'></progresscycle>
    </div>
    <div class="taskhandle_item">
      <div class="taskhandle_item_tip">
        <div class="taskhandle_item_tipbg">
          <div>一级联动</div>
          <div>{{eventstatisticsVo.firstCount}}</div>
        </div>
      </div>
      <div class="taskhandle_item_tip">
        <div class="taskhandle_item_tipbg">
          <div>二级联动</div>
          <div>{{eventstatisticsVo.secondCount}}</div>
        </div>
      </div>
      <div class="taskhandle_item_tip">
        <div class="taskhandle_item_tipbg">
          <div>三级联动</div>
          <div>{{eventstatisticsVo.thirdCount}}</div>
        </div>
      </div>
      <div class="taskhandle_item_tip">
        <div class="taskhandle_item_tipbg">
          <div>四级联动</div>
          <div>{{eventstatisticsVo.fourthCount}}</div>
        </div>
      </div>
    </div>
    <div class="taskhandle_item">
      <div class="taskTypeItem" @click="caseClick(1)">
        <div class="taskHandle_color">{{eventstatisticsVo.overtimeCount}}</div>
        <div>异常</div>
      </div>
      <div class="taskTypeItem" @click="caseClick(2)">
        <div class="taskHandle_color">{{eventstatisticsVo.addCount}}</div>
        <div>新增</div>
      </div>
      <div class="taskTypeItem" @click="caseClick(3)">
        <div class="taskHandle_color">{{eventstatisticsVo.noDisposalCount}}</div>
        <div>未处置</div>
      </div>
      <div class="taskTypeItem" @click="caseClick(4)">
        <div class="taskHandle_color">{{eventstatisticsVo.disposalCount}}</div>
        <div>处置中</div>
      </div>
      <div class="taskTypeItem" @click="caseClick(5)">
        <div class="taskHandle_color">{{eventstatisticsVo.completeCount}}</div>
        <div>已完成</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import progresscycle from "@/components/selfTogether/progress_cycle";
import { reactive , getCurrentInstance } from 'vue'
export default {
  data() {
    return {
      params:{

      }
    };
  },
  setup(){
    const {proxy} = getCurrentInstance()
    let font_32_9 = reactive({
          status_text:'',
          bgSize:'90%'
       })
       if(proxy.$root.$route.query.v=='1'){
          font_32_9.taskHandle_color = '2rem'
          font_32_9.status_text = '1.35rem'
          font_32_9.bgSize = '70%'
      }else{
          font_32_9.status_text= '1rem'
          font_32_9.taskHandle_color = '1.5rem'
          font_32_9.bgSize = '90%'
      }
    return{
       font_32_9
    }
  },
  props: [],
  methods: { 
    caseClick(val){
      this.$store.commit("SET_CASELIST_POP",true);
      switch (val) {
        case 1:
          this.params = {
            timeRangeType:this.taskParams.timeRangeType,  // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page:1,
            limit:9,
            timeOutFlag:true
          }
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE",'异常案件');    //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case 2:
          this.params = {
            timeRangeType:this.taskParams.timeRangeType,  // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page:1,
            limit:9,
          }
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE",'新增案件');    //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case 3:
           this.params = {
            timeRangeType:this.taskParams.timeRangeType,  // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page:1,
            limit:9,
            eventStatus:0
          }
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE",'未处置案件');    //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case 4:
           this.params = {
            timeRangeType:this.taskParams.timeRangeType,  // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page:1,
            limit:9,
            eventStatus:1
          }
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE",'处置中案件');    //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
        case 5:
           this.params = {
            timeRangeType:this.taskParams.timeRangeType,  // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
            page:1,
            limit:9,
            eventStatus:2
          }
          this.getCaseList();
          this.$store.commit("SET_CASE_LIST_POP_TITLE",'已完成案件');    //点击对应的类型,传递不同的模块标题名称,用于pop中展示
          break;
      }
    },
    getCaseList(){
        this.$store.dispatch('getEventList',this.params);
    },
    ...mapMutations([]) },

  created() {},
  mounted() {
    this.$store.dispatch('getEventStatisticsVo',this.taskParams)
  },
  watch: {},
  computed: {
    ...mapState({
      eventstatisticsVo:state=>state.selfTogether.eventstatisticsVo,
      taskParams: (state) => state.selfTogether.taskParams,
    }),

    ...mapGetters([]),
  },
  components: {
    progresscycle,
  },
};
</script>

<style lang='less' scoped>
.taskHandle {
  width: 100%;
  height: 100%;
  //   background: burlywood;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 60% 40%;
  .taskhandle_item:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .taskhandle_item:nth-child(2) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    .taskhandle_item_tip {
      padding: 10px 5px 10px 0;
      .taskhandle_item_tipbg {
        width: 100%;
        height: 100%;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-renfangxinxi%402x.png")
          no-repeat;
        background-size: 100% 100%;
        display: flex;
        div:first-child {
          font-size: v-bind('font_32_9.status_text');
          flex: 1.5;
          display: flex;
          justify-content: left;
          align-items: center;
          padding-left: 5px;
          color: #43e8f0;
        }
        div:last-child {
          font-size: v-bind('font_32_9.status_text');
          flex: 1;
          display: flex;
          justify-content: right;
          align-items: center;
          padding-right: 5px;
          color: #f9e82b;
        }
      }
    }
  }
  .taskhandle_item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    .taskHandle_color {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      width: 80%;
      align-items: center;
      color: white;
      font-size: v-bind('font_32_9.taskHandle_color');
    }


  }
  .taskTypeItem{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    .taskHandle_color {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      width: 80%;
      align-items: center;
      color: white;
      font-size: v-bind('font_32_9.taskHandle_color');
    }
  }
  .taskTypeItem:first-child{
    .taskHandle_color{
      background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/%E5%BC%82%E5%B8%B8.png")
        no-repeat;
      background-size:v-bind('font_32_9.bgSize') 100%;
      background-position: center;
    }
  }
  .taskTypeItem:nth-child(2){
    .taskHandle_color{
       background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/%E6%96%B0%E5%A2%9E.png")
        no-repeat;
      background-size:v-bind('font_32_9.bgSize') 100%;
      background-position: center;
    }
  }
  .taskTypeItem:nth-child(3){
    .taskHandle_color{
       background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/%E6%9C%AA%E5%A4%84%E7%BD%AE.png")
        no-repeat;
      background-size:v-bind('font_32_9.bgSize') 100%;
      background-position: center;
    }
  }
  .taskTypeItem:nth-child(4){
    .taskHandle_color{
       background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/%E5%A4%84%E7%BD%AE%E4%B8%AD.png")
        no-repeat;
      background-size:v-bind('font_32_9.bgSize') 100%;
      background-position: center;
    }
  }
  .taskTypeItem:nth-child(5){
    .taskHandle_color{
       background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/%E5%AE%8C%E6%88%90.png")
        no-repeat;
      background-size:v-bind('font_32_9.bgSize') 100%;
      background-position: center;
    }
  }
}
</style>
