<template>
  <div class="attendant" ref="myechart"></div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as echarts from "echarts";
export default {
  data() {
    return {};
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getEchart(style, data) {
      console.log(style);
      var myChart = echarts.init(this.$refs.myechart);
      let option = {
        tooltip: {
          trigger: "item",
          textStyle: {
            fontSize: style.tooltipFont,
          },
        },
        color: ["#98d65c", "#22e2e2", "#a864a8", "#fdb357"],
        legend: {
          orient: "vertical",
          y: "center",
          x: "right",
          textStyle: {
            color: "#f4f4f4",
            fontSize: style.legendfont,
          },
          icon: "circle",
        },
        series: [
          {
            name: "数量",
            type: "pie",
            radius: ["40%", "70%"],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: "center",
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "20",
                fontWeight: "bold",
              },
            },
            grid: {
              left: "3%",
            },
            labelLine: {
              show: false,
            },
            data: data,
          },
        ],
      };

      myChart.setOption(option);
      let that = this;
      myChart.on("click", function (params) {
        console.log(params.data);
        that.$store.commit("SET_WARNING_EVENT_POP", false);
        that.$store.commit("GET_WARNING_EVENT_POP_SOURCE", params.data.name);
      });
    },
  },

  created() {},
  mounted() {
    if (this.$route.query.v == "1") {
      let echartfont = {
        legendfont: "20",
        tooltipFont: "20",
      };
      this.$store.dispatch("warningtask", this.warningParams).then((res) => {
        let arr = [];
        res.data.data.forEach((item) => {
          arr.push({ name: item.eventsName, value: item.eventsCount });
        });
        this.getEchart(echartfont, arr);
      });
    } else {
      let echartfont = {
        legendfont: "14",
        tooltipFont: "14",
      };
      this.$store.dispatch("warningtask", this.warningParams).then((res) => {
        let arr = [];
        res.data.data.forEach((item) => {
          arr.push({ name: item.eventsName, value: item.eventsCount });
        });
        this.getEchart(echartfont, arr);
      });
    }
  },
  watch: {
    warningParams: {
      handler(val, oldval) {
        if (this.$route.query.v == "1") {
          let echartfont = {
            legendfont: "20",
            tooltipFont: "20",
          };
          this.$store
            .dispatch("warningtask", val)
            .then((res) => {
              let arr = [];
              res.data.data.forEach((item) => {
                arr.push({ name: item.eventsName, value: item.eventsCount });
              });
              this.getEchart(echartfont, arr);
            });
        } else {
          let echartfont = {
            legendfont: "14",
            tooltipFont: "14",
          };
          this.$store
            .dispatch("warningtask", val)
            .then((res) => {
              let arr = [];
              res.data.data.forEach((item) => {
                arr.push({ name: item.eventsName, value: item.eventsCount });
              });
              this.getEchart(echartfont, arr);
            });
        }
      },
      deep: true,
    },
  },
  computed: {
    ...mapState({
      warningParams: (state) => state.selfTogether.warningParams,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.attendant {
  width: 100%;
  height: 100%;
  //   background: chartreuse;
}
</style>
