<template>
  <div class="wen-box" @click="closeDialog(2)">
    <div class="dialog-box"  @click.stop>
      <div class="dialog-head">
        <div class="head-one">编辑信息</div>
        <div class="head-two" @click.stop="closeDialog(2)"></div>
      </div>
      <div class="content-list">
        <div class="task-list">
          <div class="list-item" v-if="false">
            <div class="item-name">发件人：</div>
            <div class="item-value">
              <input type="text" v-model="personId.name" disabled />
            </div>
          </div>
          <div class="list-item">
            <div class="item-name">收件人：</div>
            <div class="item-value">
              <input type="text" v-model="personId.name" />
            </div>
          </div>
          <div class="list-item">
            <div class="item-name">通知类别：</div>
            <div class="item-value1">
              <div
                class="button-box"
                :class="{ 'active-box': infoType === 0 }"
                @click="infoType = 0"
              >服务类</div>
              <div
                class="button-box"
                :class="{ 'active-box': infoType === 2 }"
                @click="infoType = 2"
              >通知类</div>
              <div
                class="button-box"
                :class="{ 'active-box': infoType === 1 }"
                @click="infoType = 1"
              >预警类</div>
            </div>
          </div>
          <div class="list-item">
            <div class="item-name">通知方式：</div>
            <div class="item-value1">
              <div
                class="button-box"
                :class="{ 'active-box': selectWayArr.indexOf('0') >= 0 }"
                @click="selectWay('0')"
              >小程序</div>
              <div
                class="button-box"
                :class="{ 'active-box': selectWayArr.indexOf('1') >= 0 }"
                @click="selectWay('1')"
              >短信</div>
            </div>
          </div>
          <div class="list-item">
            <div class="item-name">内容：</div>
            <div class="item-value content-height">
              <textarea name id cols="30" rows="10" v-model="content" @dblclick="showTip"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="button-box">
        <div class="submit-button" @click="closeDialog(1)">确定</div>
        <div class="cancle-button" @click="closeDialog(2)">取消</div>
      </div>
      <el-dialog
        center
        title='提示'
        v-model="dialogVisible"
        class="tootipBox"
        width="30%"
        >
        <el-table :data="getTootipList.data.list"
        @row-click="onTipItemClick"
                 >
          <!-- <el-table-column property="name" label=""> -->
             <!-- <template slot-="scope">
              <div @click="onTipItemClick(scope.row)">{{scope.row.name}}</div> 
            </template> -->
          <!-- </el-table-column> -->
          <el-table-column property="content" label=""></el-table-column>
         
        </el-table>
      </el-dialog>
    </div>

  </div>
  
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
import { ElMessage, } from "element-plus";
export default {
  data() {
    return {
      activities: [
        {
          content: "【智能发现】",
          timestamp: "2018-04-12 20:46",
          size: "large",
          type: "primary",
          color: "#19F7FF"
        }
      ],
      testData:[{
        name:"测试"
      },{
        name:"测试"
      },{
        name:"测试"
      },{
        name:"测试"
      },],
      dialogVisible:false,
      infoType: 0,
      infoWay: 1,
      content: "",
      address: "",
      selectWayArr: []
    };
  },
  props: ["personId"],
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      normal_font: "",
      title_font: "",
      name_width: ""
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.65rem";
      font_32_9.title_font = "1.7rem";
      font_32_9.name_width = "9rem";
      font_32_9.tag_width = "10.5rem";
    } else {
      font_32_9.normal_font = "1rem";
      font_32_9.title_font = "1.3rem";
      font_32_9.name_width = "6rem";
      font_32_9.tag_width = "5.5rem";
    }
    return {
      font_32_9
    };
  },
  methods: {
    ...mapMutations([]),
    showDialog(){
      this.$store.commit("EDIT_INFORM_DIALOG", true);
      console.log("总")
    },
    closeDialog(index) {
      if (index === 1) {
        if (this.selectWayArr.length === 2) {
          this.infoWay = "2";
          this.$store.commit("CLOSE_DIALOG", false);
          this.sendMessage();
          // this.$store.commit("CLOSE_DIALOG", false);
        } else if (this.selectWayArr.length === 1) {
          this.infoWay = this.selectWayArr[0];
          this.$store.commit("CLOSE_DIALOG", false);
          this.sendMessage();
        } else {
          ElMessage({
            type: "error",
            message: "请选择通知方式"
          });
        }
      } else {
        this.$store.commit("CLOSE_DIALOG", false);
        console.log("关闭")
      }
    },
    sendMessage() {
      console.log(this.personId);
      const params = {
        type: String(this.infoType),
        content: this.content,
        senderName: this.personId.id,
        // senderId: localStorage.getItem("token"),
        addressee:this.personId.name,
        noticeType: this.infoWay,
        ids:this.personId.ids
      };
      this.$store.dispatch("sendMassage", params);
    },
    selectWay(index) {
      let number = this.selectWayArr.indexOf(index);
      if (number < 0) {
        this.selectWayArr.push(index);
      } else {
        this.selectWayArr.splice(index, 1);
      }
    },
    showTip(){
      this.dialogVisible = true
    },
    onTipItemClick(item){
      this.content += item.content
      this.dialogVisible = false
    }
  },
  created() {},
  mounted() {
    this.$store.dispatch("getTootipList",{limit:50,page:1});
  },
  computed: {
    ...mapState({
      isShowWenDialog: state => state.isShowWenDialog,
      getTootipList : state => state.infoMessage.getTootipList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/wenLess/wenconmon.less";
.wen-box {
  text-align: left;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .dialog-box {
    width: 34%;
    height: @wenallheight - 40%;
    background-color: rgba(0, 53, 93, 0.8);
    border: 0.1rem solid #01b1f1;
    .dialog-head {
      width: 100%;
      height: 6%;
      position: relative;
      font-size: v-bind("font_32_9.title_font");
      .head-one {
        width: 21%;
        height: @wenallheight;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: 100% 100%;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 2rem;
      }
      .head-two {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: 100% 100%;
        width: 10%;
        height: @wenallheight;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
    .content-list {
      display: flex;
      flex-flow: column;
      margin-left: 1%;
      margin-right: 1%;
      height: 80%;
      /deep/ .el-timeline-item__tail {
        border-left: 2px solid #47c2ec;
      }
      .content-item-head {
        margin-top: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: v-bind("font_32_9.badge_font");
        img {
          width: @normalfontsize;
          height: 1rem;
          border-radius: 50%;
          margin-right: 1rem;
        }
        span {
          color: #19f7ff;
        }
      }
      .task-list {
        display: flex;
        flex-flow: column;
        margin: 1%;
        color: #ffffff;
        font-size: v-bind("font_32_9.normal_font");
        .list-item {
          display: flex;
          flex-flow: row;
          padding: 0.8rem;
          .item-name {
            width: v-bind("font_32_9.name_width");
            text-align: right;
            color: #fff;
          }
          .button-box {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-blue.png")
              no-repeat;
            background-size: @wenallbackgroundsize;
            width: v-bind("font_32_9.tag_width");
            height: 2.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0.5rem;
            cursor: pointer;
          }
          .active-box {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-yellow.png")
              no-repeat;
            background-size: 100% 100%;
            width: v-bind("font_32_9.tag_width");
            height: 2.6rem;
          }
          .item-value {
            display: flex;
            align-items: center;
            border: 0.1rem solid #0f83af;
            background-color: #00355d;
            border-radius: 0.2rem;
            width: 90%;
            padding: 0.5rem;
            .img-bg {
              background-color: #2c3e50;
              width: 8rem;
              height: 10em;
            }
            .wen-star {
              width: 1.2rem;
              height: 1.2rem;
              margin-right: 0.2rem;
            }
            input {
              width: 100%;
              height: 100%;
              margin: 0;
              outline: none;
              border: none;
              color: #ffffff;
              font-size: 1rem;
              background-color: #00355d;
            }
          }
          .item-value1 {
            display: flex;
            align-items: center;
            width: 90%;
            padding: 0 0.5rem;
          }
          .content-height {
            height: 8rem;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            padding: 0;
            textarea {
              width: 100%;
              padding: 0.5rem;
              margin: 0;
              background-color: #00355d;
              height: 85%;
              outline: none;
              border: none;
              color: #ffffff;
              font-size: 1rem;
              margin-bottom: 0.2rem;
            }
          }
        }
      }
    }
    .button-box {
      display: flex;
      justify-content: center;
      .submit-button {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-queding.png")
          no-repeat;
        background-size: 100% 100%;
        font-size: v-bind("font_32_9.normal_font");
        width: 8rem;
        height: 3rem;
        color: #ccfffd;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0.2rem;
      }
      .cancle-button {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-quxiao.png")
          no-repeat;
        background-size: 100% 100%;
        font-size: v-bind("font_32_9.normal_font");
        width: 8rem;
        height: 3rem;
        color: #ccfffd;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0.2rem;
      }
    }
    .tootipBox{
      /deep/ .el-dialog{
        --el-dialog-background-color:red;
      }
    }
  }
}
</style>
