<template>
  <div class="wen-box" @click="closeDialog()">
    <div class="dialog-box"  @click.stop="showDialog">
      <div class="dialog-head">
        <div class="head-one">通知详情</div>
        <div class="head-two" @click.stop="closeDialog()"></div>
      </div>
      <div class="content-list">
        <div class="task-list">
          <div class="list-item">
            <div class="item-name">发件人：</div>
            <div class="item-value">{{ infodetail.senderName }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">收件人：</div>
            <div class="item-value">{{ infodetail.addressee }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">通知类别：</div>
            <div class="item-value1">
              <div class="button-box">{{ infodetail.typetext }}</div>
            </div>
          </div>
          <div class="list-item">
            <div class="item-name">通知方式：</div>
            <div class="item-value1">
              <div class="button-box">{{ infodetail.noticetext }}</div>
            </div>
          </div>
          <div class="list-item">
            <div class="item-name">内容：</div>
            <div class="item-value content-height">
              {{ infodetail.content }}
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="button-box">
        <div class="submit-button" @click="closeDialog()">确定</div>
      </div> -->
      
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      activities: [
        {
          content: "【智能发现】",
          timestamp: "2018-04-12 20:46",
          size: "large",
          type: "primary",
          color: "#19F7FF",
        },
      ],
      infodetail: {},
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      normal_font: "",
      title_font: "",
      name_width: "",
      tag_width: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.65rem";
      font_32_9.title_font = "1.7rem";
      font_32_9.name_width = "9rem";
      font_32_9.tag_width = "10.5rem";
    } else {
      font_32_9.normal_font = "1rem";
      font_32_9.title_font = "1.3rem";
      font_32_9.name_width = "6rem";
      font_32_9.tag_width = "5.5rem";
    }
    return {
      font_32_9,
    };
  },
  props: ["personId"],
  methods: {
    ...mapMutations([]),
    closeDialog() {
      this.$store.commit("CLOSE_DIALOG", false);
    },
    showDialog() {
      this.$store.commit("INFORM_DIALOG", true);
    },
  },

  created() {},
  mounted() {
    this.infodetail = JSON.parse(localStorage.getItem("infodetail"));
  },
  watch: {
    personId: function (val, old) {
      console.log("~~~~~~~~~~", val);
    },
    infodetail: function (val) {
      let noticetext = "";
      if (val.noticeType === "0") {
        noticetext = "小程序";
      } else if (val.noticeType === "1") {
        noticetext = "短信";
      } else if (val.noticeType === "2") {
        noticetext = "全部";
      }
      Object.assign(val, { noticetext: noticetext });
    },
  },
  computed: {
    ...mapState({
      isShowWenDialog: (state) => state.isShowWenDialog,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
@import "~@/assets/wenLess/wenconmon.less";
.wen-box {
  text-align: left;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .dialog-box {
    width: 34%;
    height: 70%;
    background-color: rgba(0, 53, 93, 0.8);
    border: 0.1rem solid #01b1f1;
    .dialog-head {
      width: 100%;
      height: 6%;
      position: relative;
      font-size: v-bind("font_32_9.title_font");
      .head-one {
        width: 21%;
        height: 100%;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: @wenallbackgroundsize;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 2rem;
      }
      .head-search {
        border: 0.1rem solid #01dff4;
        position: absolute;
        top: 1%;
        height: @wenallheight;
        right: 12%;
        width: 20%;
        display: flex;
        border-radius: 5rem;
        justify-content: flex-start;
        input {
          border: none;
          height: 80%;
          background-color: transparent;
          width: 90%;
          padding-left: 1rem;
          color: #16dbe4;
          outline: none;
          font-size: 16px;
        }
        img {
          width: 15%;
          height: 93%;
          padding-top: 1%;
        }
      }
      .head-two {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: 100% 100%;
        width: 10%;
        height: @wenallheight;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
    .content-list {
      display: flex;
      flex-flow: column;
      margin-left: 1%;
      margin-right: 1%;
      height: 80%;
      /deep/ .el-timeline-item__tail {
        border-left: 2px solid #47c2ec;
      }
      .content-item-head {
        margin-top: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: v-bind("font_32_9.badge_font");
        img {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          margin-right: 1rem;
        }
        span {
          color: #19f7ff;
        }
      }
      .task-list {
        display: flex;
        flex-flow: column;
        margin: 1%;
        color: #ffffff;
        font-size: v-bind("font_32_9.normal_font");
        .list-item {
          display: flex;
          flex-flow: row;
          padding: 0.8rem;
          .item-name {
            width: v-bind("font_32_9.name_width");
            text-align: right;
            color: #19f7ff;
          }
          .button-box {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-blue.png")
              no-repeat;
            background-size: @wenallbackgroundsize;
            width: v-bind("font_32_9.tag_width");
            height: 2.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0.5rem;
          }
          .item-value {
            display: flex;
            align-items: center;
            border: 0.1rem solid #0f83af;
            background-color: #00355d;
            border-radius: 0.2rem;
            width: 90%;
            padding: 0.5rem;
            .img-bg {
              background-color: #2c3e50;
              width: 8rem;
              height: 10em;
            }
            .wen-star {
              width: 1.2rem;
              height: 1.2rem;
              margin-right: 0.2rem;
            }
          }
          .item-value1 {
            display: flex;
            align-items: center;
            width: 90%;
            padding: 0 0.5rem;
          }
          .content-height {
            height: 9rem;
            overflow-y: scroll;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
          }
        }
      }
    }
    .button-box {
      display: flex;
      justify-content: center;
      .submit-button {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-queding.png")
          no-repeat;
        background-size: 100% 100%;
        font-size: v-bind("font_32_9.normal_font");
        width: @normalfontsize*10;
        height: 3rem;
        color: #ccfffd;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
</style>
