<template>
    <div style="width:100%;height:100%;background:red">
        <button @click="cameradahua1">大华1</button>
        <button @click="cameradahua2">大华2</button>
        <cameraDahuavideo :cameraList="list"></cameraDahuavideo>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import cameraDahuavideo from './cameraDahuavideo.vue';
export default {
    data() {
        return {
            list: []
        }
    },
    props: [],
    methods: {
        ...mapMutations([]),
        cameradahua1() {
            this.list = [
                '2JBv7eUuA1DILKPB1SGSPP',
                '2JBv7eUuA1DILKPB1SGTCG',
                '2JBv7eUuA1DILKPB1UE4AE',
                '2JBv7eUuA1DILKPB1VCLNF',
                '2JBv7eUuA1DILKPB1VCM1T',
                '2JBv7eUuA1DILKPB20B844',
                '2JBv7eUuA1DILKPB20B9J5',
                '2JBv7eUuA1DILKPB219RJ9',
                '2JBv7eUuA1DILKPB219SNJ',
            ]
        },
        cameradahua2() {
            this.list = [
                '2JBv7eUuA1DILKPB228DS7',
                '2JBv7eUuA1DILKPB228E5H',
                '2JBv7eUuA1DILKPB228EEA',
                '2JBv7eUuA1DILKPB228FC7',
                '2JBv7eUuA1DILKPB1VCM1T',
                '2JBv7eUuA1DILKPB20B844',
                '2JBv7eUuA1DILKPB2370OJ',
                '2JBv7eUuA1DILKPB219RJ9',
                '2JBv7eUuA1DILKPB23712V',
            ]
        }
    },

    created() {
        this.list = [
            '2JBv7eUuA1DILKPB1SGSPP',
            '2JBv7eUuA1DILKPB1SGTCG',
            '2JBv7eUuA1DILKPB1UE4AE',
            '2JBv7eUuA1DILKPB1VCLNF',
            '2JBv7eUuA1DILKPB1VCM1T',
            '2JBv7eUuA1DILKPB20B844',
            '2JBv7eUuA1DILKPB20B9J5',
            '2JBv7eUuA1DILKPB219RJ9',
            '2JBv7eUuA1DILKPB219SNJ',
        ]
    },
    mounted() { },
    watch: {},
    computed: {
        ...mapState({}),

        ...mapGetters([])

    },
    components: {
        cameraDahuavideo
    }
}
</script>

<style lang='less'>
</style>
