<template>
    <div class="testhls">
        <div class="camera_item" v-for="(item,index) in hlscameraList" :key="index">
            <videoStream :url="hlscameraList[index].url" :reffer="hlscameraList[index].cameraCode"></videoStream>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videoStream from "@/components/videoContainer/videoStream";
export default {
    data() {
        return {
            hlscameraList: [{ url: "", cameraCode: "" }, { url: "", cameraCode: "" }, { url: "", cameraCode: "" }, { url: "", cameraCode: "" }]
        };
    },
    props: [],
    methods: { ...mapMutations([]) },

    created() { },
    mounted() {
        this.$store.dispatch("cameraPreviewURLV2", { cameraCode: "2JBv7eUuA1DILKPB16HEUG" }).then(res => {
            this.hlscameraList[0] = { url: res.data, cameraCode: "camera_o1" }
        })
        this.$store.dispatch("cameraPreviewURLV2", { cameraCode: "11111_31011579011128100281" }).then(res => {
            this.hlscameraList[1] = { url: res.data, cameraCode: "camera_o2" }
        })
        this.$store.dispatch("cameraPreviewURLV2", { cameraCode: "11111_31011579011128100248" }).then(res => {
            this.hlscameraList[2] = { url: res.data, cameraCode: "camera_o3" }
        })
        // setTimeout(() => {
        //     this.hlscameraList = [

        //         { cameraCode: "camera_o1", url: "http://10.242.212.33:8050/cam/realmonitor/2JBv7eUuA1DILKPB14KAKH?subtype=0&streamType=0&token=1642444512_3c65780ec503349ea360a6c12b8598aaf5387421&mediatype=HLS.m3u8" },
        //         { cameraCode: "camera_o2", url: "http://10.242.212.33:8050/cam/realmonitor/2JBv7eUuA1DILKPB14KAKH?subtype=0&streamType=0&token=1642444512_3c65780ec503349ea360a6c12b8598aaf5387421&mediatype=HLS.m3u8" },
        //         { cameraCode: "camera_o3", url: "http://10.242.212.33:8050/cam/realmonitor/2JBv7eUuA1DILKPB14KAKH?subtype=0&streamType=0&token=1642444512_3c65780ec503349ea360a6c12b8598aaf5387421&mediatype=HLS.m3u8" },
        //         { cameraCode: "camera_o4", url: "http://10.242.212.33:8050/cam/realmonitor/2JBv7eUuA1DILKPB14KAKH?subtype=0&streamType=0&token=1642444512_3c65780ec503349ea360a6c12b8598aaf5387421&mediatype=HLS.m3u8" },
        //     ]
        // }, 500);

        // let par = [
        //   {
        //     protocol: "hls",
        //     streamType: 0,
        //     cameraCode: "42a8ca58ec9d46b4a7a631aafc640021",
        //   },
        //   {
        //     protocol: "hls",
        //     streamType: 0,
        //     cameraCode: "6479a0c897f2448191d9db144af1d1b5",
        //   },
        //   { 
        //     protocol: "hls",
        //     streamType: 0,
        //     cameraCode: "bc77310e546941c28b5243d55b86f197",
        //   },
        //   {
        //     protocol: "hls",
        //     streamType: 0,
        //     cameraCode: "dd9f41ee12ff4345a9c7a42bda6a571d",
        //   },
        // ];
        // this.$store.dispatch("cameraPreviewURL", par);
    },
    watch: {},
    computed: {
        ...mapState({
            //   hlscameraList: (state) => state.cameraLoop.hlscameraList,
        }),

        ...mapGetters([]),
    },
    components: {
        videoStream
    },
};
</script>

<style lang='less' scoped>
.testhls {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}
</style>
