<template>
  <div class="cameraYure">
    <div class="camera_item" v-for="item in hlscameraList" :key="item.id">
      <iframe style="border: none; width:100%;height:100%" :src="`http://10.242.168.209/application/gov-embedded-video/#/?deviceId=${item.id}&personId=bcdaba1c8690335189ae7e30e0280cf6&authorization=eyJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOiJseHoiLCJ1c2VyTmFtZSI6IueMjueGiuW6pyIsIm9yZ0lkIjoi5p2O5rW35bOwIiwib3JnTmFtZSI6IjE4MTkxNTU4OTk3IiwiY3JlYXRlVGltZSI6MTYzNzMwNjk1MDc4OCwiZXhwIjo0MTAyNDE2MDAwMDAwfQ.VIAbtkYL0ri04OlCPnf-4iFS1lW5Eoj9mywFy2eMsHA`"></iframe>
      <!-- <videoStream :url="hlscameraList[0].send_uri" :reffer="hlscameraList[0].tgt_session_id"></videoStream> -->
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videoStream from "@/components/videoContainer/videoStream";
export default {
  data() {
    return {
      hlscameraList: [
        {id:'31011600031320000096'},
        {id:'31011600031320000098'},
        {id:'31011600031320000100'},
        {id:'31011600031320000102'},
      ],
    };
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() { },
  mounted() {
    // let that = this
    // let p1 = this.$store.dispatch('getpreUrl', { id: '31011600031320000096' })
    // let p2 = this.$store.dispatch('getpreUrl', { id: '31011600031320000098' })
    // let p3 = this.$store.dispatch('getpreUrl', { id: '31011506581314000161' })
    // Promise.all([p1, p2, p3]).then(
    //   (res) => {
    //     console.log(res);
    //     res.forEach((item, index) => {
    //       that.hlscameraList[index] = item.data
    //     })
    //   },
    //   (reason) => {
    //     throw reason;
    //   }
    // );
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([]),
  },
  components: {
    videoStream,
  },
};
</script>

<style lang='less' scoped>
.cameraYure {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  .camera_item {
    width: 100%;
    height: 100%;
  }
}
</style>
