<template>
    <div class="dahuavideo">
        <div id="dom1" class="dom1"></div>
        <!-- <div style="width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0, 0, 0, 0.3);z-index:9999"></div> -->
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
let ws = null;
export default {
    data() {
        return {
            loginForm: {
                https: 1,
                loginIp: "10.242.212.30",
                loginPort: 8320,
                userName: "shequ",
                userPwd: "shequ123",
                token: "",
            },
            isLogin: true,
            activePanel: "",
            domId: "dom1",
            ctrl: "ctrl1"
        }
    },
    props: ["cameraList"],
    methods: {
        ...mapMutations([]),
        playvideo() {
            let id = this.$route.query.id.split(',')
            console.log(id);
            this.realTimeVideo(id)
        },
        login() { // 调用登录接口
            return new Promise(() => {
                let _this = this;
                ws.detectConnectQt().then(res => {
                    if (res) { // 连接客户端成功
                        ws.login(_this.loginForm)
                        console.log("登陆中");
                        ws.on('loginState', (s) => {
                            console.log(s);
                            _this.isLogin = s;
                            if (s) {
                                this.create()
                                console.log('登录成功');
                                // _this.activePanel = 'key2'
                            } else {
                                console.log('登录失败');
                            }
                        });
                    } else { // 连接客户端失败
                        console.log('请重新安装客户端');
                    }
                })
            })

        },
        logout() { // 调用登出接口
            ws.logout({
                loginIp: this.loginForm.loginIp
            });
        },
        create() { // 调用创建控件接口
            return new Promise(() => {
                let _this = this;
               
                let channelIdlist = _this.cameraList.map(item => {
                    return { channelId: item }
                })
                console.log(channelIdlist);
                const params = [
                    {
                        ctrlType: "playerWin",
                        ctrlCode: _this.ctrl,
                        ctrlProperty: {
                            displayMode: 1,//显示模式   1：播放器预览模式 2：播放器回放模式
                            splitNum: _this.cameraList.length,    // 播放个数
                            channelList: channelIdlist
                        },
                        visible: true,
                        domId: this.domId
                    }
                ];
                console.log(params);
                ws.createCtrl(params).then(res => {
                    console.log(res);
                    this.realTimeVideo()
                }).catch(e => {
                    console.log(e);
                });
                ws.on('createCtrlResult', (res) => {
                    console.warn(res);
                });
            })
        },
        destroy() { // 调用销毁控件接口
            if (!this.isLogin) {
                console.log('正在登陆客户端，请稍等......');
                return false;
            }
            const ctrls = ws.ctrls.map(i => {
                if (i.ctrlCode === this.ctrl) {
                    return i.ctrlCode;
                }
            });
            ws.destroyCtrl(ctrls);
        },
        realTimeVideo(channelId) { // 调用控件实时播放接口
            console.log(ws.ctrls);
            return new Promise(() => {
                if (!this.isLogin) {
                    console.log('正在登陆客户端，请稍等......');
                    return false;
                }

                this.displayMode = 1;
                if (ws.ctrls.length === 0) {
                    console.log('请先创建控件！');
                }
                const params = {
                    ctrlCode: this.ctrl,
                    channelIds: this.cameraList
                };
                ws.openCtrlPreview(params);
            })

        },
    },
    beforeCreate() {
        const DHWsInstance = DHWs.getInstance();
        ws = DHWsInstance;
    },
    created() {
        ws.addEventListener('connectStateChange', data => {
            if (data) {
                console.log("连接成功")
            } else {
                console.log("连接失败，下载客户端");
            }
        });

    },
    mounted() {
        
        this.login()
        console.log(this.cameraList);
        this.$store.commit("SET_WS_DATA",ws)
    },
    watch: {
        cameraList:{
            handler(newval,oldval){
                console.log(newval);
                this.realTimeVideo()
            },
            deep:true
        }
    },
    computed: {
        ...mapState({}),

        ...mapGetters([])

    },
    components: {

    }
}
</script>

<style lang='less' scoped>
.dahuavideo {
    width: 100%;
    height: 100%;
    position: relative;
    .dom1 {
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
    }
}
</style>
