<template>
  <div class="modulecamera">
    <div class="modulecamera_item" v-show="isAI">
      <div class="modulecamera_item_box">
        <div class="modulecamera_item_box_title">AI智能</div>
        <div class="AI_module">
          <div
            class="AI_module_item"
            v-for="(item, index) in eventLists"
            :key="index"
            @click="selectIndex(index)"
          >
            <div class="AI_module_item_title">
              <img
                :src="
                  require('@/assets/images/cameraloop/ic_fire _fighting.png')
                "
                alt=""
              />
              <span :class="currentIndex == index ? 'currentSelect' : ''"
                >{{ item.name }}
              </span>
            </div>
            <div class="AI_module_content">
              <div class="AI_module_content_left">
                <img :src="item.images[0].url" alt="" />
                <div class="time">{{ item.alertTime }}</div>
              </div>
              <div class="AI_module_content_right">
                <div class="top" @click="toUp"></div>
                <div class="center">
                  <div class="center_inner">
                    <div class="img" v-for="(img, i) in item.images" :key="i">
                      <img :src="img.url" alt="" />
                    </div>
                  </div>
                </div>
                <div class="bottom" @click="toDown"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modulecamera_item">
      <!-- <div class="camera_item" v-for="(item,index) in hlscameraList" :key="index"> -->
        <!-- {{hlscameraList}} -->
        <!-- <div class="camera_icon"> -->
   
          <!-- <videoStream
            :url="hlscameraList[index].hls"
            :reffer="hlscameraList[index].cameraCode"
          ></videoStream> -->
          <cameraDahuavideo ref="cameradahua" :cameraList="hlscameraList"></cameraDahuavideo>
          <!-- {{item.url}} -->
          <!-- <rtspws
            :videoid="item.cameraCode"
            :server="item.server"
            :port="item.port"
            :videoData="{url:item.url,id:item.cameraCode}"
          ></rtspws> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="modulecamera_item" v-if="isAI && currentImglist.length > 0">
      <div class="modulecamera_item_box">
        <div class="modulecamera_item_box_inner">
          <swiper :options="swiperOption">
            <swiper-slide
              class="swiper-slide"
              v-for="(item, index) in currentImglist"
              :key="index"
            >
              <img class="middle_img" :src="item.url" alt="" />
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
import videoStream from "@/components/videoContainer/videoStream";
import {WSconnect} from "@/utils/videoSocket"
import rtspws from "@/components/cameraLoop/rtspws";
import cameraDahuavideo from '../cameraLoop/cameraDahuavideo.vue';
export default {
  data() {
    return {
      currentIndex: 100,
      swiperOption: {
        slidesPerView: "auto", //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 4000,
        autoplayDisableOnInteraction: false,
        loop: true,
        mousewheel: true,
        mousewheelControl: true,
        // slidesPerView:auto,
        height: 800,
        centeredSlides: false, // 是否居中显示
      },
      currentImglist: [], //当前选中的ai模块图片
      wsdata: {},
      currentcameraList:[{
        hls:null,
        cameraCode:null
      },{
        hls:null,
        cameraCode:null
      },{
        hls:null,
        cameraCode:null
      },{
        hls:null,
        cameraCode:null
      }],
      newIndex:0,    //用于记录新拿到的相机列表中不同于老相机列表中的某个元素的索引位置
      oldIndex:0,    //用于记录老的相机列表中不同于新相机列表中的某个元素的索引位置
    };
  },
  setup(props, context) {
    const { proxy } = getCurrentInstance();
    let father = reactive(props);
    let imgBoxstyle = reactive({
      marginTop: 0,
      margintop_txt: "",
      imgbox_hei: "auto",
      img_hei: "auto",
      modulecamera_item_box_title: "",
      currentSelect: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      imgBoxstyle.imgbox_hei = "16.8rem";
      imgBoxstyle.img_hei = "auto";
      imgBoxstyle.modulecamera_item_box_title = "1.6rem";
      imgBoxstyle.currentSelect = "1.5rem";
    } else {
      imgBoxstyle.imgbox_hei = "8rem";
      imgBoxstyle.img_hei = "2.9rem";
      imgBoxstyle.modulecamera_item_box_title = "1.3rem";
      imgBoxstyle.currentSelect = "1.2rem";
    }
    let toUp = () => {
      if (proxy.$root.$route.query.v == "1") {
        imgBoxstyle.margintop_txt = `${imgBoxstyle.marginTop - 6.95}rem`;
        imgBoxstyle.marginTop = imgBoxstyle.marginTop - 6.95;
      } else {
        imgBoxstyle.margintop_txt = `${imgBoxstyle.marginTop - 3}rem`;
        imgBoxstyle.marginTop = imgBoxstyle.marginTop - 3;
      }
      //   imgBoxstyle.margintop_txt = `${imgBoxstyle.marginTop - 3}rem`;
      //   imgBoxstyle.marginTop = imgBoxstyle.marginTop - 3;
    };
    let toDown = () => {
      if (proxy.$root.$route.query.v == "1") {
        if (imgBoxstyle.marginTop > -5) {
          imgBoxstyle.marginTop = 0;
          imgBoxstyle.margintop_txt = `${imgBoxstyle.marginTop}rem`;
        } else {
          imgBoxstyle.margintop_txt = `${imgBoxstyle.marginTop + 6.95}rem`;
          imgBoxstyle.marginTop = imgBoxstyle.marginTop + 6.95;
        }
      } else {
        if (imgBoxstyle.marginTop > -2) {
          imgBoxstyle.marginTop = 0;
          imgBoxstyle.margintop_txt = `${imgBoxstyle.marginTop}rem`;
        } else {
          imgBoxstyle.margintop_txt = `${imgBoxstyle.marginTop + 3}rem`;
          imgBoxstyle.marginTop = imgBoxstyle.marginTop + 3;
        }
      }
    };
    return {
      father,
      toUp,
      toDown,
      imgBoxstyle,
    };
  },
  props: ["row", "column", "isAI", "rpercent", "cpercent", "currentType"],
  methods: {
    ...mapMutations([]),
    selectIndex(index) {
      this.currentIndex = index;
      this.currentImglist = this.eventLists[index].images;
    },
  },

  created() {},
  mounted() {
    // if(this.eventLists.length){
    //   console.log(this.eventLists)
    //   this.currentImglist = this.eventLists[0].images
    // }
    // console.log(this.hlscameraList);
    let num = this.row * this.column;
    let token = localStorage.getItem("token");
    let type = "connect";
    let tag = this.currentType;
    this.wsdata = {
      num,
      token,
      type,
      tag,
    };
    // console.log(num,token,type,tag)
    if (this.currentType) {
      // WSconnect(this.wsdata)
    }
  },
  unmounted(){
    console.log(111)
    this.$refs["cameradahua"].destroy()
  },
  beforeUnmount(){
     console.log(22)
    this.$refs["cameradahua"].destroy()
  },
  watch: {
    // column:function(val) {
    //   this.wsdata.type='disconnect'
    //   WSconnect(this.wsdata)
    //   setTimeout(() => {
    //     this.wsdata.type='connect'
    //     this.wsdata.num = this.row*this.column
    //     WSconnect(this.wsdata)
    //   }, 500);
    // },
    // currentType:function(val) {
    //   this.wsdata.type='disconnect'
    //   WSconnect(this.wsdata)
    //   setTimeout(() => {
    //     this.wsdata.type='connect'
    //     if(val==''){
    //       this.wsdata.tag = "AI算法"
    //     }else{
    //       this.wsdata.tag = val
    //     }
    //     WSconnect(this.wsdata)
    //   }, 500);
    // }
    // hlscameraList:function(val) {
    //   console.log(val)
    //   if(this.currentcameraList[0].hls == null || this.currentcameraList[0].tag != this.hlscameraList[0].tag){
    //     this.currentcameraList = this.hlscameraList;
        
    //   // }else if(this.currentcameraList[0].hls != null && this.currentcameraList[0].tag == this.hlscameraList[0].tag){
    //   }else{
    //     console.log("走了")
    //     let arr = [];
    //     this.currentcameraList.forEach(element => {
    //       arr.push(element.cameraCode);
    //     });
    //     for(var i = 0;i < this.hlscameraList.length;i++){
    //       if(arr.indexOf(this.hlscameraList[i].cameraCode) == -1){
    //         this.newIndex = i;
    //         console.log("新索引:"+this.newIndex)
    //         return
    //       }
    //     }
    //     for(var j = 0;j < this.currentcameraList.length;i++){
    //       if(this.hlscameraList.indexOf(this.currentcameraList[j]) == -1){
    //         // console.log("旧索引:"+this.oldIndex)
    //         this.oldIndex = j;
    //         this.currentcameraList[this.oldIndex] = this.hlscameraList[this.newIndex];
    //       }
    //     }
      // }
    //   console.log(this.hlscameraList);
    // }
  },
  computed: {
    ...mapState({
      eventLists: (state) => state.cameraLoop.eventLists,
      rtspcameraList: (state) => state.cameraLoop.rtspcameraList,
      hlscameraList: (state) => state.cameraLoop.hlscameraList,
    }),

    ...mapGetters([]),
  },
  components: {
    videoStream,
    rtspws,
    cameraDahuavideo
  },
};
</script>

<style lang='less' scoped>
.modulecamera {
  width: 100%;
  height: 100%;
  display: flex;
  .modulecamera_item {
    flex: 1;
    // background: #10d5d2;
  }
  .modulecamera_item:nth-child(2) {
    width: 100%;
    height: 100%;
    flex: 3;
    // background: #10d5d2;
    // display: grid;
    // grid-template-columns: repeat(
    //   v-bind("father.column"),
    //   v-bind("father.cpercent")
    // );
    // grid-template-rows: repeat(v-bind("father.row"), v-bind("father.rpercent"));
    .camera_item {
      padding: 0.5rem;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .camera_icon {
        width: 100%;
        height: 100%;
        // background: #07213c;
        // border-image: ;
      }
    }
  }
  .modulecamera_item:nth-child(2n-1) {
    padding: 10px 0;
    .modulecamera_item_box:last-child {
      padding: 1rem;
      box-sizing: border-box;

      .modulecamera_item_box_inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
    .modulecamera_item_box {
      border-radius: 10px;
      background: url("~@/assets/images/cameraloop/bg-left.png") no-repeat;
      background-size: 105.7% 101.5%;
      background-position: center;
      width: 100%;
      height: 100%;
      .modulecamera_item_box_title {
        height: 3rem;
        font-size: v-bind("imgBoxstyle.modulecamera_item_box_title");
        color: white;
        line-height: 3rem;
      }
      .AI_module::-webkit-scrollbar {
        width: 0 !important;
      }
      .AI_module {
        overflow: -moz-scrollbars-none;
      }

      .AI_module {
        width: 100%;
        height: calc(100% - 3rem);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow: -moz-scrollbars-none;
        .AI_module_item {
          flex: 1;
          border-bottom: 1px solid #ccc;
          border-image: -webkit-linear-gradient(
              left,
              transparent,
              #2c9b99,
              transparent
            )
            1 10 1;
          cursor: pointer;
          .AI_module_item_title {
            height: 2.5rem;
            display: flex;
            align-items: center;
            padding: 0 1.5rem;
            box-sizing: border-box;
            img {
              width: 2.5rem;
              height: 2.5rem;
              margin-right: 1rem;
            }
            span {
              font-size: v-bind("imgBoxstyle.currentSelect");
              color: white;
            }
            .currentSelect {
              color: #7cf3f8;
            }
          }
          .AI_module_content {
            height: calc(100% - 2.5rem);
            padding: 0 1.5rem;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 100%;
            .AI_module_content_left {
              padding: 1rem 0 0;
              img {
                width: 100%;
                // height: 8rem;
              }
              .time {
                padding: 1rem;
                color: #10d5d2;
              }
            }
            .AI_module_content_right {
              margin-top: -1rem;
              padding: 0 0 1rem 1rem;
              display: grid;
              grid-template-columns: 100%;
              grid-template-rows: 2rem auto 2rem;
              .top {
                background: url("~@/assets/images/cameraloop/shang.png")
                  no-repeat;
                background-position: center;
                cursor: pointer;
              }
              .center {
                overflow: hidden;
                height: v-bind("imgBoxstyle.imgbox_hei");
                .center_inner {
                  transition: all 0.5s;
                  height: auto;
                  margin-top: v-bind("imgBoxstyle.margintop_txt");

                  .img {
                    width: 100%;
                    height: v-bind("imgBoxstyle.img_hei");
                    margin-bottom: 0.1rem;
                    cursor: pointer;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .bottom {
                background: url("~@/assets/images/cameraloop/xia.png") no-repeat;
                background-position: center;
                cursor: pointer;
              }
            }
          }
        }
        .AI_module_item:last-child {
          border: none;
          border-image: -webkit-linear-gradient(
              left,
              transparent,
              #2c9b99,
              transparent
            )
            1 10 1;
        }
      }
    }
  }
}
.middle_img {
  width: 100%;
  //   height: 12rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
</style>
