<template>
  <div class="video-popup-container">
    <div class="hls-container" style="height: 100%">
      <video
        :ref="videoid"
        :id="videoid"
        style="width: 100%; height: 100%; object-fit: fill"
        controls
        autoplay
        muted
      ></video>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import axios from "axios";
export default {
  props: ["videoid", "server", "port", "videoData"],
  data() {
    return {
      ms: new MediaSource(),
      verbose: false,
      ws: null,
      streamingStarted: false,
      queue: [],
      livestream: "",
      decoded_arr: "",
      sourceBuffer: "",
      hidden: "",
    };
  },
  methods: {
    startup: function () {
      this.ms.addEventListener("sourceopen", this.opened, false);
      this.livestream = this.$refs[this.videoid];
      console.log(this.livestream);
      this.livestream.src = window.URL.createObjectURL(this.ms);
      //   console.log(document.getElementById("livestream"));
    },
    loadPacket: function () {
      if (!this.sourceBuffer.updating) {
        if (this.queue.length > 0) {
          var inp = this.queue.shift();
          if (this.verbose) {
            console.log("this.queue PULL:", this.queue.length);
          }
          var view = new Uint8Array(inp);
          if (this.verbose) {
            console.log(
              "writing buffer with",
              view[0],
              view[1],
              view[2],
              view[3],
              view[4]
            );
          }
          this.sourceBuffer.appendBuffer(inp);
        } else {
          this.streamingStarted = false;
        }
      }
    },
    pushPacket: function (arr) {
      var view = new Uint8Array(arr);
      if (this.verbose) {
        console.log(
          "got",
          arr.byteLength,
          "bytes.  Values=",
          view[0],
          view[1],
          view[2],
          view[3],
          view[4]
        );
      }
      var data = arr;
      if (!this.streamingStarted) {
        this.sourceBuffer.appendBuffer(data);
        this.streamingStarted = true;
        return;
      }

      this.queue.push(data);
      if (this.verbose) {
        console.log("this.queue push:", this.queue.length);
      }
      if (!this.sourceBuffer.updating) {
        this.loadPacket();
      }
    },
    onloadMethod: function () {},
    opened: function () {
      this.ws = new WebSocket(
        "ws" +
          "://" +
          this.server +
          ":" +
          this.port +
          "/ws/live?suuid=" +
          this.videoData.id
      );
      this.ws.binaryType = "arraybuffer";
      this.ws.onopen = function (event) {
        console.log("Connect");
      };
      var that = this;
      this.ws.onmessage = function (event) {
        var data = new Uint8Array(event.data);
        if (data[0] == 9) {
          that.decoded_arr = data.slice(1);
          if (window.TextDecoder) {
            that.mimeCodec = new TextDecoder("utf-8").decode(that.decoded_arr);
          } else {
            that.mimeCodec = that.Utf8ArrayToStr(that.decoded_arr);
          }
          if (that.verbose) {
            console.log("first packet with codec data: " + that.mimeCodec);
          }
          that.sourceBuffer = that.ms.addSourceBuffer(
            'video/mp4; codecs="' + that.mimeCodec + '"'
          );
          that.sourceBuffer.mode = "segments";
          that.sourceBuffer.addEventListener("updateend", this.loadPacket);
        } else {
          that.pushPacket(event.data);
        }
        if (document[that.hidden] && that.livestream.buffered.length) {
          //fix pause on hidden tabs
          that.livestream.currentTime =
            that.livestream.buffered.end(that.livestream.buffered.length - 1) -
            1;
        }
      };
    },
    Utf8ArrayToStr: function (array) {
      var out, i, len, c;
      var char2, char3;
      out = "";
      len = array.length;
      i = 0;
      while (i < len) {
        c = array[i++];
        switch (c >> 4) {
          case 7:
            out += String.fromCharCode(c);
            break;
          case 13:
            char2 = array[i++];
            out += String.fromCharCode(((c & 0x1f) << 6) | (char2 & 0x3f));
            break;
          case 14:
            char2 = array[i++];
            char3 = array[i++];
            out += String.fromCharCode(
              ((c & 0x0f) << 12) | ((char2 & 0x3f) << 6) | ((char3 & 0x3f) << 0)
            );
            break;
        }
      }
      return out;
    },

    ...mapMutations([]),
  },
  beforeUpdate(){
    // this.ws.close()
    axios.delete(
      `http://${this.server}:${this.port}/closeStream`,{
        params: {
          id:this.videoData.id
        }
      }
    );
  },
  beforedestroyed(){
    
  },
  mounted() {
    console.log(this.videoid, this.server);
    axios.post(
      `http://${this.server}:${this.port}/createStream`,
      this.videoData
    );
    setTimeout(()=>{
      this.startup();
    },500)
    
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {},
};
</script>

<style lang="less" scoped>
.video-popup-container {
  width: 100%;
  height: 100%;
  .hls-container {
    position: relative;
    background: #071123;
  }
}
</style>
