<template>
  <div class="testhls">
    <div
      class="camera_item"
      v-for="item in hlscameraList"
      :key="item.cameraCode"
    >
      <videoStream
        visible="true"
        :url="item.url"
        :reffer="item.cameraCode"
      ></videoStream>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videoStream from "@/components/videoContainer/videoStream";
export default {
  data() {
    return {};
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() {},
  mounted() {
    let par = [
      {
        protocol: "hls",
        streamType: 0,
        cameraCode: "42a8ca58ec9d46b4a7a631aafc640021",
      },
      {
        protocol: "hls",
        streamType: 0,
        cameraCode: "6479a0c897f2448191d9db144af1d1b5",
      },
      { 
        protocol: "hls",
        streamType: 0,
        cameraCode: "bc77310e546941c28b5243d55b86f197",
      },
      {
        protocol: "hls",
        streamType: 0,
        cameraCode: "dd9f41ee12ff4345a9c7a42bda6a571d",
      },
    ];
    this.$store.dispatch("cameraPreviewURL", par);
  },
  watch: {},
  computed: {
    ...mapState({
      hlscameraList: (state) => state.cameraLoop.hlscameraList,
    }),

    ...mapGetters([]),
  },
  components: {
      videoStream
  },
};
</script>

<style lang='less' scoped>
.testhls {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}
</style>
