<template>
  <div class="wen-box" @click="closeDialog()">
    <div class="dialog-box" @click.stop="showDialog()">
      <div class="dialog-head">
        <div class="head-one">{{ wenTaskDetail.alertName }}</div>
        <div class="head-two-close" @click.stop="closeDialog()"></div>
      </div>
      <div class="wen-content-list">
        <div class="content-item-head">
          <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png" alt />
          <span>任务信息</span>
        </div>
        <div class="task-list wen-task-list">
          <div class="list-item">
            <div class="item-name">任务地址：</div>
            <div class="item-value">{{ wenTaskDetail.address }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">告警时间：</div>
            <div class="item-value">{{ wenTaskDetail.alertTime }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">告警方式：</div>
            <div class="item-value">{{ wenTaskDetail.typeName }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">事件描述：</div>
            <div class="item-value">{{ wenTaskDetail.desc }}</div>
          </div>
        </div>
        <div class="content-item-head" v-show="wenTaskDetail.alertName != '电梯监测'">
          <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png" alt />
          <span>处置情况</span>
        </div>
        <el-timeline v-if="wenTaskDetail.alertName !== '电梯监测'">
          <el-timeline-item v-for="(activity, index) in tasklist" :key="index">
            <div class="detail-content-title">{{ activity.title }}</div>
            <div class="task-list" v-if="tasklist.length > 0">
              <div class="list-item">
                <div class="item-name">告警时间：</div>
                <div class="item-value">{{ activity.time }}</div>
              </div>
              <div class="list-item">
                <!-- <div class="item-name">{{ activity.content }}：</div> -->
                <div class="item-name">任务地址:</div>
                <div class="item-value">{{ activity.address }}</div>
              </div>
              <div class="list-item">
                <!-- <div class="item-name">{{ activity.urlName }}：</div> -->
                <div class="item-name">告警图片:</div>
                <div class="item-value">
                  <img
                    v-show="activity.images"
                    class="img-bg"
                    :src="picPreUrl + activity.images[0].url"
                    alt
                    @dblclick="openBig(activity.images[0].url)"
                  />

                  <div v-show="activity.videoUrl">
                    <video
                      id="my-video"
                      class="video-js vjs-default-skin"
                      controls
                      preload="auto"
                      width="350px"
                      height="400px"
                      autoplay
                    >
                      <source :src="picPreUrl + activity.videoUrl" />
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </el-timeline-item>
          <el-timeline-item v-for="(activity, index) in handleList" :key="index">
            <div class="detail-content-title">{{ activity.title }}</div>
            <div class="task-list" v-if="handleList.length > 0">
              <div class="list-item">
                <div class="item-name">处置时间：</div>
                <div class="item-value" v-if="activity.time">{{ activity.time }}</div>
              </div>
              <div class="list-item">
                <div class="item-name">处置人:</div>
                <div class="item-value" v-if="activity.handleUserName">{{ activity.handleUserName }}</div>
              </div>
              <div class="list-item">
                <div class="item-name">处置图片:</div>
                <div class="item-value" v-if="activity.images != null">
                  <img
                    v-show="activity.images"
                    class="img-bg"
                    :src="picPreUrl + activity.images[0].url"
                    alt
                    @dblclick="openBig(activity.images[0].url)"
                  />

                  <div v-show="activity.videoUrl" style="margin-left:0rem">
                    <video
                      id="my-video"
                      class="video-js vjs-default-skin"
                      controls
                      preload="auto"
                      width="350px"
                      height="400px"
                      autoplay
                    >
                      <source :src="picPreUrl + activity.videoUrl" />
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </el-timeline-item>
          <el-timeline-item v-for="(activity, index) in tasklist" :key="index">
            <!-- <div class="detail-content-title">
              {{ activity.title }}
            </div>-->
            <div class="task-list" v-if="tasklist.length > 0">
              <div class="list-item">
                <div class="item-name">工单状态：</div>
                <div class="item-value">{{ wenTaskDetail.statusCh }}</div>
              </div>
            </div>
          </el-timeline-item>
        </el-timeline>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
import videoStream from "@/components/videoContainer/videoStream";
import videojs from "video.js";
import "videojs-contrib-hls";
import Vue from "vue"
export default {
  data() {
    return {
      activities: [
        {
          content: "【智能发现】",
          timestamp: "2018-04-12 20:46",
          size: "large",
          type: "primary",
          color: "#19F7FF",
        },
      ],
      tasklist: [],
      handleList: [],
      item: {
        url: "",
        cameraCode: "",
      },
      picPreUrl: ""
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      normal_font: "",
      title_font: "",
      badge_font: "",
      img_width: "",
      img_height: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.65rem";
      font_32_9.badge_font = "1.7rem";
      font_32_9.title_font = "1.8rem";
      font_32_9.img_width = "10rem";
      font_32_9.img_height = "12rem";
    } else {
      font_32_9.normal_font = "1rem";
      font_32_9.badge_font = "1.2rem";
      font_32_9.title_font = "1.3rem";
      font_32_9.img_width = "8rem";
      font_32_9.img_height = "10rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    showDialog() {
      this.$store.commit("DETAIL_DIALOG", true);
    },
    closeDialog() {
      this.$store.commit("DETAIL_DIALOG", false);
      // this.$store.commit("CLOSE_DIALOG");
      let json = {
        option: 'clearhighlight'
      }
      let thingmap = document.getElementById('thingmap')
      let thingmap_zhili = document.getElementById('thingmap_zizhi')
      thingmap.contentWindow.postMessage(json, "*")
      thingmap_zhili.contentWindow.postMessage(json, "*")
    },
    getTaskDetail(newId) {
      this.$store.dispatch("getTaskDetail", { id: newId });
    },
    getVideo() {
      videojs(
        "my-video",
        {
          bigPlayButton: false,
          textTrackDisplay: false,
          posterImage: true,
          errorDisplay: false,
          controlBar: true,
        },
        function () {
          this.play();
        }
      );
    },
    openBig(item) {
      // alert(this.picPreUrl+item)
      this.$store.commit("SET_BIG_PIC_URL", this.picPreUrl + item);
      this.$store.commit("SET_BIG_PIC_POP", true);
    }
  },

  created() { },
  mounted() {
    this.wenwenTaskId = JSON.parse(localStorage.getItem("wenTaskId"));
    this.getTaskDetail(this.wenwenTaskId);
    this.picPreUrl = localStorage.getItem('picUrl');

  },
  watch: {
    wenTaskDetail: {
      handler(newObj) {
        this.tasklist = newObj.timeLines.slice(0, 1);
        if (newObj.timeLines.length > 1) {
          this.handleList = newObj.timeLines.slice(1, newObj.timeLines.length);
        }
      },
      deep: true,
    },
  },
  computed: {
    ...mapState({
      isShowWenDialog: (state) => state.isShowWenDialog,
      wenTaskDetail: (state) => state.infoMessage.wenTaskDetail,
    }),

    ...mapGetters([]),
  },
  components: {
    videoStream,
  },
};
</script>

<style lang='less' scoped>
@import "~@/assets/wenLess/wenconmon.less";
.wen-box {
  text-align: left;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4) !important;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 999;
  .dialog-box {
    margin-top: 80px;
    width: 27%;
    max-height: 90%;
    min-height: 25%;
    margin-right: 1%;
    background-color: rgba(0, 53, 93, 1);
    border: 0.1rem solid #01b1f1;
    z-index: 10;
    overflow-y: scroll;
    .dialog-head {
      width: 100%;
      height: 4.5%;
      position: relative;
      font-size: v-bind("font_32_9.title_font");
      .head-one {
        width: 21%;
        height: @wenallheight;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: @wenallbackgroundsize;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: @normalfontsize + 1rem;
      }
      .head-two-close {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: @wenallbackgroundsize;
        width: 10%;
        height: @wenallheight;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }

    
  }
  .wen-content-list {
      display: flex;
      flex-flow: column;
      margin-left: 1%;
      margin-right: 1%;
      // overflow-y: scroll;
      height: @wenallheight - 10%;
      /deep/ .el-timeline-item__tail {
        border-left: 2px solid #fff;
      }
      .el-timeline-item {
        font-size: v-bind("font_32_9.normal_font");
      }
      .el-timeline {
        margin-top: @normalfontsize;
        /deep/ .el-timeline-item__content {
          color: #fff;
        }
        .detail-content-title {
          color: #2093fe;
        }
        .detail-content-title2 {
          color: #00ff48;
        }
      }
      .content-item-head {
        margin-top: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: v-bind("font_32_9.badge_font");
        img {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          margin-right: @normalfontsize;
        }
        span {
          color: #19f7ff;
        }
      }
      .task-list {
        /*display: flex;*/
        flex-flow: row;
        margin: 1%;
        color: #ffffff;
        font-size: v-bind("font_32_9.normal_font");
        .list-item {
          display: flex;
          flex-flow: row;
          padding: 1%;
          .item-name {
            color: #19f7ff;
            width: 6.5rem;
          }
          .item-value {
            display: flex;
            flex-direction: column;
            // align-items: center;
            max-width: 22rem;
            .img-bg {
              background-color: #2c3e50;
              width: v-bind("font_32_9.img_width");
              height: v-bind("font_32_9.img_height");
            }
            .wen-star {
              width: 1.2rem;
              height: 1.2rem;
              margin-right: 0.2rem;
            }
          }
        }
      }
      .wen-task-list {
        display: flex;
        flex-flow: column !important;
      }
    }
    ::-webkit-scrollbar {
      width: 0.2rem;
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #000000;
      border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 7px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #00b0b8;
    }
  .alibox {
  }
}
</style>
