<template>
  <div class='singleCameraPop' @click="closVideopop">
      <div class="camerabox"  @click.stop="showVideopop">
          <videoStream
            :url="singledianticameraInfo.monitorurl"
            :reffer="singledianticameraInfo.id"
          ></videoStream>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import videoStream from "@/components/videoContainer/videoStream";
export default {
  data() {
    return {

    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    closVideopop(){
        this.$store.commit('CHANGE_SINGLEDIANTIVISIBLE',false)
    },
    showVideopop(){
        this.$store.commit('CHANGE_SINGLEDIANTIVISIBLE',true)
    },
  },

  created(){},
  mounted(){},
  watch:{},
  computed:{ ...mapState({
      singledianticameraInfo:state=>state.lifeTizheng.singledianticameraInfo
  }),

  ...mapGetters([])

  },
  components: {
      videoStream
  }
}
</script>

<style lang='less' scoped>
.singleCameraPop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .camerabox{
        width: 50%;
        height: 50%;

    }
}
</style>