<template>
  <div class="singleCameraPop" @click="closVideopop">
    <div class="camerabox" @click.stop="showVideopop">
      <!-- <videoStream
            :url="singlecameraInfo.url"
            :reffer="singlecameraInfo.cameraCode"
      ></videoStream>-->
      <cameraDahuavideo ref="cameradahua" :cameraList="cameraDahualist"></cameraDahuavideo>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import videoStream from "@/components/videoContainer/videoStream";
import cameraDahuavideo from '../cameraLoop/cameraDahuavideo.vue';
export default {
  data() {
    return {
      // list:[]
    }
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closVideopop() {
      this.$refs['cameradahua'].destroy()
      this.$store.commit('CHANGE_SINGLEVISIBLE', false)
    },
    showVideopop() {
      this.$store.commit('CHANGE_SINGLEVISIBLE', true)
    },
  },

  created() { },
  mounted() { },
  watch: {},
  computed: {
    ...mapState({
      singlecameraInfo: state => state.lifeTizheng.singlecameraInfo,
      cameraDahualist: state => state.cameraLoop.cameraDahualist
    }),

    ...mapGetters([])

  },
  components: {
    videoStream,
    cameraDahuavideo
  }
}
</script>

<style lang='less' scoped>
.singleCameraPop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .camerabox {
    width: 840px;
    height: 590px;
    overflow: hidden;
  }
}
</style>
