<template>
  <div class="cameraLoop">
    <div class="cameraLoopbox">
      <div class="box_tabs">
        <span class="tab_item" @click="changetab(0)">
          <img
            v-if="selectIndex == 0"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
          <!-- {{cameraNum}} -->
          <span
            :class="selectIndex == 0 ? 'selectedTxt' : ''"
            v-if="cameraNum.length > 0"
          >高空抛物({{ cameraNum.filter(item => item.tag == '高空抛物')[0].num }})</span>
          <img
            v-if="selectIndex == 0"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
        </span>
        <span class="tab_item" @click="changetab(1)">
          <img
            v-if="selectIndex == 1"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
          <span
            :class="selectIndex == 1 ? 'selectedTxt' : ''"
            v-if="cameraNum.length > 0"
          >出入口({{ cameraNum.filter(item => item.tag == '出入口')[0].num }})</span>
          <img
            v-if="selectIndex == 1"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
        </span>
        <span class="tab_item" @click="changetab(2)">
          <img
            v-if="selectIndex == 2"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
          <span
            :class="selectIndex == 2 ? 'selectedTxt' : ''"
            v-if="cameraNum.length > 0"
          >主干道({{ cameraNum.filter(item => item.tag == '主干道')[0].num }})</span>
          <img
            v-if="selectIndex == 2"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
        </span>
        <span class="tab_item" @click="changetab(3)">
          <img
            v-if="selectIndex == 3"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
          <span
            :class="selectIndex == 3 ? 'selectedTxt' : ''"
            v-if="cameraNum.length > 0"
          >消防占道({{ cameraNum.filter(item => item.tag == '消防占道')[0].num }})</span>
          <img
            v-if="selectIndex == 3"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
        </span>
        <span class="tab_item" @click="changetab(4)">
          <img
            v-if="selectIndex == 4"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
          <span
            :class="selectIndex == 4 ? 'selectedTxt' : ''"
            v-if="cameraNum.length > 0"
          >垃圾分类({{ cameraNum.filter(item => item.tag == '垃圾分类')[0].num }})</span>
          <img
            v-if="selectIndex == 4"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/shandian.png"
            alt
          />
        </span>
      </div>
      <div class="AI_tab">
        <span :class="isAI ? ['checkbox', 'ischecked'] : 'checkbox'" @click="checkedAI"></span>
        <span class="AI_tab_txt">AI算法</span>
        <!-- <span class="AI_tab_txt" @click="testhlshow=!testhlshow">test</span>
        +
        -->
      </div>
      <div class="module_set">
        <div class="module_set_item" @click="changeloppset">轮巡配置</div>
        <!-- <div class="module_set_item" @click="changeModule">模块配置</div> -->
      </div>
    </div>
    <div class="cameraLoopbox_container">
      <modulecamera
        class="cameraModuleleft"
        ref="modulecamera"
        v-show="!testhlshow"
        :row="boxrow"
        :column="boxcolumn"
        :isAI="isAI"
        :currentType="currentType"
        :rpercent="rowpercent"
        :cpercent="columnpercent"
      ></modulecamera>
      <div class="cameraModuleRight" v-if="showloopSet">
        <div class="module_title_new">轮巡配置</div>
        <div class="module_contentselect_item_new">摄像头类别：</div>
        <div class="module_contentselect_item_new">
          <el-select
            class="typeSelect"
            v-model="cameraCfgParams.tag"
            placeholder="请选择"
            name="type"
            @change="cameraTypeChange"
          >
            <el-option
              v-for="item in cameraType"
              :key="item.value"
              class="selOption"
              :value="item.value"
            >{{ item.tip }}</el-option>
          </el-select>
        </div>

        <div class="module_contentselect_item_new">相机列表：</div>
        <div class="module_contentselect_item_new">
          <!-- <el-cascader
              v-model="cameraCfgParams.selCameraList"
              :options="cameraList"
              class="typeSelecttest"
              :props="{ multiple: true, checkStrictly: true,label:'address',value:'cameraCode' }"
          clearable></el-cascader>-->
          <el-select
            v-model="cameraCfgParams.cams"
            placeholder="请选择"
            class="typeSelect"
            multiple="multiple"
            collapse-tags
          >
            <el-option
              v-for="item in cameraList"
              :key="item.cameraCode"
              :value="item.cameraCode"
              :label="item.address"
            ></el-option>
          </el-select>
        </div>

        <div class="module_contentselect_item_new">轮播频次：</div>
        <div class="module_contentselect_item_new">
          <el-select
            class="typeSelect"
            v-model="cameraCfgParams.cycle"
            placeholder="请选择"
            name="type"
          >
            <!-- <option class="selOption" value disabled selected>
                -请选择-
            </option>-->
            <el-option
              v-for="item in TimeType"
              :key="item.value"
              class="selOption"
              :value="item.value"
            >{{ item.tip }}</el-option>
          </el-select>
        </div>
        <div class="module_title_new">模块配置</div>
        <div class="module_content">
          <div class="module_item" @click="setModule(1)">
            <div class="module_item_icon">
              <div class="module1-1"></div>
            </div>
            <span class="name">1*1</span>
          </div>
          <div class="module_item" @click="setModule(2)">
            <div class="module_item_icon">
              <div class="module1-2">
                <div class="module1-2-item"></div>
                <div class="module1-2-item"></div>
              </div>
            </div>
            <span class="name">1*2</span>
          </div>
          <div class="module_item" @click="setModule(3)">
            <div class="module_item_icon">
              <div class="module2-2">
                <div class="module2-2-item"></div>
                <div class="module2-2-item"></div>
                <div class="module2-2-item"></div>
                <div class="module2-2-item"></div>
              </div>
            </div>
            <span class="name">2*2</span>
          </div>
        </div>
        <div class="moduleSure">
          <button @click="setWscamera">确定</button>
          <button @click="cancelWscamera">取消</button>
        </div>
      </div>
      <!-- <testhls style="z-index:9999" v-if="testhlshow"></testhls> -->
    </div>
  </div>
  <div class="module_pop" v-if="false">
    <div class="module_set_pop">
      <div class="module_header">
        <div class="module_header_title">模块配置</div>
        <div class="close_icon" @click="closeIcon"></div>
      </div>
      <div class="module_content">
        <div class="module_item" @click="setModule(1)">
          <div class="module_item_icon">
            <div class="module1-1"></div>
          </div>
          <span class="name">1*1</span>
        </div>
        <div class="module_item" @click="setModule(2)">
          <div class="module_item_icon">
            <div class="module1-2">
              <div class="module1-2-item"></div>
              <div class="module1-2-item"></div>
            </div>
          </div>
          <span class="name">1*2</span>
        </div>
        <div class="module_item" @click="setModule(3)">
          <div class="module_item_icon">
            <div class="module2-2">
              <div class="module2-2-item"></div>
              <div class="module2-2-item"></div>
              <div class="module2-2-item"></div>
              <div class="module2-2-item"></div>
            </div>
          </div>
          <span class="name">2*2</span>
        </div>
        <!-- <div class="module_item" @click="setModule(4)">
          <div class="module_item_icon">
            <div class="module3-3">
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
              <div class="module3-3-item"></div>
            </div>
          </div>
          <span class="name">3*3</span>
        </div>-->
      </div>
    </div>
  </div>
  <div class="module_pop" v-if="false">
    <div class="module_set_pop">
      <div class="module_header">
        <div class="module_header_title">轮巡配置</div>
        <div class="close_icon" @click="closeIcon"></div>
      </div>
      <div class="module_contents">
        <div class="module_contentselect">
          <div class="module_contentselect_item">摄像头类别：</div>
          <div class="module_contentselect_item">
            <el-select
              class="typeSelect"
              v-model="cameraCfgParams.tag"
              placeholder="请选择"
              name="type"
              @change="cameraTypeChange"
            >
              <el-option
                v-for="item in cameraType"
                :key="item.value"
                class="selOption"
                :value="item.value"
              >{{ item.tip }}</el-option>
            </el-select>
          </div>

          <div class="module_contentselect_item">相机列表：</div>
          <div class="module_contentselect_item">
            <!-- <el-cascader
              v-model="cameraCfgParams.selCameraList"
              :options="cameraList"
              class="typeSelecttest"
              :props="{ multiple: true, checkStrictly: true,label:'address',value:'cameraCode' }"
            clearable></el-cascader>-->
            <el-select
              v-model="cameraCfgParams.cams"
              placeholder="请选择"
              class="typeSelect"
              multiple="multiple"
              collapse-tags
            >
              <el-option
                v-for="item in cameraList"
                :key="item.cameraCode"
                :value="item.cameraCode"
                :label="item.address"
              ></el-option>
            </el-select>
          </div>

          <div class="module_contentselect_item">轮播频次：</div>
          <div class="module_contentselect_item">
            <el-select
              class="typeSelect"
              v-model="cameraCfgParams.cycle"
              placeholder="请选择"
              name="type"
            >
              <!-- <option class="selOption" value disabled selected>
                -请选择-
              </option>-->
              <el-option
                v-for="item in TimeType"
                :key="item.value"
                class="selOption"
                :value="item.value"
              >{{ item.tip }}</el-option>
            </el-select>
          </div>
        </div>
        <div class="moduleSure">
          <button @click="setWscamera">确定</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import modulecamera from "@/components/cameraLoop/modulecamera";
import testhls from "@/components/cameraLoop/testhls";
import { reactive, getCurrentInstance } from "vue";
import { WSconnect } from "@/utils/videoSocket";
export default {
  data() {
    return {
      cameraCfgParams: {
        tag: "",
        num: "",
        cycle: 60,
        cams: []
      },
      selCameraList: [],

      selectIndex: 0,
      boxrow: 2,
      boxcolumn: 2,
      rowpercent: "50%",
      columnpercent: "50%",
      isAI: false,
      showModuleSet: false,
      showloopSet: false,
      type: "",
      count: 0,
      currentType: "高空抛物",
      aiType: "",
      cameraType: [
        // {tip:'',value:''},
        { tip: "高空抛物", value: "高空抛物" },
        { tip: "出入口", value: "出入口" },
        { tip: "主干道", value: "主干道" },
        { tip: "消防占道", value: "消防占道" },
        { tip: "垃圾分类", value: "垃圾分类" },
      ],
      TimeType: [
        { tip: "1分钟", value: 60 },
        { tip: "3分钟", value: 180 },
        { tip: "5分钟", value: 300 },
        { tip: "10分钟", value: 600 },
      ],
      cameraList: [],
      saveParams: {},
      testhlshow: false
    };
  },
  setup(props, context) {
    const { proxy } = getCurrentInstance();

    let imgBoxstyle = reactive({
      tab_item: "",
      selectedTxt: "",
      checkbox: "",
      AI_tab_txt: "",
      module_set_item: "",
      module_set_item_w: "",
      module_header_title: "",
      module_header_title_h: "",
      module_contentselect_item: "",
      module_contentselect_item_w: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      imgBoxstyle.tab_item = "1.3rem";
      imgBoxstyle.selectedTxt = "1.5rem";
      imgBoxstyle.checkbox = "1.7rem";
      imgBoxstyle.AI_tab_txt = "1.3rem";
      imgBoxstyle.module_set_item = "1.4rem";
      imgBoxstyle.module_set_item_w = "9rem";
      imgBoxstyle.module_header_title = "1.5rem";
      imgBoxstyle.module_header_title_h = "100%";
      imgBoxstyle.module_contentselect_item = "1.3rem";
      imgBoxstyle.module_contentselect_item_w = "30rem";
      imgBoxstyle.module_title_new = "2.5rem";
    } else {
      imgBoxstyle.tab_item = "1rem";
      imgBoxstyle.selectedTxt = "1.2rem";
      imgBoxstyle.checkbox = "1rem";
      imgBoxstyle.AI_tab_txt = "1rem";
      imgBoxstyle.module_set_item = "1.1rem";
      imgBoxstyle.module_set_item_w = "6rem";
      imgBoxstyle.module_header_title = "1.2rem";
      imgBoxstyle.module_header_title_h = "60%";
      imgBoxstyle.module_contentselect_item = "1rem";
      imgBoxstyle.module_contentselect_item_w = "18rem";
      imgBoxstyle.module_title_new = "1.8rem";
    }
    return {
      imgBoxstyle,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    cancelWscamera() {
      this.showloopSet = false;
      setTimeout(() => {
        let target = document.getElementById("dom1")
        target.style.width = '100%'
        target.style.height = '100%'
        if (document.createEvent) {
          //调用document对象的 createEvent 方法得到一个event的对象实例。
          var event = document.createEvent("HTMLEvents");
          // initEvent接受3个参数：
          // 事件类型，是否冒泡，是否阻止浏览器的默认行为
          event.initEvent("resize", true, true);
          //触发document上绑定的自定义事件resize
          window.dispatchEvent(event);
        } else if (document.createEventObject) {
          //触发document上绑定的自定义事件onresize
          window.fireEvent("onresize");
        }
      }, 500);
    },
    setWscamera() {
      this.saveParams.type = "disconnect";
      WSconnect(this.saveParams);

      setTimeout(() => {
        console.log(this.cameraCfgParams);
        this.saveParams.type = "connect";
        localStorage.setItem("cuttentCameraType",this.cameraCfgParams.tag)
        WSconnect(this.cameraCfgParams);
        this.saveParams = JSON.parse(JSON.stringify(this.cameraCfgParams));
        this.closeIcon()
        setTimeout(() => {
          let target = document.getElementById("dom1")
          target.style.width = '100%'
          target.style.height = '100%'
          if (document.createEvent) {
            //调用document对象的 createEvent 方法得到一个event的对象实例。
            var event = document.createEvent("HTMLEvents");
            // initEvent接受3个参数：
            // 事件类型，是否冒泡，是否阻止浏览器的默认行为
            event.initEvent("resize", true, true);
            //触发document上绑定的自定义事件resize
            window.dispatchEvent(event);
          } else if (document.createEventObject) {
            //触发document上绑定的自定义事件onresize
            window.fireEvent("onresize");
          }
        }, 500);

      }, 1000);
    },
    changetab(index) {
      this.selectIndex = index;
      this.saveParams.type = "disconnect";
      console.log(this.saveParams)
      WSconnect(this.saveParams);
      switch (index) {
        case 0:
          this.isAI = false;
          this.aiType = "";
          this.currentType = "高空抛物";
          localStorage.setItem("cuttentCameraType", this.currentType);
          break;
        case 1:
          this.isAI = false;
          this.aiType = "";
          this.currentType = "出入口";
          localStorage.setItem("cuttentCameraType", this.currentType);
          break;
        case 2:
          this.isAI = false;
          this.aiType = "";
          this.currentType = "主干道";
          localStorage.setItem("cuttentCameraType", this.currentType);

          break;
        case 3:
          this.isAI = false;
          this.aiType = "";
          this.currentType = "消防占道";
          localStorage.setItem("cuttentCameraType", this.currentType);

          break;
        case 4:
          this.isAI = false;
          this.aiType = "";
          this.currentType = "垃圾分类";
          localStorage.setItem("cuttentCameraType", this.currentType);

          break;
        case 5:
          this.isAI = !this.isAI;
          if (this.isAI) {
            this.selectIndex = 5;
            this.currentType = "";
            this.aiType = 1;
          } else {
            this.aiType = 0;
            this.selectIndex = 0;
            this.currentType = "高空抛物";
          }
          localStorage.setItem("cuttentCameraType", this.currentType);
          break;
      }
      setTimeout(() => {
        this.cameraCfgParams.token = localStorage.getItem("token");
        this.cameraCfgParams.type = "connect";
        this.cameraCfgParams.num = this.boxrow * this.boxcolumn;
        this.cameraCfgParams.tag = this.currentType;
        this.saveParams = JSON.parse(JSON.stringify(this.cameraCfgParams));
        // this.cameraCfgParams.cycle = this.currentType;
        WSconnect(this.cameraCfgParams);
      }, 2000);

      this.change_cameralist();
    },
    changeloppset() {
      this.showloopSet = true;
      this.getHkCameraByTag({ tag: "高空抛物" })
      setTimeout(() => {
        let target = document.getElementById("dom1")
        target.style.width = '100%'
        target.style.height = '100%'
        if (document.createEvent) {
          //调用document对象的 createEvent 方法得到一个event的对象实例。
          var event = document.createEvent("HTMLEvents");
          // initEvent接受3个参数：
          // 事件类型，是否冒泡，是否阻止浏览器的默认行为
          event.initEvent("resize", true, true);
          //触发document上绑定的自定义事件resize
          window.dispatchEvent(event);
        } else if (document.createEventObject) {
          //触发document上绑定的自定义事件onresize
          window.fireEvent("onresize");
        }
      }, 500);
    },
    changeModule() {
      this.showModuleSet = true;
    },
    closeIcon() {
      this.showloopSet = false;
      this.showModuleSet = false;
    },
    checkedAI() {
      this.changetab(5);
      // console.log(this.dahuaWs);
      // const ctrls = this.dahuaWs.ctrls.map(i => {
      //   if (i.ctrlCode === "ctrl1") {
      //     return i.ctrlCode;
      //   }
      // });
      // console.log(ctrls);
      setTimeout(() => {
        let target = document.getElementById("dom1")
        target.style.width = '100%'
        target.style.height = '100%'
        if (document.createEvent) {
          //调用document对象的 createEvent 方法得到一个event的对象实例。
          var event = document.createEvent("HTMLEvents");
          // initEvent接受3个参数：
          // 事件类型，是否冒泡，是否阻止浏览器的默认行为
          event.initEvent("resize", true, true);
          //触发document上绑定的自定义事件resize
          window.dispatchEvent(event);
        } else if (document.createEventObject) {
          //触发document上绑定的自定义事件onresize
          window.fireEvent("onresize");
        }
      }, 500);

      // this.$refs['modulecamera'].$refs['cameradahua'].destroy()
      // setTimeout(() => {
      //   this.$refs['modulecamera'].$refs['cameradahua'].create()
      // }, 1000);


    },
    cameraNumber() {
      this.$store.dispatch("cameraNum");
    },
    change_cameralist() {
      this.count = this.boxrow * this.boxcolumn;
      this.$store.commit("CHANGE_PARAMS", {
        name: "limit",
        value: this.count,
      });
      this.$store.commit("CHANGE_PARAMS", {
        name: "tag",
        value: this.currentType,
      });
      if (this.aiType) {
        this.$store.commit("CHANGE_PARAMS", {
          name: "ai",
          value: this.aiType,
        });
      } else {
        this.$store.commit("CHANGE_PARAMS", {
          name: "ai",
          value: this.aiType,
        });
      }

      this.$store.dispatch("cameraListV1", this.getcameraParams);
    },
    setModule(index) {
      // this.saveParams.type = "disconnect";
      // WSconnect(this.saveParams);

      switch (index) {
        case 1:
          this.boxrow = 1;

          this.boxcolumn = 1;
          // this.rowpercent = `${100 / this.boxrow}%`;
          // this.columnpercent = `${100 / this.boxcolumn}%`;
          // console.log(this.rowpercent, this.columnpercent);
          // this.change_cameralist();
          break;
        case 2:
          this.boxrow = 1;
          this.boxcolumn = 2;
          // this.rowpercent = `${100 / this.boxrow}%`;
          // this.columnpercent = `${100 / this.boxcolumn}%`;
          // this.change_cameralist();
          break;
        case 3:
          this.boxrow = 2;
          this.boxcolumn = 2;
          // this.rowpercent = `${100 / this.boxrow}%`;
          // this.columnpercent = `${100 / this.boxcolumn}%`;
          // this.change_cameralist();
          break;
        case 4:
          this.boxrow = 3;
          this.boxcolumn = 3;
          // this.rowpercent = `${100 / this.boxrow}%`;
          // this.columnpercent = `${100 / this.boxcolumn}%`;
          // this.change_cameralist();
          break;
      }
      setTimeout(() => {
        this.cameraCfgParams.type = "connect";
        this.cameraCfgParams.num = this.boxrow * this.boxcolumn;

        // this.saveParams = JSON.parse(JSON.stringify(this.cameraCfgParams));
        // this.showModuleSet = false;
      }, 1000);
    },
    cameraTypeChange() {
      // console.log(this.cameraCfgParams.tag);
      this.cameraCfgParams.cams = []
      this.getHkCameraByTag({ tag: this.cameraCfgParams.tag })

    },
    getHkCameraByTag(params) {
      this.$store.dispatch("getHkCameraByTagConfig", params)
        .then(res => {
          this.cameraList = res.data
        })
    }
  },

  created() {

    this.count = this.boxrow * this.boxcolumn;
    this.$store.commit("CHANGE_PARAMS", { name: "limit", value: this.count });
    this.$store.commit("CHANGE_PARAMS", { name: "tag", value: "高空抛物" });
    // this.$store.dispatch("cameraListV1", this.getcameraParams);
  },

  mounted() {
    this.$store.dispatch("getLoopCfg");
    this.cameraCfgParams.token = localStorage.getItem("token");
    this.cameraCfgParams.type = "connect";
    this.cameraCfgParams.num = this.boxrow * this.boxcolumn;
    this.cameraCfgParams.tag = this.currentType;
    this.saveParams = JSON.parse(JSON.stringify(this.cameraCfgParams));
    WSconnect(this.cameraCfgParams);
    this.cameraNumber();
    this.getHkCameraByTag({ tag: this.currentType })

    // setTimeout(()=>{
    //   this.boxrow= 2
    //   this.boxcolumn = 2
    // },500)
  },
  beforeUnmount() {
    this.saveParams.type = "disconnect";
    console.log(this.saveParams)
    WSconnect(this.saveParams);
  },
  watch: {},
  computed: {
    ...mapState({
      getcameraParams: (state) => state.cameraLoop.getcameraParams,
      dahuaWs: (state) => state.cameraLoop.dahuaWs,
      cameraNum: state => state.infoMessage.cameraNum
    }),

    ...mapGetters([]),
  },
  components: {
    modulecamera,
    testhls
  },
};
</script>
<style>
/* el-cascader-panel{
  background: red;
} */
/* .typeSelecttest{
  background: yellow;
} */
</style>
<style lang='less' scoped>
::v-deep {
  .el-input__inner {
    background: #013459 !important;
    border-color: #013459;
    color: #fff;
    border: none;
  }
}

.cameraLoop {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  .cameraLoopbox {
    width: 100%;
    height: 3rem;
    background: rgba(10, 28, 54, 0.5);
    padding: 0 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: 100%;
    .box_tabs {
      height: 3rem;
      border-bottom: 1px solid #499eaf;
      text-align: left;
      border-image: -webkit-linear-gradient(left, #3a9aa9, transparent) 1 1;
      .tab_item {
        display: inline-block;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        color: white;
        margin-right: 3rem;
        cursor: pointer;
        font-size: v-bind("imgBoxstyle.tab_item");
      }
    }
    .AI_tab {
      height: 3rem;
      display: flex;
      align-items: center;
      .checkbox {
        display: inline-block;
        width: v-bind("imgBoxstyle.checkbox");
        height: v-bind("imgBoxstyle.checkbox");
        border: 1px solid #9aa0a4;
        border-radius: 3px;
      }
      .ischecked {
        border: none;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/xuanze.png")
          no-repeat;
        background-size: 100%;
      }
      .AI_tab_txt {
        margin-left: 10px;
        font-size: v-bind("imgBoxstyle.AI_tab_txt");
        color: #b5edff;
        font-weight: 600;
        text-shadow: 1px 1px 5px #b5edff;
      }
    }
    .module_set {
      //   background: brown;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .module_set_item {
        width: v-bind("imgBoxstyle.module_set_item_w");
        height: 70%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b3f1ff;
        text-shadow: 2px 2px 5px #b3f1ff;
        font-style: oblique;
        font-weight: 800;
        font-size: v-bind("imgBoxstyle.module_set_item");
        padding: 0.2rem 0.5rem;
        margin-right: 10px;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-blue.png")
          no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
      }
    }
  }
  .cameraLoopbox_container {
    width: 100%;
    height: calc(100% - 3rem);
    background: rgba(10, 28, 54, 0.5);
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    .cameraModuleleft {
      flex: 4;
    }
    .cameraModuleRight {
      flex: 1;
      border-radius: 10px;
      background: url("~@/assets/images/cameraloop/bg-left.png") no-repeat;
      background-size: 105.7% 101.5%;
      background-position: center;
      width: 100%;
      height: 100%;
      padding: 20px 40px;
      box-sizing: border-box;
      .module_contentselect_item_new {
        color: white;
        text-align: left;
        line-height: 35px;
        font-size: v-bind("imgBoxstyle.module_contentselect_item");
        .typeSelect {
          width: 80%;
        }
      }
    }
  }
}
.selectedTxt {
  color: #1ac4d7;
  font-size: v-bind("imgBoxstyle.selectedTxt");
  font-weight: 600;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #44cadd;
}
.module_pop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  .module_set_pop {
    width: 30%;
    height: 40%;
    background: rgba(22, 48, 78);
    border: 1px solid #0092fe;
    .module_header {
      height: 3.5rem;
      background: url("~@/assets/images/cameraloop/bg-biaoti.png") no-repeat;
      background-position: 0rem -2px;
      background-size: 50%;
      position: relative;
      .module_header_title {
        width: 10rem;
        height: v-bind("imgBoxstyle.module_header_title_h");
        //   background: burlywood;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: v-bind("imgBoxstyle.module_header_title");
      }
      .close_icon {
        height: 3.5rem;
        width: 6rem;
        //   border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.2rem;
        background: url("~@/assets/images/cameraloop/guuanbi.png") no-repeat;
        background-size: 90% 100%;
        background-position: right -2px;
        text-align: center;
        line-height: 1.5rem;
        cursor: pointer;
      }
    }
    .module_contents {
      height: calc(100% - 3.5rem);
      //   background: #ccc;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      position: relative;
      .moduleSure {
        position: absolute;
        bottom: 5rem;
        width: 100%;
        height: 100;
        button {
          padding: 0.5rem 3rem;
          background: rgba(14, 172, 203, 1);
          border: none;
          color: white;
          cursor: pointer;
        }
      }
      .module_contentselect {
        width: 80%;
        height: 8rem;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 50% 50%;
        color: white;
        .moduleSure {
          background: chartreuse;
        }
        .module_contentselect_item:nth-child(2n-1) {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: v-bind("imgBoxstyle.module_contentselect_item");
        }
        .module_contentselect_item:nth-child(2n) {
          display: flex;
          align-items: center;
          .typeSelect {
            border: 1px solid #1e5e80;
            outline: none;
            width: v-bind("imgBoxstyle.module_contentselect_item_w");
            background: #013459;
            border-radius: 0.3rem;
            // height: 2.5rem;
            color: white;
            padding: 0.5rem;
            font-size: v-bind("imgBoxstyle.module_contentselect_item");
            .selOption {
              background: #013459;
            }
          }
        }
      }
    }
    .module_content {
      height: calc(100% - 3.5rem);
      //   background: #ccc;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%);
      .module_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: white;
        .name {
          font-size: v-bind("imgBoxstyle.tab_item");
        }
        .module_item_icon {
          width: 80%;
          height: 70%;
          background: #00345b;
          margin-bottom: 0.2rem;
          border-radius: 0.42rem;
          border: 1px solid #0e648b;
          padding: 0.3rem;
          box-sizing: border-box;
          .module1-1 {
            width: 100%;
            height: 100%;
            border: 1px solid #0e648b;
            box-sizing: border-box;
            background: #002744;
            border-radius: 0.42rem;
          }
          .module1-2 {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            .module1-2-item {
              border: 1px solid #0e648b;
              box-sizing: border-box;
              background: #002744;
              border-radius: 0.42rem;
            }
          }
          .module2-2 {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            .module2-2-item {
              border: 1px solid #0e648b;
              box-sizing: border-box;
              background: #002744;
              border-radius: 0.42rem;
            }
          }
          .module3-3 {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            .module3-3-item {
              border: 1px solid #0e648b;
              box-sizing: border-box;
              background: #002744;
              border-radius: 0.42rem;
            }
          }
        }
      }
    }
  }
}
.module_title_new {
  color: #8bf3fc;
  font-size: v-bind("imgBoxstyle.module_title_new");
  text-align: left;
}
.module_content {
  height: 50%;
  //   background: #ccc;
  display: grid;
  grid-template-rows: repeat(3, 33.3%);

  .module_item {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    .name {
      font-size: v-bind("imgBoxstyle.tab_item");
      text-align: left;
    }
    .module_item_icon {
      width: 80%;
      height: 70%;
      background: #00345b;
      margin-bottom: 0.2rem;
      border-radius: 0.42rem;
      border: 1px solid #0e648b;
      padding: 0.3rem;
      box-sizing: border-box;
      .module1-1 {
        width: 100%;
        height: 100%;
        border: 1px solid #0e648b;
        box-sizing: border-box;
        background: #002744;
        border-radius: 0.42rem;
      }
      .module1-2 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        .module1-2-item {
          border: 1px solid #0e648b;
          box-sizing: border-box;
          background: #002744;
          border-radius: 0.42rem;
        }
      }
      .module2-2 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        .module2-2-item {
          border: 1px solid #0e648b;
          box-sizing: border-box;
          background: #002744;
          border-radius: 0.42rem;
        }
      }
      .module3-3 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        .module3-3-item {
          border: 1px solid #0e648b;
          box-sizing: border-box;
          background: #002744;
          border-radius: 0.42rem;
        }
      }
    }
  }
}

.moduleSure {
  button {
    padding: 0.5rem 3rem;
    background: rgba(14, 172, 203, 1);
    border: none;
    color: white;
    cursor: pointer;
  }
  button:nth-child(2) {
    background: #aaa;
  }
}
</style>
