<template>
  <div class="videoAggregation" id="videoAggregation">
    <div class="videoAggregationscreen" id="videoAggregationscreen">
      <dashboardInner></dashboardInner>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import dashboardInner from "@/views/Home.vue";
export default {
  data() {
    return {
      
    };
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() {
    
  },
  mounted() {
    // console.log(this.$route.query.v);
    if (this.$route.query.v == 1) {
      let s = {
        width: 3780,
        height: 1080,
        ratio: 32 / 9
      };
      let m = { width: 1920, height: 1080, ratio: 16 / 9 };
      let b = {
        width: window.screen.width,
        height: window.screen.height,
        ratio: 16 / 9
      };
      let f_h_w_b = s.ratio / b.ratio;
      let b_h_w_b = m.width / b.width;
      document.getElementById("videoAggregationscreen").style.width =
        m.width * f_h_w_b + "px";

      let dd = document.getElementById("videoAggregationscreen");
      dd.style.transform =
        "scale(" + (1 / f_h_w_b)  +"," + 1  + ")";
      dd.style.transformOrigin = "0 0";
      console.log(document.getElementsByTagName('option'))
    //    document.getElementsByTagName("html")[0].setAttribute("style", "font-size:" + "px");
    } else {
      // console.log(22222);
      var width = window.screen.width / 1920;
      var height = window.screen.height / 1080;

      // console.log(window.screen.width);
      // console.log(window.screen.height);
      // var newwidth = 1 / width;
      // var newheight = 1 / height;
      // // console.log(newwidth);
      // // console.log(newheight);]
      // console.log(width)
      // console.log(height)

      // document.getElementById("videoAggregationscreen").style.transform 
      // = "scale(" + width + "," + height + ")"
      // document.getElementsByTagName("html")[0].setAttribute("style", "font-size:32px");
    //   this.$store.commit('SET_SX',1/ width)
    //   this.$store.commit('SET_SY',1/height)

    }

  },
  watch: {},
  computed: {
    ...mapState({
      
    }),

    ...mapGetters([])
  },
  components: {
    // dashboardInner
    dashboardInner
  }
};
</script>

<style lang='less' scoped>
.videoAggregation {
  width: 100%;
  height: 100%;
  // // background: #ccc;
}
.videoAggregationscreen {
  width: 100%;
  height: 100%;
  transform-origin: left top;

}
</style>
