<template>
  <div class="home">
    <div class="header">
      <!-- <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingang/a3i2q-3nn1i.webp" alt=""> -->
      <div class="header_title">
        <span style="font-size:1.7rem">临港新片区"一网统管"</span>
        <span style="font-size:1.5rem;color:#c1c1c1">-</span> 
        <span style="font-size:1.6rem">社区治理与服务平台</span> 
        <span style="font-size:1.5rem;color:#c1c1c1">-</span>
        <span style="font-size:1.3rem">{{ name }}</span>  
      </div>
      <div class="tabCustom">
        <div
          @click="changeIndex(0)"
          :class="
            selectIndex == 0
              ? ['customItem', 'customItem-first-child-el']
              : ['customItem', 'customItem-first-child']
          "
        >
          生命体征
        </div>
        <div
          @click="changeIndex(1)"
          :class="
            selectIndex == 1
              ? ['customItem', 'customItem-first-child-el']
              : ['customItem', 'customItem-first-child']
          "
        >
          自治共治
        </div>
        <div
          @click="changeIndex(2)"
          :class="
            selectIndex == 2
              ? ['customItem', 'customItem-first-child-el']
              : ['customItem', 'customItem-first-child']
          "
        >
          视频轮巡
        </div>
        <div
          @click="changeIndex(3)"
          :class="
            selectIndex == 3
              ? ['customItem', 'customItem-first-child-el']
              : ['customItem', 'customItem-first-child']
          "
        >
          通知提醒
        </div>
      </div>
      <div class="weather_time">
        <div class="time">
          <div class="time_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/tianqi.png"
              alt
            />
          </div>
          <div class="time_txt">
            <div class="fontWeight600">{{ weather.temperature }}℃</div>
            <div>{{ weather.weather }}</div>
          </div>
        </div>
        <div class="weather">
          <div class="weather_icon" v-if="true">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/shijian.png"
              alt
              v-if="false"
            />
          </div>
          <div class="weather_txt">
            <div class="fontWeight600">{{ timeString }}</div>
            <div>{{ dateString }} 星期{{ weekString }}</div>
          </div>
        </div>
        <div class="enter" @click="enterTo">进入后台</div>
        <div class="exit" @click="exitToLogin">退出</div>
      </div>
    </div>
    <div class="content" v-show="selectIndex == 0">
      <lifeTizheng></lifeTizheng>
    </div>
    <div class="content_zizhi" v-if="selectIndex == 1">
      <!-- :style="selectIndex == 1 ? 'opacity:1' : 'opacity:0'" -->
      <selfTogether
        :showechart="selectIndex == 1 ? true : false"
      ></selfTogether>
    </div>
    <div class="content_shipin" v-if="selectIndex == 2">
      <cameraLoop ></cameraLoop>
    </div>
    <div class="content_notice" v-if="selectIndex == 3">
      <notice @getPerson="getPerson"></notice>
    </div>
    <all-search v-if="isShowSearchDialog"></all-search>
    <recent-to1do v-if="isShowRecentDialog"></recent-to1do>
    <renovation v-if="renovationVisible"></renovation>
    <detail-dialog v-if="isShowDetailDialog"></detail-dialog>
    <detailDialogdianti v-if="false"></detailDialogdianti>
    <hot-line v-if="isShowHotlineDialog"></hot-line>
    <inform-dialog v-if="isShowInformDialog"></inform-dialog>
    <edit-inform-dialog
      :personId="personInfo"
      v-if="isShowEditInformDialog"
    ></edit-inform-dialog>
    <div class="pop-group">
      <caseHandleOvertimePop
        v-if="caseHandleOvertimePopVisible"
      ></caseHandleOvertimePop>
      <bigPicPop v-if="bigPicPopVisible"></bigPicPop>
      <noHandleCasepPop v-if="noHandleCasepPopVisible"></noHandleCasepPop>
      <noEpidemicPop v-if="noEpidemicPopVisible"></noEpidemicPop>
      <residentManagePop v-if="residentManagePopVisible"></residentManagePop>
      <caseHandleEfficiencyPop
        v-if="caseHandleEfficiencyPopVisible"
      ></caseHandleEfficiencyPop>
      <videoEnsure
        @closeVideoEnsure="handleCloseVideoEnsure"
        :videoEnsureVisible="videoEnsureVisible"
      ></videoEnsure>
      <sanHuiDetailPop v-if="sanhuiPopVisible"></sanHuiDetailPop>
      <caseListPop v-if="caseListPopVisible"></caseListPop>
      <bayonetPop v-if="bayonetPopVisible"></bayonetPop>
      <locusPop v-if="locusPopVisible"></locusPop>
      <!-- <houseInfo v-if="false"></houseInfo> -->
      <yiqingbukongPeoPop v-if="yiqingbukongPeoPopVisible"></yiqingbukongPeoPop>
      <xiaoquPeo v-if="xiaoquPeoVisible"></xiaoquPeo>
      <peopleInAndOutPop v-if="inAndOutPopVisible"></peopleInAndOutPop>
      <carInAndOutPop v-if="carInAndOutPopVisible"></carInAndOutPop>
      <singleCameraPop v-if="singlecameraVisible"></singleCameraPop>
      <singleDiantiDialog v-if="singlediantivisible"></singleDiantiDialog>
      <houseInfo v-if="houseinfoVisible"></houseInfo>
      <houseUse v-if="houseUseVisible"></houseUse>
      <detailDialogdianti v-if="isShowDetailDialogdianti"></detailDialogdianti>
      <warehouseDialog v-if="iswarehouseInfo"></warehouseDialog>
    </div>
  </div>
</template>

<script>
import Base64 from 'js-base64'
import axios from "axios";
// @ is an alias to /src
import videoEnsure from "@/components/videoEnsure/videoEnsure";
import cameraLoop from "@/views/cameraLoop.vue";
import notice from "@/views/notice.vue";
import lifeTizheng from "@/views/lifeTizheng.vue";
import selfTogether from "@/views/selfTogether.vue";
import allSearch from "../components/allSearch/allSearch";
import recentTo1do from "../components/recentTodo/recentTo1do";
import renovation from "../components/recentTodo/renovation";
import detailDialog from "../components/detailDialog/detailDialog";
// import detailDialogdianti from "../components/detailDialog/detailDialogdianti";
import hotLine from "../components/recentTodo/hotLine";
import informDialog from "../components/informDialog/informDialog";
import editInformDialog from "../components/informDialog/editInformDialog";
import { mapGetters, mapState } from "vuex";
import { reactive, getCurrentInstance } from "vue";
import caseHandleOvertimePop from "@/components/lifeTizheng/healthyPops/caseHandleOvertimePop.vue";
import caseHandleEfficiencyPop from "@/components/lifeTizheng/healthyPops/caseHandleEfficiencyPop.vue";
import bigPicPop from "@/components/lifeTizheng/healthyPops/bigPicPop.vue";
import noHandleCasepPop from "@/components/lifeTizheng/healthyPops/noHandleCasepPop.vue";
import peopleInAndOutPop from "@/components/lifeTizheng/peopleInAndOutPop.vue";
import carInAndOutPop from "@/components/lifeTizheng/carInAndOutPop.vue";
import noEpidemicPop from "@/components/lifeTizheng/healthyPops/noEpidemicPop.vue";
import residentManagePop from "@/components/lifeTizheng/healthyPops/residentManagePop.vue";
import sanHuiDetailPop from "@/components/selfTogether/taskPops/sanHuiDetailPop.vue";
import caseListPop from "@/components/selfTogether/caseListPop.vue";
import bayonetPop from "@/components/lifeTizheng/bayonet/bayonetPop.vue";
import locusPop from "@/components/lifeTizheng/bayonet/locusPop";
import houseInfo from "@/components/lifeTizheng/bayonet/houseInfo";
import yiqingbukongPeoPop from "@/components/detailDialog/yiqingbukongPeoPop";
import warehouseDialog from "@/components/detailDialog/warehouseDialog";
import singleCameraPop from "@/components/detailDialog/singleCameraPop";
import singleDiantiDialog from "@/components/detailDialog/singleDiantiDialog";
import xiaoquPeo from "@/components/detailDialog/xiaoquPeo";
// import houseInfo from "@/components/lifeTizheng/bayonet/houseInfo";
import houseUse from "@/components/lifeTizheng/bayonet/houseUse";
import Vue from "vue";
import detailDialogdianti from "../components/detailDialog/detailDialogdianti";


export default {
  name: "Home",
  data() {
    return {
      name:"",
      videoEnsureVisible: false,
      selectIndex: 0,
      timeString: "",
      timeString: "",
      d: new Date(),
      weather: {},
      personInfo: {},
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      system_title: "",
      status_text: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.system_title = "2rem";
      font_32_9.status_text = "1.3rem";
      font_32_9.juweiname = "1.6rem";
    } else {
      font_32_9.system_title = "1.5rem";
      font_32_9.status_text = "1rem";
      font_32_9.juweiname = "1.3rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    enterTo() {
      const user=localStorage.getItem("lingangUser")
      const pass=localStorage.getItem("lingangPass")
      let Base64=require('js-base64').Base64
      window.open("http://10.242.212.153:8090/lg/login?"+user+"&"+Base64.encode(pass));
    },
    exitToLogin() {
      this.$router.push("/");
    },
    handleCloseVideoEnsure: function (data) {
      console.log(data);
      this.videoEnsureVisible = data;
    },
    changeIndex(index) {
      this.selectIndex = index;
      // 关闭房态弹框
      this.$store.commit("CHANGE_HOUSEINFOVISIBLE", false);
      this.$store.commit("CHANGE_HOUSEUSEVISIBLE", false);
      // this.$store.dispatch("cameraListV1", this.getcameraParams);
    },
    getPerson(val) {
      this.personInfo = val;
    },
    getConfig() {
      this.$store.dispatch("getConfig").then((res) => {
        localStorage.setItem("picUrl", res.data.staticfilesUrl);
        localStorage.setItem("picUrlface", res.data.staticfilesUrlFace);
      });
    },
  },
  mounted() {
   
    if(localStorage.getItem("districtName")!==null){
       this.name=localStorage.getItem("districtName");
    }else{
      this.name=""
    }
    console.log(this.name)
    localStorage.setItem("cuttentCameraType", "高空抛物");
    //获取项目基础配置,办好图片加载前缀等
    this.getConfig();
    //
    // this.$store.dispatch("login", { mobile: "15601795090", password: "admin" });
    // 获取天气
    axios
      .get(
        "https://restapi.amap.com/v3/weather/weatherInfo?city=310115&key=8473e6b417526dd9a91e395f8c2fa2cc"
      )
      .then((res) => {
        if (res.data.info == "OK") {
          console.log(res.data);
          this.weather = res.data.lives[0];
        }
      });
    // 时钟
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
    }, 1000);
  },
  components: {
    videoEnsure,
    cameraLoop,
    notice,
    lifeTizheng,
    selfTogether,
    allSearch,
    recentTo1do,
    detailDialog,
    hotLine,
    informDialog,
    editInformDialog,
    caseHandleOvertimePop,
    bigPicPop,
    noHandleCasepPop,
    noEpidemicPop,
    residentManagePop,
    caseHandleEfficiencyPop,
    sanHuiDetailPop,
    caseListPop,
    bayonetPop,
    locusPop,
    houseInfo,
    yiqingbukongPeoPop,
    xiaoquPeo,
    peopleInAndOutPop,
    carInAndOutPop,
    singleCameraPop,
    renovation,
    houseUse,
    singleDiantiDialog,
    detailDialogdianti,
    warehouseDialog
  },
  computed: {
    weekString: function () {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    dateString: function () {
      return (
        this.d.getFullYear() +
        "/" +
        (this.d.getMonth() + 1) +
        "/" +
        this.d.getDate() +
        "/"
      );
    },
    ...mapState({
      caseHandleOvertimePopVisible: (state) =>
        state.visible.caseHandleOvertimePopVisible,
      bigPicPopVisible: (state) => state.visible.bigPicPopVisible,
      noHandleCasepPopVisible: (state) => state.visible.noHandleCasepPopVisible,
      noEpidemicPopVisible: (state) => state.visible.noEpidemicPopVisible,
      residentManagePopVisible: (state) =>
        state.visible.residentManagePopVisible,
      caseHandleEfficiencyPopVisible: (state) =>
        state.visible.caseHandleEfficiencyPopVisible,
      isShowHotlineDialog: (state) => state.visible.isShowHotlineDialog,
      renovationVisible: (state) => state.visible.renovationVisible,
      isShowRecentDialog: (state) => state.visible.isShowRecentDialog,
      isShowSearchDialog: (state) => state.visible.isShowSearchDialog,
      isShowDetailDialog: (state) => state.visible.isShowDetailDialog,
      isShowDetailDialogdianti: (state) => state.visible.isShowDetailDialogdianti,
      sanhuiPopVisible: (state) => state.visible.sanhuiPopVisible,
      isShowInformDialog: (state) => state.visible.isShowInformDialog,
      caseListPopVisible: (state) => state.visible.caseListPopVisible,
      isShowEditInformDialog: (state) => state.visible.isShowEditInformDialog,
      bayonetPopVisible: (state) => state.visible.bayonetPopVisible,
      locusPopVisible: (state) => state.lifeTizheng.locusPopVisible,
      houseinfoVisible: (state) => state.lifeTizheng.houseinfoVisible,
      yiqingbukongPeoPopVisible: (state) =>
        state.lifeTizheng.yiqingbukongPeoPopVisible,
      xiaoquPeoVisible: (state) => state.lifeTizheng.xiaoquPeoVisible,
      inAndOutPopVisible: (state) => state.visible.inAndOutPopVisible,
      carInAndOutPopVisible: (state) => state.visible.carInAndOutPopVisible,
      singlecameraVisible: (state) => state.lifeTizheng.singlecameraVisible,
      houseinfoVisible: (state) => state.lifeTizheng.houseinfoVisible,
      houseUseVisible: (state) => state.lifeTizheng.houseUseVisible,
      singlediantivisible: (state) => state.lifeTizheng.singlediantivisible,
      isShowDetailDialogdianti: (state) => state.visible.isShowDetailDialogdianti,
      iswarehouseInfo: (state) => state.visible.iswarehouseInfo,
    }),
  },
};
</script>

<style lang="less" scoped>
.home {
  width: 100%;
  height: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-di.png")
    no-repeat;

  background-size: 100% 100%;
  position: relative;
  .header {
    height: 5rem;
    width: 100%;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/top-biaoti.png")
      no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .weather_time {
      width: 23rem;
      height: 2.2rem;
      position: absolute;
      top: 2.6rem;
      right: 0;
      padding: 0 1rem;
      display: grid;
      grid-template-columns: 20% 43% 20% 20%;
      grid-template-rows: 100%;
      color: #2ebfd3;
      // background: burlywood;
      .time {
        // background: cadetblue;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        font-size: 0.8rem;
      }
      .enter {
        border-radius: 0.3rem;
        border: 0.1rem solid #42d0fe;
        width: 4rem;
        height: 2rem;
        color: #bef0ff;
        font-family: Microsoft YaHei;
        font-size: 0.8rem;
        line-height: 2rem;
        text-shadow: 1px 1px 8px #42d0fe;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(14, 184, 255, 0.36);
      }
      .exit {
        border-radius: 0.3rem;
        border: 1px solid #42d0fe;
        width: 4rem;
        height: 2rem;
        color: #bef0ff;
        font-family: Microsoft YaHei;
        font-size: 0.8rem;
        line-height: 2rem;
        text-shadow: 1px 1px 8px #42d0fe;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(14, 184, 255, 0.36);
      }
      .weather {
        // background: chocolate;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        font-size: 0.8rem;
      }
    }
    .header_title {
      height: 100%;
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: v-bind("font_32_9.system_title");
      font-weight: 900;
      // background: cornsilk;
      padding-bottom: 1rem;
      box-sizing: border-box;
      // color: #cbd4db;
      background-image: -webkit-linear-gradient(bottom, #666, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.2px #eee;
      .juweiname{
        font-size: v-bind("font_32_9.juweiname");
      }
    }
    .tabCustom {
      width: 24.5%;
      height: 2.2rem;
      position: absolute;
      top: 2.6rem;
      left: 0;
      padding: 0 1rem;
      display: flex;
      .customItem {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(103, 168, 208);
        cursor: pointer;
        font-size: v-bind("font_32_9.status_text");
        // padding-bottom: -2px;
        // box-sizing: border-box;
        border-bottom: 1px solid #01dff4;
      }
      .customItem-first-child {
        // background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81-blue.png")
        //   no-repeat;
        // background-size: 100% 100%;

        flex: 1.5;
      }
      .customItem-first-child-el {
        // background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81-yellow.png")
        //   no-repeat;

        background: url("~@/assets/images/tabBG.png");
        background-size: 100% 100%;
        flex: 1.5;
        color: #18effa;
      }
      .customItem-second-child {
        // background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB-blue.png")
        //   no-repeat;
        // background-size: 100% 100%;
        flex: 1.5;
        // margin-left: -1.3rem;
      }
      .customItem-second-child-el {
        // background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB-yellow.png")
        //   no-repeat;
        // background-size: 100% 100%;
        background: url("~@/assets/images/tabBG.png");
        background-size: 100% 100%;
        // flex: 1.7;
        // margin-left: -1.3rem;
        color: #18effa;
      }
    }
  }
  .content_notice {
    height: calc(100% - 5rem);
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 200;
  }
  .content_shipin {
    height: calc(100% - 5rem);
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 200;
  }
  .content_zizhi {
    height: calc(100% - 5rem);
    // background: rgb(103, 168, 208);
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 199;
  }

  .content {
    height: calc(100% - 5rem);
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 200;
  }
}
.content_title {
  height: 2rem;
  widows: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-biaoti.png")
    no-repeat;
  background-size: 100% 100%;
  padding-left: 1rem;
  box-sizing: border-box;
  color: #19f5fd;
  display: flex;
  justify-content: left;
  align-items: center;
}
.fontWeight600 {
  font-weight: 700;
}

</style>
