<template>
  <div class="lifeTizheng" @click="closeAll">
    <div class="content_item">
      <div class="content_item_box">
        <div class="content_item_card">
          <div class="content_title">
            健康状态
            <mySelect
              class="highEventSelect"
              defTxt="当天"
              placeholder="请选择"
              :list="healthSelectList"
              @chooseFn="healthSelect"
              v-if="false"
            />
          </div>
          <div class="content_n">
            <healthy></healthy>
          </div>
        </div>
        <div class="content_item_card">
          <div class="content_title">
            <span
              @click="geteventSelect(true)"
              :class="eventSelect ? ['title_select'] : ['title_unselect']"
            >
              高频事件
              <span v-if="eventSelect">/</span>
            </span>
            <span
              @click="geteventSelect(false)"
              :class="eventSelect ? ['title_unselect'] : ['title_select']"
            >
              <span v-if="!eventSelect">/</span>
              事件类别
            </span>
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect1"
              defTxt="全部社区"
              placeholder="请选择"
              :list="shequ"
              @chooseFn="eventselectfnshequ"
            />
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect2"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juweiList"
              @click="showAll"
              @chooseFn="eventselectfnjuwei"
            />
            <mySelect
              v-show="this.level == 4"
              class="highEventSelect3"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juwei"
              @chooseFn="eventselectfnjuwei"
            />
            <mySelect
              class="highEventSelect"
              defTxt="当天"
              placeholder="请选择"
              :list="healthSelectList"
              @chooseFn="eventselectfn"
            />
          </div>
          <div class="content_n">
            <highEvent v-if="eventSelect"></highEvent>
            <eventType v-if="!eventSelect"></eventType>
          </div>
        </div>
        <div class="content_item_card">
          <div class="content_title">
            <span
              @click="getyiqingSelect(true)"
              :class="yiqingSelect ? ['title_select'] : ['title_unselect']"
            >
              疫情布控
              <span v-if="yiqingSelect">/</span>
            </span>
            <span
              @click="getyiqingSelect(false)"
              :class="yiqingSelect ? ['title_unselect'] : ['title_select']"
            >
              <span v-if="!yiqingSelect">/</span>
              视频保障
            </span>
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect2"
              defTxt="全部社区"
              placeholder="请选择"
              :list="shequ"
              @chooseFn="epidemicselectfnshequ"
            />
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juweiList"
              @click="showAll"
              @chooseFn="epidemicselectfnjuwei"
            />
            <mySelect
              v-show="this.level == 4"
              class="highEventSelect"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juwei"
              @chooseFn="epidemicselectfnjuwei"
            />
          </div>
          <div class="content_n">
            <epidemic v-if="yiqingSelect" ref="epidemicData"></epidemic>
            <videoBaozhang v-if="!yiqingSelect"></videoBaozhang>
          </div>
        </div>
      </div>
    </div>
    <div class="content_item" style="position: relative">
      <thingJsMap v-if="showThingJsMap"></thingJsMap>
      <!-- <arcgisMap v-if="!showThingJsMap"></arcgisMap> -->
      <div class="changemap_icon">
        <div
          class="changemap_icon_item"
          @click="showshebei"
          @dblclick="addCameraList('camera')"
        >
          <img
            v-if="!camera"
            :src="require('@/assets/selftogether/xiangji@2x.png')"
            alt=""
          />
          <img
            v-if="camera"
            :src="require('@/assets/selftogether/xiangji_xuanz@2x.png')"
            alt=""
          />
        </div>
        <div class="IconList" v-if="showIconBox">
          <div class="changemap_icon_item" @click="addCameraList('xiaofang')">
            <img
              v-if="!mapIcon.xiaofang"
              :src="require('@/assets/selftogether/xiaofang@2x.png')"
              alt=""
            />
            <img
              v-if="mapIcon.xiaofang"
              :src="require('@/assets/selftogether/xiaofang_xuanz@2x.png')"
              alt=""
            />
            <span>消防占道</span>
          </div>
          <div class="changemap_icon_item" @click="addCameraList('laji')">
            <img
              v-if="!mapIcon.laji"
              :src="require('@/assets/shengmingtizheng/lajifenlei@2x.png')"
              alt=""
            />
            <img
              v-if="mapIcon.laji"
              :src="
                require('@/assets/shengmingtizheng/lajifenlei-xuanzhong@2x.png')
              "
              alt=""
            />
            <span>垃圾分类</span>
          </div>
          <div class="changemap_icon_item" @click="addCameraList('gaokong')">
            <img
              v-if="!mapIcon.gaokong"
              :src="require('@/assets/selftogether/gaokongpaowu@2x.png')"
              alt=""
            />
            <img
              v-if="mapIcon.gaokong"
              :src="require('@/assets/selftogether/gaokongpaowu_xuanz@2x.png')"
              alt=""
            />
            <span>高空抛物</span>
          </div>
          <div class="changemap_icon_item" @click="addCameraList('churukou')">
            <img
              v-if="!mapIcon.churukou"
              :src="require('@/assets/shengmingtizheng/churulou@2x.png')"
              alt=""
            />
            <img
              v-if="mapIcon.churukou"
              :src="
                require('@/assets/shengmingtizheng/churukou-xuanzhong@2x.png')
              "
              alt=""
            />
            <span>出入口</span>
          </div>
          <div class="changemap_icon_item" @click="addCameraList('zhugandao')">
            <img
              v-if="!mapIcon.zhugandao"
              :src="require('@/assets/shengmingtizheng/zhugandao@2x.png')"
              alt=""
            />
            <img
              v-if="mapIcon.zhugandao"
              :src="
                require('@/assets/shengmingtizheng/zhugandao-xuanzhong@2x.png')
              "
              alt=""
            />
            <span>主干道</span>
          </div>
          <div
            class="changemap_icon_item"
            @click="addCameraList('zhihuidianti')"
          >
            <img
              v-if="!mapIcon.zhihuidianti"
              :src="require('@/assets/shengmingtizheng/zhihuidianti@2x.png')"
              alt=""
            />
            <img
              v-if="mapIcon.zhihuidianti"
              :src="
                require('@/assets/shengmingtizheng/zhihuidianti-xuanzhong@2x.png')
              "
              alt=""
            />
            <span>智慧电梯</span>
          </div>
        </div>

        <div class="changemap_icon_item" @click="openSearchDialog()">
          <img
            :src="
              require('@/assets/shengmingtizheng/ic_map_search_default.png')
            "
            alt=""
          />
        </div>
        <!-- <div class="changemap_icon_item" @click="changeMap">
          <img
            :src="
              require('@/assets/shengmingtizheng/ic_map_switch_default.png')
            "
            alt=""
          />
        </div> -->
        <div class="changemap_icon_item" @click="clearmarker">
          <img
            :src="require('@/assets/shengmingtizheng/ic_map_eliminate.png')"
            alt=""
          />
        </div>
      </div>
      <highEventPop v-if="highEventPopVisible"></highEventPop>
      <eventTypePop v-if="eventTypePopVisible"></eventTypePop>
    </div>
    <!-- <div class="content_item">3</div> -->
    <div class="content_item">
      <div class="content_item_bottom">
        <div class="content_title">
          近期待办
          <mySelect
            class="highEventSelect"
            defTxt="全部"
            placeholder="请选择"
            :list="noticeList"
            @chooseFn="noticeselectFn"
          />
        </div>
        <div class="content_n">
          <backlog></backlog>
        </div>
      </div>
      <div class="content_item_bottom">
        <div class="content_title">
          <span
            @click="getSelect(true)"
            :class="peopleCarSelect ? ['title_select'] : ['title_unselect']"
          >
            进出统计
            <span v-if="peopleCarSelect">/</span>
          </span>
          <span
            @click="getSelect(false)"
            :class="peopleCarSelect ? ['title_unselect'] : ['title_select']"
          >
            <span v-if="!peopleCarSelect">/</span>
            人房信息
          </span>

          <mySelect
            class="highEventSelect"
            defTxt="当天"
            placeholder="请选择"
            :list="inoutSelectList"
            @chooseFn="inoutselectfn"
          />
        </div>
        <div class="content_n">
          <inOut v-if="peopleCarSelect"></inOut>
          <peopleHouse v-if="!peopleCarSelect"></peopleHouse>
        </div>
      </div>
    </div>
    <fireHousedialog v-if="fireHouseListVisible"></fireHousedialog>

    <!-- <houseInfo v-if="houseinfoVisible"></houseInfo> -->
    
    
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import healthy from "@/components/lifeTizheng/healthy";
import highEvent from "@/components/lifeTizheng/highEvent";
import epidemic from "@/components/lifeTizheng/epidemic";
import backlog from "@/components/lifeTizheng/backlog";
import inOut from "@/components/lifeTizheng/inOut";
import peopleHouse from "@/components/lifeTizheng/peopleHouse";
import videoBaozhang from "@/components/lifeTizheng/videoBaozhang";
import eventType from "@/components/lifeTizheng/eventType";
import highEventPop from "@/components/highEventPops/highEventPop";
import eventTypePop from "@/components/highEventPops/eventTypePop";
import thingJsMap from "@/components/lifeTizheng/thingjsMap";
import arcgisMap from "@/components/lifeTizheng/arcgisMap";
import fireHousedialog from "@/components/lifeTizheng/fireHousedialog";

// import houseInfo from "@/components/lifeTizheng/bayonet/houseInfo";

import mySelect from "@/components/selfTogether/mySelect.vue";
import { reactive, getCurrentInstance } from "vue";
import { WSconnect } from "@/utils/videoSocket";
export default {
  data() {
    return {
      epidemicData: { sheQuId: null, parentDistrictId: null },
      healthSelectList: [
        {
          value: "当天",
          label: "1",
        },
        {
          value: "当周",
          label: "2",
        },
        {
          value: "当月",
          label: "3",
        },
        {
          value: "当年",
          label: "4",
        },
        {
          value: "全部",
          label: "6",
        },
      ],
      showIconBox: false,
      peopleCarSelect: true,
      yiqingSelect: true,
      eventSelect: true,
      juweiList: [],
      shequList: [
        {
          value: "当天",
          label: "1",
        },
      ],
      inoutSelectList: [
        {
          value: "当天",
          label: "1",
        },
        {
          value: "当周",
          label: "2",
        },
      ],
      noticeList: [
        {
          value: "全部",
          label: "",
        },
        {
          value: "服务",
          label: "0",
        },
        {
          value: "预警",
          label: "1",
        },
        {
          value: "提醒",
          label: "2",
        },
      ],
      areaList: [
        {
          value: "选项1",
          label: "黄金糕",
        },
        {
          value: "选项2",
          label: "双皮奶",
        },
        {
          value: "选项3",
          label: "蚵仔煎",
        },
        {
          value: "选项4",
          label: "龙须面",
        },
        {
          value: "选项5",
          label: "北京烤鸭",
        },
      ],
      value: "",
      camera: false,
      mapIcon: {
        xiaofang: false,
        laji: false,
        gaokong: false,
        zhugandao: false,
        churukou: false,
        zhihuidianti: false,
      },
      timer: null,
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      content_title: "",
      title_select: "",
      title_unselect: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.content_title = "1.3rem";
      font_32_9.title_select = "1.3rem";
      font_32_9.title_unselect = "1rem";
      font_32_9.selectwidth = "9.5rem";
      font_32_9.selectsize = "1rem";
    } else {
      font_32_9.content_title = "1rem";
      font_32_9.title_select = "1rem";
      font_32_9.title_unselect = ".8rem";
      font_32_9.selectwidth = "6rem";
      font_32_9.selectsize = "0.8rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    showAll() {
      console.log(this.allJuwei);
      for (let val in this.allJuwei) {
        // console.log(typeof(this.allJuwei[val]));
        if (typeof this.allJuwei[val] == "undefined") {
          this.allJuwei.splice(val, 1);
          // console.log(val);
        }
      }
      // console.log(this.allJuwei);
      if (this.juweiList.length == 0) {
        this.juweiList = this.allJuwei;
      }
    },
    showshebei() {
      clearTimeout(this.timer);
      this.timer = setTimeout(() => {
        this.showIconBox = !this.showIconBox;
      }, 300);
    },
    inoutselectfn(val) {
      this.$store.commit("CHANGE_INOUT_DATA", val.label);
      this.$store.dispatch("getInOutCountDashboard", this.inoutParams);
    },
    getSelect(boolean) {
      this.peopleCarSelect = boolean;
    },
    getyiqingSelect(boolean) {
      this.yiqingSelect = boolean;
    },
    geteventSelect(boolean) {
      this.eventSelect = boolean;
    },
    changeMap() {
      this.$store.commit("CHANGE_MAP");
    },
    openSearchDialog() {
      this.$store.commit("SEARCH_DIALOG", true);
    },
    chooseAreaFn(val) {
      console.log(val);
    },
    healthSelect(val) {
      this.$store.commit("CHANGE_HEALTHY_PARAMS", val.label);
      this.$store.dispatch("healthStatus", this.healthyParams);
    },
    eventselectfn(val) {
      this.$store.commit("CHANGE_EVENT_PARAMS", val.label);
      this.$store.dispatch("getEventCount", this.eventarams);
      this.$store.dispatch("getEventCount", this.eventTypeparams);
    },
    eventselectfnshequ(val) {
      console.log(val);
      var arr = [];
      for (var i of this.juwei) {
        if (i !== null) {
          if (i.parentId == val.label) {
            arr.push({ label: i.id, value: i.name });
          }
        }
      }
      let temp = {
        label: null,
        value: "全部居委",
      };
      arr.push(temp);
      console.log(this.juwei);
      this.juweiList = arr;
      if (val.value == "全部社区") {
        this.juweiList = this.allJuwei;
      }
      this.$store.commit("CHANGE_EVENT_DISTRICT_SHEQU_PARAMS", val.label);
      this.$store.dispatch("getEventCount", this.eventarams);
      this.$store.dispatch("getEventCount", this.eventTypeparams);
    },
    epidemicselectfnjuwei(val) {
      this.epidemicData.parentDistrictId = val.label;
      this.$store.dispatch("getEpidemicCount", this.epidemicData);
      this.$refs.epidemicData.getEpidemicData(this.epidemicData);
    },
    epidemicselectfnshequ(val) {
      this.epidemicData.sheQuId = val.label;
      this.$store.dispatch("getEpidemicCount", { sheQuId: val.label });
      var arr = [];
      for (var i of this.juwei) {
        if (i !== null) {
          if (i.parentId == val.label) {
            arr.push({ label: i.id, value: i.name });
          }
        }
      }
      let temp = {
        label: null,
        value: "全部居委",
      };
      arr.push(temp);
      this.juweiList = arr;
      if (val.value == "全部社区") {
        this.juweiList = this.allJuwei;
      }
      this.$refs.epidemicData.getEpidemicData(this.epidemicData);
    },
    eventselectfnjuwei(val) {
      this.$store.commit("CHANGE_EVENT_DISTRICT_JUWEI_PARAMS", val.label);
      this.$store.dispatch("getEventCount", this.eventarams);
      this.$store.dispatch("getEventCount", this.eventTypeparams);
    },
    noticeselectFn(val) {
      this.$store.commit("CHANGE_NOTICE_PARAMS", val.label);
      // this.$store.dispatch("getEventCount", this.eventarams);
      this.$store.dispatch("getNoticeLife", this.noticeParmas);
    },
    clearmarker() {
      this.$store.commit("CLEAR_MARKER");
    },
    addCameraList(type) {
      console.log(type);
      clearTimeout(this.timer);
      this.clearmarker();
      if (type == "camera") {
        if (this.camera) {
          this.camera = false;
          this.mapIcon.xiaofang = false;
          this.mapIcon.laji = false;
          this.mapIcon.gaokong = false;
          this.mapIcon.zhugandao = false;
          this.mapIcon.churukou = false;
          this.mapIcon.zhihuidianti = false;
        } else {
          this.camera = true;
          this.mapIcon.xiaofang = true;
          this.mapIcon.laji = true;
          this.mapIcon.gaokong = true;
          this.mapIcon.zhugandao = true;
          this.mapIcon.churukou = true;
          this.mapIcon.zhihuidianti = true;
        }
      }
      if (type == "churukou") {
        if (this.mapIcon.churukou) {
          this.mapIcon.churukou = false;
        } else {
          this.mapIcon.churukou = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.churukou;
        });
        if (arr.length > 0) {
          if (this.mapIcon.churukou) {
          } else {
            this.camera = this.mapIcon.churukou;
          }
        } else {
          this.camera = this.mapIcon.churukou;
          this.mapIcon.laji = this.mapIcon.churukou;
          this.mapIcon.gaokong = this.mapIcon.churukou;
          this.mapIcon.zhugandao = this.mapIcon.churukou;
          this.mapIcon.xiaofang = this.mapIcon.churukou;
          this.mapIcon.zhihuidianti = this.mapIcon.churukou;
        }
      }
      if (type == "xiaofang") {
        if (this.mapIcon.xiaofang) {
          this.mapIcon.xiaofang = false;
        } else {
          this.mapIcon.xiaofang = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.xiaofang;
        });
        if (arr.length > 0) {
          if (this.mapIcon.xiaofang) {
          } else {
            this.camera = this.mapIcon.xiaofang;
          }
        } else {
          this.camera = this.mapIcon.xiaofang;
          this.mapIcon.laji = this.mapIcon.xiaofang;
          this.mapIcon.gaokong = this.mapIcon.xiaofang;
          this.mapIcon.zhugandao = this.mapIcon.xiaofang;
          this.mapIcon.churukou = this.mapIcon.xiaofang;
          this.mapIcon.zhihuidianti = this.mapIcon.xiaofang;
        }
      }
      if (type == "laji") {
        if (this.mapIcon.laji) {
          this.mapIcon.laji = false;
        } else {
          this.mapIcon.laji = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.laji;
        });
        if (arr.length > 0) {
          if (this.mapIcon.laji) {
          } else {
            this.camera = this.mapIcon.laji;
          }
        } else {
          this.camera = this.mapIcon.laji;
          this.mapIcon.xiaofang = this.mapIcon.laji;
          this.mapIcon.gaokong = this.mapIcon.laji;
          this.mapIcon.zhugandao = this.mapIcon.laji;
          this.mapIcon.churukou = this.mapIcon.laji;
          this.mapIcon.zhihuidianti = this.mapIcon.laji;
        }
      }
      if (type == "gaokong") {
        if (this.mapIcon.gaokong) {
          this.mapIcon.gaokong = false;
        } else {
          this.mapIcon.gaokong = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.gaokong;
        });
        if (arr.length > 0) {
          if (this.mapIcon.gaokong) {
          } else {
            this.camera = this.mapIcon.gaokong;
          }
        } else {
          this.camera = this.mapIcon.gaokong;
          this.mapIcon.xiaofang = this.mapIcon.gaokong;
          this.mapIcon.laji = this.mapIcon.gaokong;
          this.mapIcon.zhugandao = this.mapIcon.gaokong;
          this.mapIcon.churukou = this.mapIcon.gaokong;
          this.mapIcon.zhihuidianti = this.mapIcon.gaokong;
        }
      }
      if (type == "zhugandao") {
        if (this.mapIcon.zhugandao) {
          this.mapIcon.zhugandao = false;
        } else {
          this.mapIcon.zhugandao = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.zhugandao;
        });
        if (arr.length > 0) {
          if (this.mapIcon.zhugandao) {
          } else {
            this.camera = this.mapIcon.zhugandao;
          }
        } else {
          this.camera = this.mapIcon.zhugandao;
          this.mapIcon.xiaofang = this.mapIcon.zhugandao;
          this.mapIcon.laji = this.mapIcon.zhugandao;
          this.mapIcon.gaokong = this.mapIcon.zhugandao;
          this.mapIcon.churukou = this.mapIcon.zhugandao;
          this.mapIcon.zhihuidianti = this.mapIcon.zhugandao;
        }
      }
      if (type == "zhihuidianti") {
        if (this.mapIcon.zhihuidianti) {
          this.mapIcon.zhihuidianti = false;
        } else {
          this.mapIcon.zhihuidianti = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.zhihuidianti;
        });
        if (arr.length > 0) {
          if (this.mapIcon.zhihuidianti) {
          } else {
            this.camera = this.mapIcon.zhihuidianti;
          }
        } else {
          this.camera = this.mapIcon.zhihuidianti;
          this.mapIcon.xiaofang = this.mapIcon.zhihuidianti;
          this.mapIcon.laji = this.mapIcon.zhihuidianti;
          this.mapIcon.gaokong = this.mapIcon.zhihuidianti;
          this.mapIcon.churukou = this.mapIcon.zhihuidianti;
          this.mapIcon.zhugandao = this.mapIcon.zhihuidianti;
        }
      }
      console.log(this.mapIcon);
      Object.entries(this.mapIcon).forEach((item) => {
        console.log(item);
        if (item[0] == "xiaofang" && item[1]) {
          this.$store.dispatch("getHkCameraByTag", {
            tag: "消防占道",
            type: "xiaofang",
          });
        }
        if (item[0] == "laji" && item[1]) {
          this.$store.dispatch("getHkCameraByTag", {
            tag: "垃圾分类",
            type: "laji",
          });
        }
        if (item[0] == "gaokong" && item[1]) {
          this.$store.dispatch("getHkCameraByTag", {
            tag: "高空抛物",
            type: "gaokong",
          });
        }
        if (item[0] == "churukou" && item[1]) {
          this.$store.dispatch("getHkCameraByTag", {
            tag: "出入口",
            type: "churukou",
          });
        }
        if (item[0] == "zhugandao" && item[1]) {
          this.$store.dispatch("getHkCameraByTag", {
            tag: "主干道",
            type: "zhugandao",
          });
        }
        if (item[0] == "zhihuidianti" && item[1]) {
          this.$store.dispatch("getLift", {
            tag: "智慧电梯",
            type: "zhihuidianti",
          });
        }
      });
      // this.$store.commit("ADD_MARKER_LIST", type);
    },
    closeAll() {
      // this.$store.commit("CHANGE_HOUSEINFOVISIBLE", false);
    },
  },

  created() {},
  mounted() {
    let cameraCfgParams = {}
    cameraCfgParams.token = "BACKEND:USER:078879b6fa8d4031ad01ee7cf5d8c29e11";
    cameraCfgParams.type = "connect";
    cameraCfgParams.num = 4;
    cameraCfgParams.tag = "高空抛物";

    WSconnect(cameraCfgParams);
    const parentDistrictId = localStorage.getItem("loginId");
    this.$store.dispatch("getDistrictName", parentDistrictId);
  },
  watch: {},
  computed: {
    ...mapState({
      level: (state) => state.lifeTizheng.level,
      shequ: (state) => state.lifeTizheng.shequNames,
      juwei: (state) => state.lifeTizheng.juweiNames,
      allJuwei: (state) => state.lifeTizheng.allJuwei,
      highEventPopVisible: (state) => state.visible.highEventPopVisible,
      showThingJsMap: (state) => state.lifeTizheng.showThingJsMap,
      healthyParams: (state) => state.lifeTizheng.healthyParams,
      eventarams: (state) => state.lifeTizheng.eventarams,
      eventTypeparams: (state) => state.lifeTizheng.eventTypeparams,
      noticeParmas: (state) => state.lifeTizheng.noticeParmas,
      fireHouseListVisible: (state) => state.lifeTizheng.fireHouseListVisible,
      inoutParams: (state) => state.lifeTizheng.inoutParams,
      
      
      // houseinfoVisible: (state) => state.lifeTizheng.houseinfoVisible,
    }),

    ...mapGetters([]),
  },
  components: {
    healthy,
    highEvent,
    epidemic,
    backlog,
    inOut,
    peopleHouse,
    videoBaozhang,
    eventType,
    highEventPop,
    thingJsMap,
    eventTypePop,
    arcgisMap,
    mySelect,
    fireHousedialog,
    // detailDialogdianti
    // houseInfo,
  },
};
</script>

<style lang='less' scoped>
.lifeTizheng {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto 16rem;
  .content_item:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
    .content_item:nth-child(2) {
      width: 100%;
      height: 100%;
    }
    .content_item_box {
      width: 100%;
      height: 100%;
      background: rgba(19, 46, 77, 0.5);
      .content_item_card {
        padding: 5px 10px;
        box-sizing: border-box;
      }
      .content_item_card:first-child {
        height: 30%;
        width: 100%;
      }
      .content_item_card:nth-child(2) {
        height: calc(70% - 16rem);
        width: 100%;
      }
      .content_item_card:last-child {
        height: 16rem;
        width: 100%;
      }
    }
  }
  .content_item:nth-child(3) {
    display: flex;
    position: relative;
    .content_item_bottom {
      flex: 1;
      margin-left: 0.5rem;
      background: rgba(19, 46, 77, 0.5);
      padding: 5px 10px;
      box-sizing: border-box;
    }
    .content_item_bottom:last-child {
      margin-right: 0.5rem;
    }
  }
}
.content_title {
  height: 2rem;
  widows: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-biaoti.png")
    no-repeat;
  background-size: 100% 100%;
  padding-left: 1rem;
  box-sizing: border-box;
  position: relative;
  color: #19f5fd;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: v-bind("font_32_9.content_title");
  .highEventSelect {
    position: absolute;
    right: 1rem;
    width: v-bind("font_32_9.selectwidth");
    height: 80%;
  }
  .highEventSelect1 {
    position: absolute;
    right: 13rem;
    width: v-bind("font_32_9.selectwidth");
    height: 80%;
  }
  .highEventSelect2 {
    position: absolute;
    right: 7rem;
    width: v-bind("font_32_9.selectwidth");
    height: 80%;
  }

  .highEventSelect3 {
    position: absolute;
    right: 7rem;
    width: 8rem;
    height: 80%;
  }
}
.content_n {
  height: calc(100% - 2rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_select {
  font-size: v-bind("font_32_9.title_select");
  // cursor: pointer;
}
.title_unselect {
  font-size: v-bind("font_32_9.title_unselect");
  color: #08b3be;
  // cursor: pointer;
}
.changemap_icon {
  width: 4rem;
  height: 12rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  .changemap_icon_item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 2.5rem;
    }
  }
}
.IconList {
  width: 12rem;
  height: 20rem;
  position: absolute;
  right: 5rem;
  top: -10rem;
  display: flex;
  flex-direction: column;
  background: #12243b;
  border-radius: 5px;
  padding: 0 1rem;
  box-sizing: border-box;
  .changemap_icon_item {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    span {
      color: white;
      font-size: 1.2rem;
      padding-left: 1rem;
    }
  }
}
</style>
