<template>
  <div class="wen-box">
    <div class="wen-bg">
      <div class="wen-title">欢迎使用</div>
      <div class="wen-desc">
        临港新片区”一网统管“-社区管理与服务平台
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/service.png"
          alt=""
        />
      </div>
      <div class="wen-input">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/ic_user.png"
          alt=""
        />
        <input
          v-model="username"
          maxlength="11"
          type="text"
          placeholder="用户名"
        />
      </div>
      <div class="wen-input">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/ic_password.png"
          alt=""
        />
        <input v-model="password" type="password" placeholder="登录密码" />
      </div>
      <div class="login-button" @click="login()">登录</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  props: [],
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.3rem";
    } else {
      font_32_9.normal_font = "1rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    ...mapMutations([]),
    login() {
      const params = {
        mobile: this.username,
        password: this.password,
      };
      this.$store.dispatch("login", params);
      localStorage.setItem("lingangUser",this.username)
      localStorage.setItem("lingangPass",this.password)
      
    },
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([]),
  },
  components: {},
};
</script>
<style lang="less" scoped>
.wen-box {
  width: 100%;
  height: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/bg.png")
    no-repeat;
  background-size: 100% 100%;
  .wen-bg {
    background-color: rgba(16, 40, 67, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .wen-title {
      font-size: 38px;
      color: #ffffff;
      font-weight: bold;
      width: 27.5%;
      text-align: left;
      margin-top: -16rem;
    }
    .wen-desc {
      font-size: 24px;
      color: #ffffff;
      text-align: left;
      width: 27.5%;
      padding-bottom: 3rem;
      border-bottom: 0.1rem solid #dcdfe6;
      margin-bottom: 1rem;
      display: flex;
      flex-flow: row;
      align-items: center;
      img {
        width: 1.7rem;
        height: 1.7rem;
        margin-left: 0.5rem;
      }
    }
    .wen-input {
      width: 27.5%;
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      img {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
      }
      input {
        width: 100%;
        padding: 0.5rem 0;
        color: #303133;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: v-bind("font_32_9.normal_font");
      }
    }
    .login-button {
      background-color: #24333a;
      color: #ffffff;
      width: 27.5%;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      margin-top: 2rem;
      cursor: pointer;
    }
  }
}
input:-moz-placeholder {
  color: #909399;
  font-size: v-bind("font_32_9.normal_font");
}
input:-ms-input-placeholder {
  color: #909399;
  font-size: v-bind("font_32_9.normal_font");
}
input::-webkit-input-placeholder {
  color: #909399;
  font-size: v-bind("font_32_9.normal_font");
}
</style>
