<template>
  <div class="notice">
    <div class="notice_box">
      <div class="box_left">
        <div class="box_left_top">
          <div class="content_item_card">
            <div class="content_title">服务提醒</div>
          </div>
          <div class="info-message">
            <info-message></info-message>
          </div>
        </div>
        <div class="box_left_bottom">
          <div class="content_item_card">
            <div class="content_title">发布通知</div>
            <div class="content_n">
              <div class="SearchCameraType">
                <div class="search_icon">
                  <img
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/sousuo-green.png"
                    alt=""
                  />
                </div>
                <input
                  type="text"
                  v-model="filterText"
                  placeholder="请输入搜索功能"
                />
              </div>
              <div class="districtTree" v-if="personList.length > 0">
                <el-tree
                  show-checkbox
                  highlight-current
                  class="filter-tree"
                  :data="personList"
                  :props="defaultProps"
                  default-expand-all
                  :filter-node-method="filterNode"
                  @check="clickCheck"
                  ref="tree"
                >
                </el-tree>
                <!--                <el-tree-->
                <!--                        show-checkbox-->
                <!--                        node-key="urns"-->
                <!--                        ref="tree"-->
                <!--                        highlight-current-->
                <!--                        :expand-on-click-node="false"-->
                <!--                        :load="loadNode"-->
                <!--                        lazy-->
                <!--                        :props="defaultProps"-->
                <!--                        @check="clickCheck"-->
                <!--                ></el-tree>-->
              </div>
              <div class="fabuButton">
                <button @click="openInfoDialog()">发布</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div></div>
      <div class="box_right">
        <div class="content_item_card head-search-box">
          <div class="content_title">通知提醒</div>
          <div class="search-box">
            <div class="head-search">
              <input
                v-model="content"
                type="text"
                placeholder="请输入搜索关键字"
              />
              <img
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-sousuo.png"
                alt=""
                @click="activetext = content"
              />
            </div>
            <div
              class="select-button"
              :class="{ 'active-box': activeIndex === 9 }"
              @click="reset(null)"
            >
              重置
            </div>
            <div
              class="select-button"
              :class="{ 'active-box': activeIndex == null }"
              @click="changeActive(null)"
            >
              全部
            </div>
            <div
              class="select-button"
              :class="{ 'active-box': activeIndex == 0 }"
              @click="changeActive(0)"
            >
              服务类
            </div>
            <div
              class="select-button"
              :class="{ 'active-box': activeIndex == 2 }"
              @click="changeActive(2)"
            >
              通知类
            </div>
            <div
              class="select-button"
              :class="{ 'active-box': activeIndex == 1 }"
              @click="changeActive(1)"
            >
              预警类
            </div>
          </div>
        </div>
        <div>
          <info-table
            :activeIndex="activeIndex"
            :activetext="activetext"
          ></info-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import infoMessage from "../components/infoComponents/infoMessage";
import infoTable from "../components/infoComponents/infoTable";
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
import { ElMessage } from "element-plus";
export default {
  data() {
    return {
      // 树结构
      treeShow: false,
      activeIndex: null,
      data: [],
      defaultProps: {
        label: "name",
        isLeaf: "leaf",
      },
      filterText: "",
      personId: "",
      content: "",
      activetext: "",
      ids:[]
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      tree_font: "",
      fabuButton: "",
      normal_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.tree_font = "1.4rem";
      font_32_9.fabuButton = "1.4rem";
      font_32_9.normal_font = "1.3rem";
    } else {
      font_32_9.tree_font = "1rem";
      font_32_9.fabuButton = "1rem";
      font_32_9.normal_font = "1rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    clickCheck(data, checked) {
      console.log(data);
      console.log(this.$refs.tree.getCheckedNodes());
      let arr = this.$refs.tree.getCheckedNodes();
      let nameStr = ''
      arr.forEach(element => {
        nameStr += element.name+","
      });
      let ids =  arr.map(item=>{
        if(item.type =="account"){
          return item.id
        }
      })
      let a=[]
      ids.forEach(item=>{
        if(item){
          a.push(item)
        }
        
      })
      this.personId = data.id;
      const params = {
        id: data.id,
        name: nameStr,
        ids:a
      };
      console.log(params);
      this.$emit("getPerson", params);
    },
    changeActive(val) {
      this.activeIndex = val;
    },
    reset(val){
      this.activeIndex = val;
      this.content = null
      this.activetext = null
    },
    /*    loadNode(node, resolve) {
      if (node.level === 0) {
        return resolve([{ name: "全选" }]);
      }
      if (node.level > 1) return resolve([]);
      resolve(this.personList);
    },*/
    openInfoDialog() {
      if (this.personId) {
        this.$store.commit("EDIT_INFORM_DIALOG", true);
      } else {
        ElMessage({
          type: "error",
          message: "请先选择发件人",
        });
      }
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) != -1;
    },
  },

  created() {},
  mounted() {
    this.$store.dispatch("personList", {});
  },
  watch: {
    personList: function (val, old) {
      if (val.length > 0) {
        this.treeShow = true;
      }
    },
    filterText: function (val, old) {
      this.$refs.tree.filter(val);
    },
  },
  computed: {
    ...mapState({
      personList: (state) => state.infoMessage.personList,
    }),

    ...mapGetters([]),
  },
  components: { infoMessage, infoTable },
};
</script>
<style >

.el-tree {
  background: none !important;
  color: #fff !important;
}
.el-tree-node__label {
  font-size: v-bind("font_32_9.tree_font") !important;
}
/* 设置三角图标颜色 */
.el-tree-node__expand-icon {
  color: #36beb7 !important;
  font-size: 24px !important;
}
/* 设置节点鼠标悬浮三角图标颜色 */
.el-tree-node__content:hover .el-tree-node__expand-icon {
  color: #36beb7 !important;
}
.el-tree-node__content:hover .el-tree-node__expand-icon.is-leaf {
  color: #36beb7 !important;
}
.el-tree-node__expand-icon.is-leaf {
  opacity: 0 !important;
}

/* 树节点鼠标悬浮是改变背景颜色字体颜色
 */
.el-tree-node__content:hover {
  background-color: transparent !important;
  color: #fff !important;
}
/* 被点击节点背景颜色字体颜色 */
.el-tree-node:focus > .el-tree-node__content {
  background: transparent !important;
  color: #fff !important;
}

/* 点击背景色 */

.el-tree-node > .el-tree-node__children > .is-current > .el-tree-node__content {
  background: transparent !important;
}
.el-tree--highlight-current > .is-current > .el-tree-node__content {
  background: transparent !important;
}

/* 勾選节点背景 */
.el-checkbox__inner {
  background: transparent !important;
}
div.el-tree-node.is-checked {
  background: -webkit-linear-gradient(left, transparent, #0f6f7e, transparent);
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat;
}
.el-checkbox__input.is-checked .el-checkbox__inner::after {
  transform: rotate(0deg) scaleY(1) !important;
  content: "" !important;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/xuanzhong.png")
    no-repeat !important;
  background-size: 100% 100% !important;
}
.el-checkbox__inner::after {
  content: "" !important;
  width: 18px !important;
  height: 15px !important;
  border: none !important;
  position: absolute !important;
  top: -2px !important;
  left: -0.5px !important;
}
</style>
<style lang='less' scoped>
.notice {
  width: 100%;
  height: 100%;
  padding: 0 10px 0;
  box-sizing: border-box;
  .notice_box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 1rem auto;
    grid-template-rows: 100%;
    .box_left {
      width: 100%;
      height: 100%;
      background: rgba(19, 46, 77, 0.5);
      .box_left_top {
        height: 25%;
        display: flex;
        flex-flow: column;
        .content_item_card {
          padding: 0.3rem 10px;
          box-sizing: border-box;
        }
        .info-message {
          flex: 1;
          display: flex;
          align-items: center;
          text-align: left;
          color: #fff;
          padding: 1.5rem;
          height: 100%;
        }
      }
      .box_left_bottom {
        height: 75%;
        .content_item_card {
          height: 100%;
          padding: 5px 10px;
          box-sizing: border-box;
        }
        .info-tree {
          flex: 1;
          display: flex;
          flex-flow: column;
          align-items: center;
          text-align: left;
          color: #fff;
          padding: 1rem;
          height: calc(100% - 5rem);
        }
      }
    }
    .box_right {
      width: 100%;
      height: 100%;
      background: rgba(19, 46, 77, 0.5);
      .content_item_card {
        padding: 5px 10px;
        box-sizing: border-box;
      }
      .head-search-box {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        height: 6%;
        overflow: hidden;
        .search-box {
          display: flex;
          flex-flow: row;
          align-items: center;
          height: 100%;
          .head-search {
            border: 0.1rem solid #01dff4;
            height: 85%;
            display: flex;
            border-radius: 5rem;
            justify-content: flex-start;
            align-items: center;
            margin-right: 1rem;
            input {
              border: none;
              height: 100%;
              background-color: transparent;
              width: 80%;
              padding-left: 1rem;
              color: #16dbe4;
              outline: none;
              font-size: v-bind("font_32_9.title_font");
            }
            img {
              width: 15%;
              height: 93%;
              padding-right: 1%;
              cursor: pointer;
            }
          }
          .select-button {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-blue.png")
              no-repeat;
            background-size: 100% 100%;
            color: #bef0ff;
            width: 6.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            line-height: 2.5rem;
            cursor: pointer;
            font-size: v-bind("font_32_9.normal_font");
          }
          .active-box {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-yellow.png")
              no-repeat;
            color: #ffb413;
            background-size: 100% 100%;
            width: 6.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            line-height: 2.5rem;
            cursor: pointer;
            font-size: v-bind("font_32_9.normal_font");
          }
        }
      }
    }
  }
}
.content_title {
  height: 2rem;
  widows: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-biaoti.png")
    no-repeat;
  background-size: 100% 100%;
  padding-left: 1rem;
  box-sizing: border-box;
  color: #19f5fd;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: v-bind("font_32_9.fabuButton");
}
.content_n {
  height: calc(100% - 2rem);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.districtTree {
  margin-top: 1rem;
  box-sizing: border-box;
  height: calc(100% - 6rem);
  overflow-y: scroll;
}
.districtTree::-webkit-scrollbar {
  width: 0 !important;
}
.fabuButton {
  height: 3rem;
  // background: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 10rem;
    height: 2rem;
    border: none;
    outline: none;
    background: url("~@/assets/images/notice/fabu.png") no-repeat;
    background-size: 100% 100%;
    color: #bef0ff;
    font-style: oblique;
    letter-spacing: 5px;
    font-size: v-bind("font_32_9.fabuButton");
    font-weight: 800;
    text-shadow: 2px 2px 5px #bef0ff;
    cursor: pointer;
  }
}
.SearchCameraType {
  height: 30px;
  width: 60%;
  border-bottom: 2px solid #265c7a;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 100%;
  .search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 16px;
      cursor: pointer;
    }
  }
  input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0 10px;
    color: #3baca9;
    box-sizing: border-box;
    font-size: v-bind("font_32_9.tree_font");
  }
}
input:-moz-placeholder {
  color: rgba(22, 219, 228, 0.7);
  font-size: v-bind("font_32_9.normal_font");
}
input:-ms-input-placeholder {
  color: rgba(22, 219, 228, 0.7);
  font-size: v-bind("font_32_9.normal_font");
}
input::-webkit-input-placeholder {
  color: rgba(22, 219, 228, 0.7);
  font-size: v-bind("font_32_9.normal_font");
}
</style>
