<template>
  <div class="selfTogether">
    <div class="content_item">
      <div class="content_item_box">
        <div class="content_item_left">
          <div class="content_title">
            任务处置统计
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect1"
              defTxt="全部社区"
              placeholder="请选择"
              :list="shequ"
              @chooseFn="taskHandleSheQu"
            />
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect2"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juweiList"
              @click="showAll"
              @chooseFn="taskHandleJuWei"
            />
            <mySelect
              style="width: 7rem"
              v-show="this.level == 4"
              class="highEventSelect3"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juwei"
              @chooseFn="taskHandleJuWei"
            />
            <mySelect
              class="highEventSelect"
              defTxt="全部"
              placeholder="请选择"
              :list="taskSelectList"
              @chooseFn="taskSelectFn"
            />
          </div>
          <div class="content_n">
            <taskHandle></taskHandle>
          </div>
        </div>
        <div class="content_item_left">
          <div class="content_title">
            <span
              @click="geteventSelect(false)"
              :class="!listSelect ? ['title_select'] : ['title_unselect']"
            >
              任务处置列表
              <span v-if="listSelect">/</span>
            </span>
            <mySelect
              v-if="!listSelect"
              style="width: 5rem"
              v-show="this.level == 3"
              class="highEventSelect1"
              defTxt="全部社区"
              placeholder="请选择"
              :list="shequ"
              @chooseFn="taskListSheQu"
            />
            <mySelect
              v-if="!listSelect"
              v-show="this.level == 3"
              class="highEventSelect2"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juweiList"
              @click="showAll"
              @chooseFn="taskListJuWei"
            />
            <mySelect
              v-if="!listSelect"
              style="width: 7rem"
              v-show="this.level == 4"
              class="highEventSelect3"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juwei"
              @chooseFn="taskListJuWei"
            />
            <mySelect
              v-if="!listSelect"
              class="highEventSelect"
              defTxt="全部"
              placeholder="请选择"
              :list="qushiSelectList"
              @chooseFn="eventListSelectFn"
            />
            <span
              @click="geteventSelect(true)"
              :class="listSelect ? ['title_select'] : ['title_unselect']"
            >
              <span v-if="!listSelect">/</span>
              三会列表
            </span>
            <mySelect
              v-if="listSelect"
              style="width: 5rem"
              v-show="this.level == 3"
              class="highEventSelect1"
              defTxt="全部社区"
              placeholder="请选择"
              :list="shequ"
              @chooseFn="sanhuiListShequ"
            />
            <mySelect
              v-if="listSelect"
              v-show="this.level == 3"
              class="highEventSelect2"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juweiList"
              @click="showAll"
              @chooseFn="sanhuiListJuwei"
            />
            <mySelect
              v-if="listSelect"
              style="width: 7rem"
              v-show="this.level == 4"
              class="highEventSelect3"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juwei"
              @chooseFn="sanhuiListJuwei"
            />
            <mySelect
              v-if="listSelect"
              class="highEventSelect"
              :defTxt="area"
              placeholder="全部"
              :list="getMeetingTypeList"
              @chooseFn="sanhuiListSelcect"
            />
          </div>
          <taskHandleList
            style="width: 100%"
            v-if="!listSelect"
          ></taskHandleList>
          <sanHuiList style="width: 100%" v-if="listSelect"></sanHuiList>
        </div>
      </div>
    </div>
    <div class="content_item" style="position: relative">
      <!-- <thingJsMap></thingJsMap> -->
      <thingJsMap v-if="showThingJsMap"></thingJsMap>
      <!-- <arcgisMap v-if="!showThingJsMap"></arcgisMap> -->
      <div class="changemap_icon">
        <!-- <div class="changemap_icon_item"> -->
        <!-- <img :src="require('@/assets/shengmingtizheng/ic_map_search_default.png')" alt=""> -->
        <!-- </div> -->
        <!-- <div class="changemap_icon_item" @click="changeMap">
          <img
            :src="
              require('@/assets/shengmingtizheng/ic_map_switch_default.png')
            "
            alt=""
          />
        </div>-->
        <div
          class="changemap_icon_item"
          @click="showshebei"
          @dblclick="addCameraList('camera')"
        >
          <img
            v-if="!camera"
            :src="require('@/assets/selftogether/xiangji@2x.png')"
            alt
          />
          <img
            v-if="camera"
            :src="require('@/assets/selftogether/xiangji_xuanz@2x.png')"
            alt
          />
        </div>
        <div class="IconList" v-if="showIconBox">
          <div class="changemap_icon_item" @click="addCameraList('xiaofang')">
            <img
              v-if="!mapIcon.xiaofang"
              :src="require('@/assets/selftogether/xiaofang@2x.png')"
              alt
            />
            <img
              v-if="mapIcon.xiaofang"
              :src="require('@/assets/selftogether/xiaofang_xuanz@2x.png')"
              alt
            />
            <span>消防占道</span>
          </div>
          <div class="changemap_icon_item" @click="addCameraList('laji')">
            <img
              v-if="!mapIcon.laji"
              :src="require('@/assets/shengmingtizheng/lajifenlei@2x.png')"
              alt
            />
            <img
              v-if="mapIcon.laji"
              :src="
                require('@/assets/shengmingtizheng/lajifenlei-xuanzhong@2x.png')
              "
              alt
            />
            <span>垃圾分类</span>
          </div>

          <div class="changemap_icon_item" @click="addCameraList('gaokong')">
            <img
              v-if="!mapIcon.gaokong"
              :src="require('@/assets/selftogether/gaokongpaowu@2x.png')"
              alt
            />
            <img
              v-if="mapIcon.gaokong"
              :src="require('@/assets/selftogether/gaokongpaowu_xuanz@2x.png')"
              alt
            />
            <span>高空抛物</span>
          </div>
          <div class="changemap_icon_item" @click="addCameraList('churukou')">
            <img
              v-if="!mapIcon.churukou"
              :src="require('@/assets/shengmingtizheng/churulou@2x.png')"
              alt
            />
            <img
              v-if="mapIcon.churukou"
              :src="
                require('@/assets/shengmingtizheng/churukou-xuanzhong@2x.png')
              "
              alt
            />
            <span>出入口</span>
          </div>
          <div class="changemap_icon_item" @click="addCameraList('zhugandao')">
            <img
              v-if="!mapIcon.zhugandao"
              :src="require('@/assets/shengmingtizheng/zhugandao@2x.png')"
              alt
            />
            <img
              v-if="mapIcon.zhugandao"
              :src="
                require('@/assets/shengmingtizheng/zhugandao-xuanzhong@2x.png')
              "
              alt
            />
            <span>主干道</span>
          </div>
          <div
            class="changemap_icon_item"
            @click="addCameraList('zhihuidianti')"
          >
            <img
              v-if="!mapIcon.zhihuidianti"
              :src="require('@/assets/shengmingtizheng/zhihuidianti@2x.png')"
              alt
            />
            <img
              v-if="mapIcon.zhihuidianti"
              :src="
                require('@/assets/shengmingtizheng/zhihuidianti-xuanzhong@2x.png')
              "
              alt
            />
            <span>智慧电梯</span>
          </div>
        </div>
        <div class="changemap_icon_item" @click="clearmarker">
          <img
            :src="require('@/assets/shengmingtizheng/ic_map_eliminate.png')"
            alt
          />
        </div>
      </div>
    </div>
    <!-- <div class="content_item">3</div> -->
    <div class="content_item">
      <div class="content_item_box">
        <div class="content_item_card">
          <div class="content_title">
            服务人员动态详情
            <div class="manage_btn" @click="managerPop = !managerPop">
              管理力量
            </div>
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect1"
              defTxt="全部社区"
              placeholder="请选择"
              :list="shequ"
              @chooseFn="eventselectfn"
            />
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect2"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juweiList"
              @click="showAll"
              @chooseFn="eventselectfn1"
            />
            <mySelect
              style="width: 7rem"
              v-show="this.level == 4"
              class="highEventSelect3"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juwei"
              @chooseFn="eventselectfn1"
            />
          </div>
          <div class="content_n" v-if="showechart">
            <attendant v-if="!managerPop"></attendant>
            <managePower v-if="managerPop"></managePower>
          </div>
        </div>
        <div class="content_item_card">
          <div class="content_title">
            趋势看板
            <mySelectQuShi
              class="highEventSelect2"
              defTxt="全部"
              placeholder="请选择"
              :list="taskSelectList"
              @chooseFn="qushiTimeSelectFn"
            />

            <mySelect
              class="highEventSelect"
              defTxt="消防占道"
              placeholder="请选择"
              :list="qushiSelectList"
              @chooseFn="qushiselectFn"
            />
          </div>
          <div class="content_n" v-if="showechart">
            <qushikanban></qushikanban>
          </div>
        </div>
        <div class="content_item_card">
          <div class="content_title">
            告警事件占比
            <mySelect
              class="highEventSelect"
              defTxt="当月"
              placeholder="请选择"
              :list="taskSelectList"
              @chooseFn="warningscaleFn"
            />
          </div>
          <div class="export" @click="exportDetail(timeRangeType)">
            导出详情
          </div>
          <div class="content_n" v-if="showechart">
            <warningTask v-if="warngingEventpopVisible"></warningTask>
            <warningtaskPop v-if="!warngingEventpopVisible"></warningtaskPop>
          </div>
        </div>
      </div>
    </div>

    <!-- <taskHandleDetailPop v-if="taskVisible"></taskHandleDetailPop> -->
    <detailDialogdianti v-if="false"></detailDialogdianti>

  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
import taskHandle from "@/components/selfTogether/taskHandle";
import taskHandleList from "@/components/selfTogether/taskHandleList";
import sanHuiList from "@/components/selfTogether/sanHuiList";
import attendant from "@/components/selfTogether/attendant";
import qushikanban from "@/components/selfTogether/qushikanban";
import warningTask from "../components/selfTogether/warningTask.vue";
import managePower from "../components/selfTogether/managePower.vue";
import warningtaskPop from "../components/selfTogether/warningtaskPop/warningtaskPop.vue";
import thingJsMap from "@/components/lifeTizheng/thingjsMap_zhili";
import taskHandleDetailPop from "@/components/selfTogether/taskPops/taskHandleDetailPop";
import arcgisMap from "@/components/lifeTizheng/arcgisMap";
import mySelect from "@/components/selfTogether/mySelect.vue";
import mySelectQuShi from "@/components/selfTogether/mySelectQuShi.vue";
import detailDialogdianti from "../components/detailDialog/detailDialogdianti";

export default {
  data() {
    return {
      showIconBox: false,
      managerPop: false,
      listSelect: false,
      qushiSelectList: [],
      juweiList: [],
      taskSelectList: [
        {
          value: "当天",
          label: "1",
        },
        {
          value: "当周",
          label: "2",
        },
        {
          value: "当月",
          label: "3",
        },
        {
          value: "当年",
          label: "4",
        },
        {
          value: "全部",
          label: "6",
        },
      ],
      areaList: [
        {
          value: "当天",
          label: "1",
        },
        {
          value: "当周",
          label: "2",
        },
        {
          value: "当月",
          label: "3",
        },
        {
          value: "当年",
          label: "4",
        },
        {
          value: "全部",
          label: "6",
        },
      ],
      value: "",
      camera: false,
      mapIcon: {
        xiaofang: false,
        laji: false,
        gaokong: false,
        zhugandao: false,
        churukou: false,
        zhihuidianti: false,
      },
      timer: null,
      params: null,
      districtList: [],
      sanhuiList: {
        sheQuId: null,
        parentDistrictId: null,
        timeRangeType: 6,
        page: 1,
        limit: 100,
        meetingType: null,
      },
      serviceData: { sheQuId: null, parentDistrictId: null },
      taskData: { sheQuId: null, parentDistrictId: null, timeRangeType: null },
      taskList: {
        sheQuId: null,
        parentDistrictId: null,
        timeRangeType: 3,
        page: 1,
        limit: 100,
        eventType: "",
      },
      timeRangeType: "3",
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      content_title: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.content_title = "1.3rem";
      font_32_9.title_select = "1.3rem";
      font_32_9.title_unselect = "1rem";
      font_32_9.selectwidth = "10rem";
    } else {
      font_32_9.content_title = "1rem";
      font_32_9.title_select = "1rem";
      font_32_9.title_unselect = ".8rem";
      font_32_9.selectwidth = "6rem";
    }
    return {
      font_32_9,
    };
  },
  props: ["showechart"],
  methods: {
    showAll() {
      console.log(this.allJuwei);
      for (let val in this.allJuwei) {
        // console.log(typeof(this.allJuwei[val]));
        if (typeof this.allJuwei[val] == "undefined") {
          this.allJuwei.splice(val, 1);
          // console.log(val);
        }
      }
      // console.log(this.allJuwei);
      if (this.juweiList.length == 0) {
        this.juweiList = this.allJuwei;
      }
    },
    //三会列表社区接口
    sanhuiListShequ(val) {
      this.sanhuiList.sheQuId = val.label;
      var arr = [];
      for (var i of this.juwei) {
        if (i !== null) {
          if (i.parentId == val.label) {
            arr.push({ label: i.id, value: i.name });
          }
        }
      }
      let temp = {
        label: null,
        value: "全部居委",
      };
      arr.push(temp);
      this.juweiList = arr;
      console.log(this.juweiList);
      if (val.value == "全部社区") {
        this.juweiList = this.allJuwei;
      }
      this.$store.dispatch("getMeetingList", this.sanhuiList);
    },
    // 三会列表居委接口
    sanhuiListJuwei(item) {
      this.sanhuiList.parentDistrictId = item.label;
      this.$store.dispatch("getMeetingList", this.sanhuiList);
    },
    // 任务处置列表社区接口
    taskListSheQu(val) {
      this.taskList.sheQuId = val.label;
      var arr = [];
      for (var i of this.juwei) {
        if (i !== null) {
          if (i.parentId == val.label) {
            arr.push({ label: i.id, value: i.name });
          }
        }
      }
      let temp = {
        label: null,
        value: "全部居委",
      };
      arr.push(temp);
      this.juweiList = arr;
      if (val.value == "全部社区") {
        this.juweiList = this.allJuwei;
      }
      this.$store.dispatch("selfTogetherTaskList", this.taskList);
    },
    // 任务处置列表居委接口
    taskListJuWei(item) {
      this.taskList.parentDistrictId = item.label;
      this.$store.dispatch("selfTogetherTaskList", this.taskList);
    },
    // 任务处置统计社区接口
    taskHandleSheQu(val) {
      this.taskData.sheQuId = val.label;
      var arr = [];
      for (var i of this.juwei) {
        if (i !== null) {
          if (i.parentId == val.label) {
            arr.push({ label: i.id, value: i.name });
          }
        }
      }
      let temp = {
        label: null,
        value: "全部居委",
      };
      arr.push(temp);
      this.juweiList = arr;
      if (val.value == "全部社区") {
        this.juweiList = this.allJuwei;
      }
      this.$store.dispatch("getEventStatisticsVo", this.taskData);
    },
    // 任务处置统计居委接口
    taskHandleJuWei(item) {
      this.taskData.parentDistrictId = item.label;
      this.$store.dispatch("getEventStatisticsVo", this.taskData);
      //  this.taskData.parentDistrictId=null
    },
    eventselectfn(val) {
      this.serviceData.sheQuId = val.label;
      var arr = [];
      for (var i of this.juwei) {
        if (i !== null) {
          if (i.parentId == val.label) {
            arr.push({ label: i.id, value: i.name });
          }
        }
      }
      let temp = {
        label: null,
        value: "全部居委",
      };
      arr.push(temp);
      this.juweiList = arr;
      if (val.value == "全部社区") {
        this.juweiList = this.allJuwei;
      }
      this.$store.commit("SERVICE_PARAMS", this.serviceData);
    },
    eventselectfn1(val) {
      this.serviceData.parentDistrictId = val.label;
      this.$store.commit("SERVICE_PARAMS", this.serviceData);
      // this.serviceData.parentDistrictId=null
    },
    showshebei() {
      clearTimeout(this.timer);
      this.timer = setTimeout(() => {
        this.showIconBox = !this.showIconBox;
      }, 300);
    },
    geteventSelect(boolean) {
      this.listSelect = boolean;
    },
    clearmarker() {
      this.$store.commit("CLEAR_HANDLE_MARKER");
    },
    addCameraList(type) {
      clearTimeout(this.timer);
      this.clearmarker();
      if (type == "camera") {
        if (this.camera) {
          this.camera = false;
          this.mapIcon.xiaofang = false;
          this.mapIcon.laji = false;
          this.mapIcon.gaokong = false;
          this.mapIcon.zhugandao = false;
          this.mapIcon.churukou = false;
          this.mapIcon.zhihuidianti = false;
        } else {
          this.camera = true;
          this.mapIcon.xiaofang = true;
          this.mapIcon.laji = true;
          this.mapIcon.gaokong = true;
          this.mapIcon.zhugandao = true;
          this.mapIcon.churukou = true;
          this.mapIcon.zhihuidianti = true;
        }
      }
      if (type == "xiaofang") {
        if (this.mapIcon.xiaofang) {
          this.mapIcon.xiaofang = false;
        } else {
          this.mapIcon.xiaofang = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.xiaofang;
        });
        if (arr.length > 0) {
          if (this.mapIcon.xiaofang) {
          } else {
            this.camera = this.mapIcon.xiaofang;
          }
        } else {
          this.camera = this.mapIcon.xiaofang;
          this.mapIcon.laji = this.mapIcon.xiaofang;
          this.mapIcon.gaokong = this.mapIcon.xiaofang;
          this.mapIcon.zhugandao = this.mapIcon.xiaofang;
          this.mapIcon.churukou = this.mapIcon.xiaofang;
          this.mapIcon.zhihuidianti = this.mapIcon.xiaofang;
        }
      }
      if (type == "laji") {
        if (this.mapIcon.laji) {
          this.mapIcon.laji = false;
        } else {
          this.mapIcon.laji = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.laji;
        });
        if (arr.length > 0) {
          if (this.mapIcon.laji) {
          } else {
            this.camera = this.mapIcon.laji;
          }
        } else {
          this.camera = this.mapIcon.laji;
          this.mapIcon.xiaofang = this.mapIcon.laji;
          this.mapIcon.gaokong = this.mapIcon.laji;
          this.mapIcon.zhugandao = this.mapIcon.laji;
          this.mapIcon.churukou = this.mapIcon.laji;
          this.mapIcon.zhihuidianti = this.mapIcon.laji;
        }
      }
      if (type == "gaokong") {
        if (this.mapIcon.gaokong) {
          this.mapIcon.gaokong = false;
        } else {
          this.mapIcon.gaokong = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.gaokong;
        });
        if (arr.length > 0) {
          if (this.mapIcon.gaokong) {
          } else {
            this.camera = this.mapIcon.gaokong;
          }
        } else {
          this.camera = this.mapIcon.gaokong;
          this.mapIcon.xiaofang = this.mapIcon.gaokong;
          this.mapIcon.laji = this.mapIcon.gaokong;
          this.mapIcon.zhugandao = this.mapIcon.gaokong;
          this.mapIcon.churukou = this.mapIcon.gaokong;
          this.mapIcon.zhihuidianti = this.mapIcon.gaokong;
        }
      }
      if (type == "churukou") {
        if (this.mapIcon.churukou) {
          this.mapIcon.churukou = false;
        } else {
          this.mapIcon.churukou = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.churukou;
        });
        if (arr.length > 0) {
          if (this.mapIcon.churukou) {
          } else {
            this.camera = this.mapIcon.churukou;
          }
        } else {
          this.camera = this.mapIcon.churukou;
          this.mapIcon.laji = this.mapIcon.churukou;
          this.mapIcon.gaokong = this.mapIcon.churukou;
          this.mapIcon.zhugandao = this.mapIcon.churukou;
          this.mapIcon.xiaofang = this.mapIcon.churukou;
          this.mapIcon.zhihuidianti = this.mapIcon.churukou;
        }
      }
      if (type == "zhugandao") {
        if (this.mapIcon.zhugandao) {
          this.mapIcon.zhugandao = false;
        } else {
          this.mapIcon.zhugandao = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.zhugandao;
        });
        if (arr.length > 0) {
          if (this.mapIcon.zhugandao) {
          } else {
            this.camera = this.mapIcon.zhugandao;
          }
        } else {
          this.camera = this.mapIcon.zhugandao;
          this.mapIcon.xiaofang = this.mapIcon.zhugandao;
          this.mapIcon.laji = this.mapIcon.zhugandao;
          this.mapIcon.gaokong = this.mapIcon.zhugandao;
          this.mapIcon.churukou = this.mapIcon.zhugandao;
          this.mapIcon.zhihuidianti = this.mapIcon.zhugandao;
        }
      }
      if (type == "zhihuidianti") {
        if (this.mapIcon.zhihuidianti) {
          this.mapIcon.zhihuidianti = false;
        } else {
          this.mapIcon.zhihuidianti = true;
        }
        let arr = Object.entries(this.mapIcon).filter((item) => {
          return item[1] == !this.mapIcon.zhihuidianti;
        });
        if (arr.length > 0) {
          if (this.mapIcon.zhihuidianti) {
          } else {
            this.camera = this.mapIcon.zhihuidianti;
          }
        } else {
          this.camera = this.mapIcon.zhihuidianti;
          this.mapIcon.xiaofang = this.mapIcon.zhihuidianti;
          this.mapIcon.laji = this.mapIcon.zhihuidianti;
          this.mapIcon.gaokong = this.mapIcon.zhihuidianti;
          this.mapIcon.churukou = this.mapIcon.zhihuidianti;
          this.mapIcon.zhugandao = this.mapIcon.zhihuidianti;
        }
      }
      console.log(this.mapIcon);
      Object.entries(this.mapIcon).forEach((item) => {
        console.log(item);
        if (item[0] == "xiaofang" && item[1]) {
          this.$store.dispatch("getHkCameraByTag_zhili", {
            tag: "消防占道",
            type: "xiaofang",
          });
        }
        if (item[0] == "laji" && item[1]) {
          this.$store.dispatch("getHkCameraByTag_zhili", {
            tag: "垃圾分类",
            type: "laji",
          });
        }
        if (item[0] == "gaokong" && item[1]) {
          this.$store.dispatch("getHkCameraByTag_zhili", {
            tag: "高空抛物",
            type: "gaokong",
          });
        }
        if (item[0] == "churukou" && item[1]) {
          this.$store.dispatch("getHkCameraByTag_zhili", {
            tag: "出入口",
            type: "churukou",
          });
        }
        if (item[0] == "zhugandao" && item[1]) {
          this.$store.dispatch("getHkCameraByTag_zhili", {
            tag: "主干道",
            type: "zhugandao",
          });
        }
        if (item[0] == "zhihuidianti" && item[1]) {
          this.$store.dispatch("getLift_zizhi", {
            tag: "智慧电梯",
            type: "zhihuidianti",
          });
        }
      });
      // this.$store.commit("ADD_MARKER_LIST", type);
    },
    changeMap() {
      this.$store.commit("CHANGE_MAP");
    },
    sanhuiListSelcect(item) {
      this.sanhuiList.meetingType = item.label;
      // let params = {
      //   timeRangeType: 6, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
      //   page: 1,
      //   limit: 100,
      //   meetingType: item.label,
      //   // handleTimeOutFlag:true, //处置超时查询条件
      // };
      this.$store.dispatch("getMeetingList", this.sanhuiList);
    },
    taskSelectFn(item) {
      this.taskData.timeRangeType = item.label;
      // 两个标签联动的原因
      this.$store.commit("CHANGE_NOTICE_PARAMS", item.label);
      // this.$store.dispatch("getEventStatisticsVo", this.taskParams);
      this.$store.dispatch("getEventStatisticsVo", this.taskData);
      this.qushiTimeSelectFn(item);
    },
    // taskSelectJuwei(item) {
    //   console.log(item);
    // },
    qushiTimeSelectFn(item) {
      this.$store.commit("CHANGE_QUSHI_TIME_PARAMS", item);
    },
    warningscaleFn(item) {
      // console.log(item);
      console.log(item);
      this.timeRangeType = item.label;
      this.$store.commit("CHANGE_WARNING_PARAMS", item.label);
      this.$store.commit("CHANGE_WARNINGPOP_PARAMS", item.label);
    },
    qushiselectFn(item) {
      this.$store.commit("CHANGE_QUSHI_PARAMS", item.label);
    },
    eventListSelectFn(item) {
      this.taskList.eventType = item.label;
      // let params = {
      //   timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
      //   page: 1,
      //   limit: 100,
      //   eventType: item.label,
      // };
      console.log(this.taskList);
      this.$store.dispatch("selfTogetherTaskList", this.taskList);
    },
    // 导出告警事件详情
    exportDetail(timeRangeType) {
      timeRangeType = parseInt(timeRangeType);
      let origin = window.location.origin;
      // console.log(typeof timeRangeType);
      window.open(
        origin +
          "/linggang/self/writeEvent?timeRangeType=" +
          timeRangeType +
          "&token=" +
          localStorage.getItem("token")
      );
      // window.open("http://192.168.25.2:39001/linggang/self/writeEvent?timeRangeType="+timeRangeType+"&token="+localStorage.getItem("token"));
    },
    ...mapMutations([]),
  },

  created() {},
  mounted() {
    const parentDistrictId = localStorage.getItem("loginId");
    this.$store.dispatch("getDistrictName", parentDistrictId);
    this.$store.dispatch("eventTypes").then((res) => {
      this.qushiSelectList.push({
        label: "",
        value: "全部",
      });
      res.data.forEach((item) => {
        this.qushiSelectList.push({ label: item.code, value: item.desc });
      });
    });
    this.$store.dispatch("getMeetingTypeList");

    // console.log(localStorage.getItem("districtId"));
    console.log(localStorage.getItem("roleId"));

    if (
      localStorage.getItem("roleId") == 10 ||
      localStorage.getItem("roleId") == 33
    ) {
      this.params = {
        parentDistrictId: localStorage.getItem("districtId"),
      };
      console.log(this.params);

      // this.$store.dispatch("getDistrictTree", this.params).then((res) => {
      //   console.log(res);
      //   if (res.msg == "success") {
      //     this.districtList = res.data[0].children;
      //     console.log(this.districtList);
      //     for (let val in this.districtList) {
      //       console.log(this.districtList[val]);
      //       this.districtList[val].value = this.districtList[val].name;
      //       this.districtList[val].label = this.districtList[val].id;
      //     }
      //   }
      // });
    }
  },
  watch: {},
  computed: {
    ...mapState({
      warngingEventpopVisible: (state) =>
        state.selfTogether.warngingEventpopVisible,
      taskVisible: (state) => state.visible.taskHandleDetailPopVisible,
      showThingJsMap: (state) => state.lifeTizheng.showThingJsMap,
      taskParams: (state) => state.selfTogether.taskParams,
      getMeetingTypeList: (state) => state.selfTogether.getMeetingTypeList,
      level: (state) => state.lifeTizheng.level,
      shequ: (state) => state.lifeTizheng.shequNames,
      juwei: (state) => state.lifeTizheng.juweiNames,
      allJuwei: (state) => state.lifeTizheng.allJuwei,
      isShowDetailDialogdianti: (state) => state.visible.isShowDetailDialogdianti,

    }),

    ...mapGetters([]),
  },
  components: {
    taskHandle,
    attendant,
    qushikanban,
    warningTask,
    managePower,
    taskHandleList,
    sanHuiList,
    warningtaskPop,
    taskHandleList,
    thingJsMap,
    taskHandleDetailPop,
    mySelect,
    arcgisMap,
    mySelectQuShi,
    detailDialogdianti
  },
};
</script>

<style lang='less' scoped>
.selfTogether {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 100%;
  position: relative;
  .content_item:nth-child(2) {
    width: 100%;
    height: 100%;
  }

  .content_item:first-child {
    padding-left: 10px;
    box-sizing: border-box;
    .content_item_box {
      width: 100%;
      height: 100%;
      background: rgba(19, 46, 77, 0.5);
      .content_item_left {
        padding: 5px 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
      }
      .content_item_left:first-child {
        height: 30%;
        width: 100%;
      }
      .content_item_left:last-child {
        height: 70%;
        width: 100%;
      }
    }
  }
  .content_item:last-child {
    padding-right: 10px;
    box-sizing: border-box;
    overflow: visible;
    .content_item_box {
      width: 100%;
      height: 100%;
      background: rgba(19, 46, 77, 0.5);
      overflow: visible;
      .content_item_card {
        padding: 5px 10px;
        box-sizing: border-box;
        position: relative;

        .export {
          border: 1px solid #19f5fd;
          color: #19f5fd;
          width: v-bind("font_32_9.selectwidth");
          position: absolute;
          top: 2.8rem;
          cursor: pointer;
          z-index: 999;
        }
      }
      .content_item_card:first-child {
        height: 33.33%;
        width: 100%;
      }
      .content_item_card:nth-child(2) {
        height: 33.33%;
        width: 100%;
      }
      .content_item_card:last-child {
        height: 33.33%;
        width: 100%;
        // background: chocolate;
      }
    }
  }
}
.content_title {
  height: 2rem;
  widows: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-biaoti.png")
    no-repeat;
  background-size: 100% 100%;
  padding-left: 1rem;
  box-sizing: border-box;
  color: #19f5fd;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: v-bind("font_32_9.content_title");
  position: relative;
  .highEventSelect {
    position: absolute;
    right: 1rem;
    width: v-bind("font_32_9.selectwidth");
    height: 80%;
  }
  .highEventSelect1 {
    position: absolute;
    right: 12rem;
    // width: v-bind("font_32_9.selectwidth");
    width: 5rem;
    height: 80%;
  }
  .highEventSelect2 {
    position: absolute;
    right: 7rem;
    // width: v-bind("font_32_9.selectwidth");
    width: 5rem;
    height: 80%;
  }
  .highEventSelect3 {
    position: absolute;
    right: 7rem;
    width: 5rem;
    height: 80%;
  }
  .manage_btn {
    width: 6rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03adc2;
    border: 1px solid #03adc2;
    box-sizing: border-box;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}
.content_n {
  height: calc(100% - 2rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: chartreuse;
}
.title_select {
  font-size: v-bind("font_32_9.title_select");
  // cursor: pointer;
}
.title_unselect {
  font-size: v-bind("font_32_9.title_unselect");
  color: #08b3be;
  // cursor: pointer;
}

.changemap_icon {
  width: 4rem;
  height: 8rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  .changemap_icon_item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 2.5rem;
    }
  }
}
.IconList {
  width: 12rem;
  height: 18rem;
  position: absolute;
  right: 5rem;
  top: -12rem;
  display: flex;
  flex-direction: column;
  background: #12243b;
  border-radius: 5px;
  padding: 0 1rem;
  box-sizing: border-box;
  .changemap_icon_item {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    span {
      color: white;
      font-size: 1.2rem;
      padding-left: 1rem;
    }
  }
}
</style>
