<template>
  <div class="container"  @click="closePop">
    <div class="pop-box"  @click.stop="showPop">
      <img
        @click.stop="closePop"
        class="close-icon"
        src="~@/assets/shengmingtizheng/close.png"
        alt=""
      />
      <div class="headerbox">
        <div class="titleLeft">
          <div class="title">重点人员</div>
        </div>
      </div>
      <div class="body">
        <div class="leftBody" v-if="getCameraSnapList.data">
          <img
             v-if="getCameraSnapList.data[0].url.indexOf('http')!==-1"
            :src="getCameraSnapList.data[0].url"
            alt=""
            class="leftBodyTop"
          />
          <img
            v-else
            :src="picPreUrl + getCameraSnapList.data[0].url"
            alt=""
            class="leftBodyTop"
          />
          <loopImg
            class="leftBodyBottom"
            :imgList="getCameraSnapList.data"
            type="guiji"
          ></loopImg>
        
        </div>
        <div class="rightBody">
          <div class="title">重点人员库</div>
          <div class="compare">
            <div
              class="compareItem"
              v-for="(item, index) in getComparedList.data"
              :key="index"
            >
              <div class="picitem">
                <img v-if="item.pic.indexOf('http')!==-1" :src="item.pic" alt="" class="pic" />
                <img v-else :src="picPreUrl + item.pic" alt="" class="pic" />
                <div class="time">{{ item.createTime }}</div>
                <div class="name">{{ item.name }}</div>
              </div>
              <div class="picitem">
                <!-- <img :src="picPreUrl + item.url" alt="" class="pic" /> -->
                <img v-if="item.url.indexOf('http')!==-1" :src="item.url" alt="" class="pic" />
                <img v-else :src="picPreUrl + item.url" alt="" class="pic" />
                <div class="time">{{ item.createTime }}</div>
                <div class="name">{{ item.type }}</div>
              </div>
              <div class="percent">
                <div class="num">{{ item.score }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from "vue";
import loopImg from "@/components/lifeTizheng/bayonet/loopImg.vue";
import { WSconnect } from "@/utils/videoSocket";
import { mapState } from "vuex";
export default {
  data() {
    return {
      picPreUrl: "",
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      one: "",
      one_three: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.one = "1.65rem";
      font_32_9.one_three = "2.1rem";
      font_32_9.zero_seven_five = "1.4rem";
      font_32_9.three = "5rem";
      font_32_9.ninety = "120rem";
      font_32_9.body = "125rem";
    } else {
      font_32_9.one = "1rem";
      font_32_9.one_three = "1.3rem";
      font_32_9.zero_seven_five = "0.75rem";
      font_32_9.three = "3rem";
      font_32_9.ninety = "70rem";
      font_32_9.body = "67rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    showPop() {
      this.$store.commit("SET_BAYONET_POP", true);
    },
    closePop() {
      this.$store.commit("SET_BAYONET_POP", false);
    },
    handlePageChange() {},
  },
  mounted() {
    this.$store.dispatch("getCameraSnap", {});
    this.$store.dispatch("getCompared", {});
    this.picPreUrl = localStorage.getItem("picUrl");
    let json = {
      type: "face",
      token: localStorage.getItem("token"),
    };
    WSconnect(json);
  },
  components: {
    loopImg,
  },
  computed: {
    ...mapState({
      getCameraSnapList: (state) => state.lifeTizheng.getCameraSnapList,
      getComparedList: (state) => state.lifeTizheng.getComparedList,
    }),
  },
};
</script>

<style lang="less" scoped>
.container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .pop-box {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    // padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: v-bind("font_32_9.ninety");
    min-height: 85%;
    max-height: 85%;
    align-items: center;
    flex-flow: column;
    // background:#062240;
    background-image: url("~@/assets/shengmingtizheng/healthypop-bg.png");
    background-size: 100% 100%;
    color: #ffffff;
    font-size: v-bind("font_32_9.zero_seven_five");
    box-sizing: border-box;
    .close-icon {
      width: 4.3rem;
      height: 3rem;
      position: absolute;
      right: 0;
      // top: 0.5rem;
      cursor: pointer;
    }
    .headerbox {
      height: v-bind("font_32_9.three");
      width: 100%;
      // background: red;
      display: flex;
      flex-direction: row;
      align-items: center;
      .titleLeft {
        height: 100%;
        width: 40%;
        background-image: url("~@/assets/shengmingtizheng/bg-biaoti.png");
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .title {
        font-size: v-bind("font_32_9.one_three");
        color: white;
        margin-left: v-bind("font_32_9.one");
      }
      .count {
        color: red;
        font-size: v-bind("font_32_9.one_three");
        margin-left: v-bind("font_32_9.one");
        text-align: center;
      }
    }
    .body {
      width: 100%;
      flex: 1;
      height: v-bind("font_32_9.body");
      // background-color: aquamarine;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0% 1.2%;
      background-size: 100% 100%;

      .leftBody {
        height: 47rem;
        width: 49%;
        display: flex;
        flex-direction: column;

        .leftBodyTop {
          height: 35.5rem;
          width: 100%;
          margin-top: 1%;
          // background-color: rosybrown;
        }
        .leftBodyBottom {
          height: 10rem;
          width: 100%;
          background-color: #00355d;
          margin-top: 1%;
        }
      }
      .rightBody {
        height: 46rem;
        width: 49%;
        display: flex;
        flex-direction: column;
        border: 1px solid #01b1f1;
        box-sizing: border-box;
        padding: 1% 1.2%;
        overflow-y: scroll;

        .title {
          height: v-bind("font_32_9.three");
          width: 100%;
          color: white;
          display: flex;
          align-items: center;
          // background-color: yellow;
          margin-left: 2rem;
          font-size: v-bind("font_32_9.one");
        }
        .compare {
          display: grid;
          flex: 1;
          grid-template-columns: repeat(2, 49%);
          grid-template-rows: repeat(3, 25.3%);
          grid-gap: 10px;
          box-sizing: border-box;
          .compareItem {
            background-color: #00355d;
            display: flex;
            flex-direction: row;
            position: relative;
            .picitem {
              height: 100%;
              width: 50%;
              //   background-color: #01B1F1;
              display: flex;
              flex-direction: column;
              .pic {
                height: 70%;
                width: 100%;
              }
              .time {
                height: 5%;
                width: auto;
              }
              .name {
                height: 5%;
                width: auto;
              }
            }
            .percent {
              position: absolute;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .num {
                height: v-bind("font_32_9.three");
                width: v-bind("font_32_9.three");
                border-radius: 50%;
                background-color: #ff0000;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
      .rightBody::-webkit-scrollbar{
        width: 0;
      }
    }
  }
}
</style>
