<template>
  <div class="houseUse">
    <div class="topBox">
      <div class="houseUseText">房屋使用情况</div>
      <div class="closeIcon" @click="closeHouse">×</div>
    </div>
    <div class="middleBox">
      <div class="title">
        <div class="titleText">房屋使用情况信息</div>
      </div>
      <div class="useInfo">
        <div class="infoBox">
          <div class="infoDetail">
            <div class="text">地址：</div>
            <div class="content">{{ houseUseInfo.address }}</div>
          </div>
          <!-- <div class="infoDetail">
            <div class="text">状态：</div>
            <div class="content">{{ houseUseInfo.state }}</div>
          </div> -->
        </div>
        <div class="infoBox">
          <div class="infoDetail">
            <div class="text">状态：</div>
            <div class="content">{{ houseUseInfo.state }}</div>
          </div>
          <!-- <div class="infoDetail">
            <div class="text">户主：</div>
            <div class="content">{{ houseUseInfo.name }}</div>
          </div>
          <div class="infoDetail">
            <div class="text">性别：</div>
            <div class="content">{{ houseUseInfo.gender }}</div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="tableHeader">
      <div class="tableHeaderItem">成员姓名</div>
      <div class="tableHeaderItem">年龄</div>
      <div class="tableHeaderItem">性别</div>
    </div>
    <div class="tableBody">
      <div
        class="tableList"
        @click="openThirdDialog(item)"
        v-for="(item, index) in houseUseInfo.users"
        :key="index"
      >
        <div class="tableListItem">{{ item.name }}</div>
        <div class="tableListItem">{{ item.age }}</div>
        <div class="tableListItem">{{ item.gender }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closeHouse() {
      this.$store.commit("CHANGE_HOUSEUSEVISIBLE", false);
    },
  },

  created() { },
  mounted() { },
  watch: {},
  computed: {
    ...mapState({
      houseUseInfo: (state) => state.lifeTizheng.houseUseInfo,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.houseUse {
  position: fixed;
  left: 0;
  right: 0;
  top: 15rem;
  width: 30rem;
  min-height: calc(100% - 25rem);
  margin-left: auto;
  margin-right: auto;
  background: rgba(7, 41, 87, 0.8);
  z-index: 9999;
  .topBox {
    height: 3rem;
    // border: 1px solid red;
    position: relative;
    .houseUseText {
      // border: 1px solid red;
      font-size: 1.2rem;
      color: white;
      position: absolute;
      left: 1rem;
      top: 0.7rem;
    }
    .closeIcon {
      // border: 1px solid red;
      font-size: 28px;
      color: #3db7d2;
      font-weight: bold;
      position: absolute;
      right: 1rem;
      top: 0.7rem;
      cursor: pointer; //光标变化
    }
  }
  .middleBox {
    // border: gold 1px solid;
    height: 5rem;
    .title {
      // border: springgreen 1px solid;
      height: 2rem;
      .titleText {
        font-size: 1rem;
        text-align: left;
        margin-left: 1rem;
        color: #38d3cb;
      }
    }
    .useInfo {
      // border: tomato 1px solid;
      height: 3rem;
      display: flex;
      flex-direction: row;
      .infoBox {
        // border: 1px solid springgreen;
        width: 50%;
        display: flex;
        flex-direction: column;
        .infoDetail {
          margin-top: 0.8rem;
          // border: 1px springgreen solid;
          display: flex;
          flex-direction: row;
          .text {
            font-size: 1rem;
            text-align: left;
            margin-left: 2.3rem;
            color: #38d3cb;
          }
          .content {
            font-size: 1rem;
            text-align: left;
            margin-left: 1rem;
            color: white;
          }
        }
      }
    }
  }
}
.tableHeader {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0% 2%;
  // background-color: yellowgreen;
  .tableHeaderItem {
    flex: 1;
    height: 100%;
    color: #00efff;
    font-size: 1.2rem;
    // background-color: violet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .tableHeaderItem:last-child {
    flex: 1.3;
  }
}
.tableBody {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0% 2%;
  // background-color: yellowgreen;
  .tableList {
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    .tableListItem {
      flex: 1;
      height: 100%;
      color: #ffffff;
      font-size: 1rem;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .tableListItem:last-child {
      flex: 1.3;
    }
    .img {
      height: 70%;
      width: 90%;
      background-size: 100% 100%;
    }
  }
}
</style>
