<template>
  <div class="houseInfo">
    <div class="firstBox">
      <div class="topBox">
        <div class="floorInfoText">楼层信息</div>
        <div class="closeIcon" @click="closeHouse">×</div>
      </div>
      <div class="middleBox">
        <div class="floorNum" v-for="(item,index) in houseInfo.rooms" @click="getRoom(item,houseInfo.code)" :key="index">
          <div class="num">>{{ item }}</div>
        </div>
      </div>
      <!-- <div class="saperator"></div> -->
      <!-- <div class="footBox">
        图标区
      </div> -->
    </div>
    <div class="secondBox">
      <div class="topBox2">
        <div class="floorNumText">{{houseInfo.title}}</div>
      </div>
      <div class="houseMenberInfo">人员信息：[总人数：{{houseInfo.totalPerson}}人]</div>
      <div class="memberDetail">
        <div class="memberDetailBox">
          <div class="typeText">成人：</div>
          <div class="count">{{houseInfo.aldult}}</div>
          <div class="peopleText">人</div>
        </div>
        <div class="memberDetailBox">
          <div class="typeText">老人：</div>
          <div class="count">{{houseInfo.elder}}</div>
          <div class="peopleText">人</div>
        </div>
        <div class="memberDetailBox">
          <div class="typeText">小孩：</div>
          <div class="count">{{houseInfo.child}}</div>
          <div class="peopleText">人</div>
        </div>
        <div class="memberDetailBox">
          <div class="typeText">党员：</div>
          <div class="count">{{houseInfo.party}}</div>
          <div class="peopleText">人</div>
        </div>
        <div class="memberDetailBox">
          <div class="typeText">社区关爱：</div>
          <div class="count">{{houseInfo.care}}</div>
          <div class="peopleText">人</div>
        </div>
        <div class="memberDetailBox">
          <div class="typeText">社区互助：</div>
          <div class="count">{{houseInfo.help}}</div>
          <div class="peopleText">人</div>
        </div>
      </div>
      <div class="houseMenberInfo">居家隔离观察(重点地区返沪人员)</div>
      <div class="isolationInfo">
        <div class="isolationInfoBox" style="margin-left:1rem">
          <div class="isolationDetail">
            <div class="typeText">今日新增：</div>
            <div class="count">{{houseInfo.todayAdd}}</div>
            <div class="peopleText">人</div>
          </div>
          <div class="isolationDetail">
            <div class="typeText">在管：</div>
            <div class="count">{{houseInfo.ing}}</div>
            <div class="peopleText">人</div>
          </div>
        </div>
        <div class="isolationInfoBox" style="margin-right:1rem">
          <div class="isolationDetail" style="justify-content: right;">
            <div class="typeText">今日解除：</div>
            <div class="count">{{houseInfo.todayFree}}</div>
            <div class="peopleText">人</div>
          </div>
          <div class="isolationDetail" style="justify-content: right;">
            <div class="typeText">累计：</div>
            <div class="count">{{houseInfo.total}}</div>
            <div class="peopleText">人</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <img
    ref="select"
      v-if="houseInfo.id == 1"
      :src="require('@/assets/images/thingjs/thingimghouse1.png')"
      alt=""
    />
    <img
      v-if="houseInfo.id == 2"
      :src="require('@/assets/images/thingjs/thingimghouse2.png')"
      alt=""
    /> -->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      floorInfo: [
        {
          id: 1,
          num: 101,
        },
        {
          id: 2,
          num: 201,
        },
        {
          id: 3,
          num: 301,
        },
        {
          id: 4,
          num: 401,
        },
        {
          id: 5,
          num: 501,
        },
        {
          id: 6,
          num: 601,
        },
      ],
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closeHouse() {
      this.$store.commit("CHANGE_HOUSEINFOVISIBLE", false);
    },
    getRoom(room,code){
      console.log('====================================');
      console.log(room,code);
      this.$store.dispatch('getRoom',{code:code,roomNo:room})
      console.log('====================================');
    }
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      houseInfo: (state) => state.lifeTizheng.houseInfo,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.houseInfo {
  position: fixed;
  right: 10px;
  top: 5rem;
  width: 30rem;
  height: calc(100% - 5rem);
  background: rgba(7, 41, 87, 0.8);
  z-index: 9999;
  // img {
  //   width: 100%;
  //   height: 100%;
  // }
  .firstBox {
    // border: 1px solid red;
    height: 50%;
    .topBox {
      height: 4rem;
      // border: 1px solid red;
      position: relative;
      .floorInfoText {
        // border: 1px solid red;
        font-size: 1.5rem;
        color: white;
        position: absolute;
        left: 1rem;
        top: 0.7rem;
      }
      .closeIcon {
        // border: 1px solid red;
        font-size: 28px;
        color: #3db7d2;
        font-weight: bold;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer; //光标变化
      }
    }
    .middleBox {
      // border: yellow 1px solid;
      margin: 1px auto;
      height: calc(100% - 4rem);
      width: 95%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;

      .floorNum {
        border: 1px solid #4e90de;
        border-radius: 4px;
        margin-top: 5px;
        margin-left: 10px;
        width: 22%;
        height: 15%;
        position: relative;
        .num {
          color: white;
          font-size: 20px;
          position: absolute;
          left: 5px;
          top: 0.5rem;
        }
      }
    }
    // .footBox{
    //   // border: 1px solid salmon;
    //   height: 17%;
    //   width: 95%;
    //   margin: 5px auto;
    // }
  }
  .secondBox {
    // border: 1px solid springgreen;
    height: 40%;
    margin-top: 2rem;
    .topBox2 {
      height: 4rem;
      // border: 1px solid red;
      position: relative;
      .floorNumText {
        // border: 1px solid red;
        font-size: 1.2rem;
        color: white;
        position: absolute;
        left: 1rem;
        top: 0.7rem;
      }
    }
    .houseMenberInfo {
      // border: 1px solid gold;
      font-size: 1rem;
      text-align: left;
      margin-left: 1rem;
      color: #38d3cb;
    }
    .memberDetail {
      // border: 1px red solid;
      height: 30%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      .memberDetailBox {
        width: 25%;
        // border: goldenrod 1px solid;
        margin-top: 1.2rem;
        margin-right: 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        .typeText {
          font-size: 1rem;
          color: #75a5dc;
        }
        .count {
          color: gold;
          font-weight: bold;
          font-size: 24px;
        }
        .peopleText {
          font-size: 1rem;
          color: #75a5dc;
        }
      }
    }
    .isolationInfo {
      // border: 1px solid salmon;
      height: 30%;
      display: flex;
      flex-direction: row;
      .isolationInfoBox {
        // border: sandybrown 1px solid;
        width: 28%;
        display: flex;
        flex-direction: column;
        .isolationDetail {
          margin-top: 1.5rem;
          display: flex;
          justify-content: left;
          flex-direction: row;
          .typeText {
            font-size: 1rem;
            color: #75a5dc;
          }
          .count {
            color: gold;
            font-weight: bold;
            font-size: 24px;
          }
          .peopleText {
            font-size: 1rem;
            color: #75a5dc;
          }
        }
      }
    }
  }
}
</style>
