<template>
  <div class="locusPop" @click="closeDialog()">
    <div class="locusLine"  @click.stop="cshowDialog()">
      <div class="dialog-head">
        <div class="head-one">重点人员轨迹</div>
        <div class="head-two" @click.stop="closeDialog()"></div>
      </div>
      <div class="guijimap">
          <thingJsMap></thingJsMap>
      </div>
      <div class="guijiImg">
          <loopImg :imgList='getCameraSnapguijiList'></loopImg>
          <div class="Kuimg"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
import thingJsMap from "@/components/lifeTizheng/thingjsMap";
import loopImg from "@/components/lifeTizheng/bayonet/loopImg";
export default {
  data() {
    return {};
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      title_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.title_font = "1.7rem";
    } else {
      font_32_9.title_font = "1.3rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: { ...mapMutations([]) ,
    cshowDialog(){
      this.$store.commit('CLOSE_LOCUS_POP',true)
    },
    closeDialog(){
      this.$store.commit('CLOSE_LOCUS_POP',false)
    }
  },

  created() {},
  mounted() {
    console.log(this.getCameraSnapguijiList)
  },
  watch: {},
  computed: {
    ...mapState({
      getCameraSnapguijiList:state=>state.lifeTizheng.getCameraSnapguijiList
    }),

    ...mapGetters([]),
  },
  components: {
    thingJsMap,
    loopImg
  },
};
</script>

<style lang='less' scoped>
.locusPop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backface-visibility: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .locusLine {
    width: 50%;
    height: 70%;
    background: rgba(6, 42, 71, .8);
    border: 1px solid #156791;
    .dialog-head {
      width: 100%;
      height: 6%;
      position: relative;
      font-size: v-bind("font_32_9.title_font");
      .head-one {
        width: 21%;
        height: 100%;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: 100% 100%;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 2rem;
      }
      .head-two {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: 100% 100%;
        width: 3rem;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
    .guijimap{
        margin-top:1rem;
        height:64%;
    }
    .guijiImg{
        padding:1rem;
        height: 30%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto 8rem;
        grid-template-rows: 100%;
        .Kuimg{
            // background: burlywood;
        }
    }
  }
}
</style>
