<template>
  <div class="loopImg">
    <div class="loopLeft" @click="moveLeft">
      <img :src="require('@/assets/shengmingtizheng/zuo.png')" alt="" />
    </div>
    <div class="loopCenter">
      <div class="moveloopCenter" @click="item">
        <div class="moveItem" v-for="item in imgList" :key="item.id" @click="getSingle(item)">
          <img v-if="item.url.indexOf('http')!==-1" style="width:100%;height:100%" :src="item.url" alt="">
          <img v-else style="width:100%;height:100%" :src="picPreUrl+item.url" alt="">
          
        </div>
      </div>
    </div>
    <div class="loopRight" @click="moveRight">
      <img :src="require('@/assets/shengmingtizheng/you.png')" alt="" />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      picPreUrl:''
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      moveLenght: "",
      moveLenght_t: "",
    });
    let moveLeft = () => {
      if (proxy.$root.$route.query.v == "1") {
        font_32_9.moveLenght_t = `${font_32_9.moveLenght - 9}rem`;
        font_32_9.moveLenght = font_32_9.moveLenght - 9;
      } else {
        font_32_9.moveLenght_t = `${font_32_9.moveLenght - 9}rem`;
        font_32_9.moveLenght = font_32_9.moveLenght - 9;
      }
    };
    let moveRight = () => {
      if (proxy.$root.$route.query.v == "1") {
        if (font_32_9.moveLenght > -5) {
          font_32_9.moveLenght = 0;
          font_32_9.moveLenght_t = `${font_32_9.moveLenght}rem`;
        } else {
          font_32_9.moveLenght_t = `${font_32_9.moveLenght + 9}rem`;
          font_32_9.moveLenght = font_32_9.moveLenght + 9;
        }
      } else {
        if (font_32_9.moveLenght > -5) {
          font_32_9.moveLenght = 0;
          font_32_9.moveLenght_t = `${font_32_9.moveLenght}rem`;
        } else {
          font_32_9.moveLenght_t = `${font_32_9.moveLenght + 9}rem`;
          font_32_9.moveLenght = font_32_9.moveLenght + 9;
        }
      }
    };
    // if (proxy.$root.$route.query.v == "1") {
    //   font_32_9.moveLenght = "1.7rem";
    // } else {
    //   font_32_9.moveLenght = "9rem";
    // }
    return {
      font_32_9,
      moveLeft,
      moveRight,
    };
  },
  props: ['imgList','type'],
  methods: {
    item(){
      this.$store.commit("CLOSE_LOCUS_POP",true)
    },
    getSingle(item){
      if(this.type=='guiji'){
        console.log(item)
        this.$store.dispatch('getCameraSnapguiji',{uid:item.uid})
      }
      
    }
    ,...mapMutations([]) },

  created() {},
  mounted() {
    this.picPreUrl =  localStorage.getItem('picUrl');

  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.loopImg {
  width: 100%;
  height: 100%;
  // background: chocolate;
  display: grid;
  grid-template-columns: 4rem calc(100% - 8rem) 4rem;
  height: 100%;
  .loopLeft,
  .loopRight {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .loopCenter {
    // background: chartreuse;
    overflow: hidden;
    .moveloopCenter {
      transition: all 0.5s;
      width: 150rem;
      height: 100%;
      margin-left: v-bind("font_32_9.moveLenght_t");
      .moveItem {
        width: 8rem;
        height: 100%;
        background: #00355D;
        float: left;
        margin-right: 1rem;
      }
    }
  }
}
</style>
