<template>
  <div class="wen-box">
    <div class="dialog-box">
      <div class="dialog-head">
        <div class="head-one">12345热线</div>
        <div class="head-two" @click="closeDialog()"></div>
      </div>
      <div class="task-box">
        <div class="task-list">
          <div class="list-item">
            <div class="item-name">任务地址：</div>
            <div class="item-value">{{ wenTaskDetail.address }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">主责部门：</div>
            <div class="item-value">{{ wenTaskDetail.department }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">案件大类：</div>
            <div class="item-value">{{ wenTaskDetail.category }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">问题描述：</div>
            <div class="item-value">
              {{ wenTaskDetail.desc }}
            </div>
          </div>
        </div>
        <div class="task-list">
          <div class="list-item">
            <div class="item-name">受理时间：</div>
            <div class="item-value">{{ wenTaskDetail.alertTime }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">截止时间：</div>
            <div class="item-value">{{ wenTaskDetail.endTime }}</div>
          </div>
          <div class="list-item">
            <div class="item-name">处置状态</div>
            <div class="item-value">
              <img
                v-if="wenTaskDetail.status == 0"
                class="progress-icon"
                src="~@/assets/shengmingtizheng/first.png"
                alt=""
              />
              <img
                v-if="wenTaskDetail.status == 1"
                class="progress-icon"
                src="~@/assets/shengmingtizheng/second.png"
                alt=""
              />
              <img
                v-if="wenTaskDetail.status == 2"
                class="progress-icon"
                src="~@/assets/shengmingtizheng/forth.png"
                alt=""
              />
             
            </div>
          </div>
          <div class="list-item">
            <div class="item-name">处置意见：</div>
            <div class="item-value">{{ wenTaskDetail.opinion }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      tasklist: [],
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: "",
      title_font: "",
      badge_font: "",
      progress_width: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.65rem";
      font_32_9.badge_font = "1.7rem";
      font_32_9.title_font = "1.9rem";
      font_32_9.progress_width = "13rem";
    } else {
      font_32_9.normal_font = "1.1rem";
      font_32_9.badge_font = "1.2rem";
      font_32_9.title_font = "1.3rem";
      font_32_9.progress_width = "11rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closeDialog() {
      this.$store.commit("CLOSE_DIALOG", false);
    },
    getTaskDetail(newId) {
      this.$store.dispatch("getTaskDetail", { id: newId });
    },
  },
  created() {},
  mounted() {
    this.wenwenTaskId = JSON.parse(localStorage.getItem("wenTaskId"));
    // this.getTaskDetail(this.wenwenTaskId);
    this.getTaskDetail(this.wenwenTaskId);
  },
  watch: {
    wenwenTaskId: function (newId, old) {
      this.getTaskDetail(newId);
    },
    wenTaskDetail: function (newObj, old) {
      this.tasklist = [...newObj.alarmProcesses];
    },
  },
  computed: {
    ...mapState({
      isShowWenDialog: (state) => state.isShowWenDialog,
      wenTaskDetail: (state) => state.infoMessage.wenTaskDetail,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
@import "~@/assets/wenLess/wenconmon.less";
.wen-box {
  text-align: left;
  width: @wenallheight;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .dialog-box {
    width: 67%;
    height: 60%;
    background-color: rgba(0, 53, 93, 1);
    border: 0.1rem solid #01b1f1;
    .dialog-head {
      width: 100%;
      height: 7.2%;
      position: relative;
      font-size: v-bind("font_32_9.title_font");
      .head-one {
        width: 21%;
        height: 100%;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: @wenallbackgroundsize;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 3.3rem;
      }
      .head-two {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: 100% 100%;
        width: 6%;
        height: @wenallheight;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
    .task-box {
      display: flex;
      flex-flow: row;
      height: 92%;
    }
    .task-list {
      flex: 1;
      display: flex;
      flex-flow: column;
      margin: 1%;
      color: #ffffff;
      font-size: v-bind("font_32_9.normal_font");
      .list-item {
        display: flex;
        flex-flow: row;
        padding: 1%;
        height: 15%;
        .item-name {
          color: #19f7ff;
          width: 15%;
        }
        .item-value {
          width: 85%;
          .img-bg {
            background-color: #2c3e50;
            width: 8rem;
            height: 10rem;
          }
          .progress-icon {
            width: v-bind("font_32_9.progress_width");
          }
          .content-box {
            width: 100%;
            background-color: #00355d;
            border: 0.1rem solid #0f83af;
            color: #ffffff;
            height: 15rem;
          }
          textarea {
            outline: none;
            font-size: 14px;
          }
        }
      }
    }
  }
}
</style>
