<template>
  <div class="wen-box" >
    <div class="dialog-box"  @click.stop>
      <div class="dialog-head">
        <div class="head-one">近期待办</div>
        <div class="head-two" @click="closeDialog()"></div>
      </div>
      <div class="task-list">
        <div class="list-item">
          <div class="item-name">发件人：</div>
          <div class="item-value">
            
            <span>{{level}}{{ recentDetail.senderName }}</span>
          </div>
        </div>
        <div class="list-item">
          <div class="item-name">收件人：</div>
          <div class="item-value">
            <span>{{level}}{{ recentDetail.addressee }}</span>
          </div>
        </div>
        <div class="list-item">
          <div class="item-name">待办类别：</div>
          <div class="item-value1">
            <div class="buttonbox" v-if="recentDetail.type == 0">服务类</div>
            <div class="buttonbox" v-if="recentDetail.type == 2">通知类</div>
            <div class="buttonbox" v-if="recentDetail.type == 1">预警类</div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-name">通知方式：</div>
          <div class="item-value1">
            <div class="buttonbox">
              {{ recentDetail.noticeType == 0 ? "小程序" : "短信" }}
            </div>
          </div>
        </div>
        <!-- <div class="list-item">
          <div class="item-name">待办类别：</div>
          <div class="item-value">{{ recentDetail.typetext }}</div>
        </div> -->
        <div class="list-item">
          <div class="item-name">待办内容：</div>
          <div class="item-value">
            <div class="content-box">{{ recentDetail.content }}</div>
          </div>
        </div>
        <div class="button-box">
          <div class="submit-button" @click="closeDialog()">确定</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      recentDetail: {},
      infoType: 0,
      
    };
  },
  props: [],
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: "",
      title_font: "",
      badge_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.7rem";
      font_32_9.badge_font = "1.7rem";
      font_32_9.title_font = "1.9rem";
      font_32_9.tag_width = "10.5rem";
    } else {
      font_32_9.normal_font = "1.1rem";
      font_32_9.badge_font = "1.2rem";
      font_32_9.title_font = "1.3rem";
      font_32_9.tag_width = "5.5rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    ...mapMutations([]),
    closeDialog() {
      this.$store.commit("CLOSE_DIALOG", false);
    },
    showDialog() {
      this.$store.commit("CLOSE_DIALOG", true);
    },
  },

  created() {},
  mounted() {
    this.recentDetail = JSON.parse(localStorage.getItem("recentDetail"));
    let typetext = "";
    if (this.recentDetail.type === "0") {
      typetext = "服务信息";
    } else if (this.recentDetail.type === "1") {
      typetext = "预警信息";
    } else if (this.recentDetail.type === "2") {
      typetext = "通知信息";
    }
    Object.assign(this.recentDetail, { typetext: typetext });
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
@import "~@/assets/wenLess/wenconmon.less";
.wen-box {
  text-align: left;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .dialog-box {
    width: 67%;
    height: 60%;
    background-color: rgba(0, 53, 93, 0.8);
    border: 0.1rem solid #01b1f1;
    .dialog-head {
      width: 100%;
      height: 7.2%;
      position: relative;
      font-size: v-bind("font_32_9.title_font");
      .head-one {
        width: 21%;
        height: @wenallheight;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: @wenallbackgroundsize;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 3.3rem;
      }
      .head-two {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: 100% 100%;
        width: 6%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
    .task-list {
      display: flex;
      flex-flow: column;
      margin: 1%;
      color: #ffffff;
      .button-box {
        display: flex;
        justify-content: center;
        .submit-button {
          background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-queding.png")
            no-repeat;
          background-size: 100% 100%;
          font-size: v-bind("font_32_9.normal_font");
          width: 5rem;
          height: 3rem;
          color: #ccfffd;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
      .list-item {
        display: flex;
        flex-flow: row;
        padding: 1%;
        font-size: v-bind("font_32_9.normal_font");
        .item-name {
          color: #19f7ff;
        }
        .item-value {
          width: 90%;
          .img-bg {
            background-color: #2c3e50;
            width: 8rem;
            height: 10rem;
          }
          .content-box {
            width: 100%;
            background-color: #00355d;
            border: 0.1rem solid #0f83af;
            color: #ffffff;
            height: 10rem;
            padding: 0.5rem;
          }
          textarea {
            outline: none;
            font-size: v-bind("font_32_9.normal_font");
          }
        }
        .active-box {
          background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-yellow.png")
            no-repeat;
          background-size: 100% 100%;
          width: v-bind("font_32_9.tag_width");
          height: 2.6rem;
        }
        .buttonbox {
          background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%A7%86%E9%A2%91%E8%BD%AE%E5%B7%A1/anniu-blue.png")
            no-repeat;
          background-size: @wenallbackgroundsize;
          width: v-bind("font_32_9.tag_width");
          height: 2.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
