<template>
  <div class="container" @click="closePop">
    <div class="pop-box" @click.stop="showPop">
      <img @click.stop="closePop" class="close-icon" src="~@/assets/shengmingtizheng/close.png" alt />
      <div class="headerbox">
        <div class="titleLeft">
          <div class="title">装修管理</div>
          <span class="count">{{ healthyPopCount }}</span>
        </div>
      </div>
      <div class="tableHeader">
        <div class="tableHeaderItem" style="flex: 0.7">序号</div>
        <div class="tableHeaderItem">所属小区</div>
        <div class="tableHeaderItem" style="flex: 0.7">开始时间</div>
        <div class="tableHeaderItem">预计结束时间</div>
        <div class="tableHeaderItem">装修地址</div>
        <div class="tableHeaderItem">是否缴纳保证金</div>
        <div class="tableHeaderItem">类型</div>
        <div class="tableHeaderItem">详情</div>
      </div>
      <div class="tableBody">
        <div class="tableList" v-for="(item, index) in tableData.list" :key="index">
          <div class="tableListItem" style="flex: 0.7">{{ index + 1 }}</div>
          <div class="tableListItem">{{ item.districtName }}</div>
          <div class="tableListItem" style="flex: 0.7">{{ item.startTime }}</div>
          <div class="tableListItem">{{ item.endTime }}</div>
          <div class="tableListItem">{{ item.address }}</div>
          <div class="tableListItem">{{ item.status == 1 ? '是' : '否' }}</div>
          <div class="tableListItem">{{ item.type== 0 ?'部分装修':'全部装修' }}</div>
          <div class="tableListItem" :title="item.content">{{ getContent(item.content) }}</div>
        </div>
      </div>

      <div class="pagination-container" id="pagination-id">
        <el-pagination
          @current-change="handlePageChange"
          :background="false"
          layout="prev, pager, next,total"
          :total="tableData.totalCount"
          :page-size="params.limit"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from "vue";
import { mapState } from "vuex";
export default {
  data() {
    return {
      params: {
        // timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 1,
        limit: 10,
      },
      tableData: {}
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      one: "",
      one_three: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.one = "1.65rem";
      font_32_9.one_three = "2.1rem";
      font_32_9.zero_seven_five = "1.4rem";
      font_32_9.three = "5rem";
      font_32_9.ninety = "120rem";
    } else {
      font_32_9.one = "1rem";
      font_32_9.one_three = "1.3rem";
      font_32_9.zero_seven_five = "0.75rem";
      font_32_9.three = "3rem";
      font_32_9.ninety = "90rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    getContent(data){
      if(data){
       let a = data.substr(0,20)
       return `${a}...`
      }
    },
    closePop() {
      this.$store.commit("SET_RENOVATION", false);
    },
    showPop() {
      this.$store.commit("SET_RENOVATION", true);
    },
    handlePageChange(val) {
      this.params.page = val;
      this.$store.dispatch("getRenovationList", this.params);
    },
    itemClick(item) {
      localStorage.setItem("wenTaskId", item.id);
      this.$store.commit("DETAIL_DIALOG", true);
      this.closePop();
    },
  },
  mounted() {
    this.$store.dispatch("getRenovationList", this.params)
      .then(res => {
        this.tableData = res.data
      })
  },
  computed: {
    ...mapState({
      eventList: (state) => state.lifeTizheng.eventList,
      healthyPopCount: (state) => state.visible.healthyPopCount,
    }),
  },
};
</script>

<style lang="less" scoped>
.container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .pop-box {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    // padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: v-bind("font_32_9.ninety");
    min-height: 65%;
    max-height: 80%;
    align-items: center;
    flex-flow: column;
    // background:#062240;
    background-image: url("~@/assets/shengmingtizheng/healthypop-bg.png");
    background-size: 100% 100%;
    color: #ffffff;
    font-size: v-bind("font_32_9.zero_seven_five");
    box-sizing: border-box;
    .close-icon {
      width: 4.3rem;
      height: 3rem;
      position: absolute;
      right: 0;
      // top: 0.5rem;
      cursor: pointer;
    }
    // .close-icon:hover{
    //     transform: rotate(180deg);
    //     transition: all 0.3s ease-in-out;
    // }
    .headerbox {
      height: v-bind("font_32_9.three");
      width: 100%;
      // background: red;
      display: flex;
      flex-direction: row;
      align-items: center;
      .titleLeft {
        height: 100%;
        width: 40%;
        background-image: url("~@/assets/shengmingtizheng/bg-biaoti.png");
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .title {
        font-size: v-bind("font_32_9.one_three");
        color: white;
        margin-left: v-bind("font_32_9.one");
      }
      .count {
        color: #01f19d;
        font-size: v-bind("font_32_9.one_three");
        margin-left: v-bind("font_32_9.one");
        text-align: center;
      }
    }
    .tableHeader {
      height: v-bind("font_32_9.three");
      width: 100%;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding: 0% 2%;
      // background-color: yellowgreen;
      .tableHeaderItem {
        flex: 1;
        height: 100%;
        color: #1dc9dd;
        font-size: v-bind("font_32_9.one");
        // background-color: violet;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .tableHeaderItem:last-child {
        flex: 1.5;
      }
    }
    .tableBody {
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0% 2%;
      // background-color: yellowgreen;
      .tableList {
        height: v-bind("font_32_9.three");
        width: 100%;
        display: flex;
        flex-direction: row;
        .tableListItem {
          flex: 1;
          height: 100%;
          color: #cee1de;
          font-size: v-bind("font_32_9.one");
          // background-color: violet;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        .tableListItem:last-child {
          flex: 1.5;
        }
        .img {
          height: 70%;
          width: 90%;
          background-size: 100%b 100%;
        }
      }
      .tableList:nth-child(2n + 1) {
        background-color: rgba(48, 255, 231, 0.12);
      }
    }
    .pagination-container {
      height: v-bind("font_32_9.three");
      width: 100%;
      // display:flex ;
      // align-items: center;
      // justify-content: center;
      position: absolute;
      bottom: 0;
      /deep/ .el-pagination .el-pager .number {
        background-color: transparent;
        color: #ffffff;
        font-weight: bold;
        font-size: v-bind("font_32_9.one");
      }
      /deep/ .el-pagination .el-pager .active {
        background-color: transparent;
        color: #a5ffff;
        font-weight: bold;
        font-size: v-bind("font_32_9.one");
      }
      /deep/ .el-pagination button {
        background-color: transparent;
      }
      /deep/ .el-pagination .el-pager .more {
        background-color: transparent;
      }
    }
  }
}
</style>
