<template>
  <div class="backlog">
    <div
      class="backlog_item"
      v-for="(item, index) in getnoticelifeS"
      :key="index"
      @click="openRecentDialog(item)"
    >
      <div class="backlog_item_icon">
        <span v-if="level">{{ item.senderName }}</span>{{
          item.type == "0"
            ? "服务信息"
            : item.type == "1"
              ? "预警信息"
              : "提醒信息"
        }}
      </div>
      <div class="backlog_item_text">{{ item.content }}</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
// import "swiper/dist/css/swiper.css";
// import { swiper, swiperSlider, directive } from "vue-awesome-swiper";
export default {
  data() {
    return {
      level: localStorage.getItem("level") == "Secretary" ? false : true,
      swiperOption: {
        slidesPerView: "auto", //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 4000,
        autoplayDisableOnInteraction: false,
        loop: true,
        mousewheel: true,
        mousewheelControl: true,
        // slidesPerView:auto,
        height: 800,
        centeredSlides: false, // 是否居中显示

      },
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      backlog_item_icon: "",
      backlog_item_text: "",
      backlog_item_width: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.backlog_item_icon = "1.3rem";
      font_32_9.backlog_item_text = "1.3rem";
      font_32_9.backlog_item_width = "18rem";
    } else {
      font_32_9.backlog_item_icon = "1rem";
      font_32_9.backlog_item_text = "1rem";
      if (localStorage.getItem("level") == "Secretary") {
        font_32_9.backlog_item_width = "6rem";
      } else {
        font_32_9.backlog_item_width = "14rem";
      }

    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    openRecentDialog(val) {
      this.$store.commit("RECENT_DIALOG", true);
      localStorage.setItem('recentDetail', JSON.stringify(val))
    },
  },

  created() { },
  mounted() {
    this.$store.dispatch("getNoticeLife", this.noticeParmas);
  },
  watch: {},
  computed: {
    ...mapState({
      getnoticelifeS: (state) => state.lifeTizheng.getnoticelifeS,
      noticeParmas: (state) => state.lifeTizheng.noticeParmas,
    }),
    // swiper() {
    //   return this.$refs.mySwiper;
    // },
    ...mapGetters([]),
  },
  // components: {
  //   swiper,
  //   swiperSlider,
  // },
  // directives: {
  //   swiper: directive,
  // },
};
</script>

<style lang='less' scoped>
.backlog {
  width: 100%;
  height: 100%;
}
.backlog_item {
  height: 2.5rem;
  padding: 5px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: v-bind("font_32_9.backlog_item_width") calc(
      100% - v-bind("font_32_9.backlog_item_width")
    );
  grid-template-rows: 100%;
  border-bottom: 1px dashed #12445e;
  .backlog_item_icon {
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-daiban.png")
      no-repeat;
    background-size: 100% 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #17c8d4;
    font-weight: 600;
    font-size: v-bind("font_32_9.backlog_item_icon");
  }
  .backlog_item_text {
    line-height: 2rem;
    text-align: left;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: v-bind("font_32_9.backlog_item_text");
  }
}
</style>
