<template>
  <div class="container" @click="closePop">
    <div class="pop-box" @click.stop="showPop">
      <img
        @click.stop="closePop"
        class="close-icon"
        src="~@/assets/shengmingtizheng/close.png"
        alt=""
      />
      <div class="headerbox">
        <div class="titleLeft">
          <div class="title">{{carParams.title}}</div>
        </div>
      </div>
      <div class="body">
        <div class="rightBody">
          <!-- <div class="title">重点人员库</div> -->
          <div class="selectBox">
            <div :class="inOuptList[0].btnsel ? 'btnsl' : 'btnunsel'" v-if="xiaoqushow" @click="inAndOutSelect(inOuptList[0])">{{inOuptList[0].value}}</div>
            <div :class="inOuptList[1].btnsel ? 'btnsl' : 'btnunsel'" v-if="xiaoqushow" @click="inAndOutSelect(inOuptList[1])">{{inOuptList[1].value}}</div>
            <!-- <div :class="xiaoquList[0].btnsel ? 'btnsl' : 'btnunsel'" v-if="xiaoqushow" @click="inAndOutSelectXiaoqu(xiaoquList[0])">{{xiaoquList[0].value}}</div> -->
            <!-- <div :class="xiaoquList[1].btnsel ? 'btnsl' : 'btnunsel'" v-if="xiaoqushow" @click="inAndOutSelectXiaoqu(xiaoquList[1])">{{xiaoquList[1].value}}</div> -->
             <mySelect
              v-show="this.level == 3"
              class="highEventSelect"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juweiList"
              @click="showAll"
              @chooseFn="eventselectfnjuwei"
            />
            <mySelect
              v-show="this.level == 3"
              class="highEventSelect"
              defTxt="全部社区"
              placeholder="请选择"
              :list="shequ"
              @chooseFn="eventselectfnshequ"
            />
           
            <mySelect
              v-show="this.level == 4"
              class="highEventSelect3"
              defTxt="全部居委"
              placeholder="请选择"
              :list="juwei"
              @chooseFn="eventselectfnjuwei"
            />
            <!-- <mySelect
              class="highEventSelect"
              :defTxt="xiaoquName"
              placeholder="请选择"
              :list="xiaoquList"
              @chooseFn="inAndOutSelectXiaoqu"
              v-if="xiaoqushow"
            /> -->
            <!-- <mySelect
              class="highEventSelect"
              defTxt="进口"
              placeholder="请选择"
              :list="inOuptList"
              @chooseFn="inAndOutSelect"
            /> -->
            <!-- <mySelect
              class="highEventSelect"
              :defTxt="currentCameraName"
              placeholder="请选择"
              :list="cameraList"
              @chooseFn="inAndOutSelectCamera"
              v-if="false"
            /> -->
          </div>

          <div class="compare">
            <div
              class="compareItem"
              v-for="(item, index) in dataList.list"
              :key="index"
            >
              <div class="picitem">
                <img :src="picPreUrl + item.img2" alt="" class="pic" />
                <div class="time">{{ item.createTime }}</div>
                <div class="name" :title="item.address">{{ item.address.length>13?`${item.address.substring(0,13)}...`:item.address }}</div>
                <div class="name">{{ item.plate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-container" id="pagination-id">
          <el-pagination
            @current-change="handlePageChange"
            :background="false"
            layout="prev, pager, next,total"
            :total="dataList.totalCount"
            :page-size="params.limit"
          >
          </el-pagination>
        </div>
    </div>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from "vue";
import loopImg from "@/components/lifeTizheng/bayonet/loopImg.vue";
import mySelect from "@/components/selfTogether/mySelect.vue";

import { mapState } from "vuex";
export default {
  data() {
    return {
      xiaoquList: [],
      xiaoquName: "",
      currentCommunityId: "",
      currentCameraName: "",
      currentCameraID: null,
      juweiList: [],
      params: {
        communityId: this.currentCommunityId,
        // deviceId: this.currentCameraID,
        direction: null,
        page: 1,
        limit: 10,
        timeRangeType: 1,
      },
      xiaoqushow: false,
      cameraList: [],
      dataList: {},
      picPreUrl: "",
      inOuptList: [
        {
          value: "进口",
          label: "进口",
          btnsel:true
        },
        {
          value: "出口",
          label: "出口",
          btnsel:false
        },
      ],
      direction:'进口'
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      one: "",
      one_three: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.one = "1.65rem";
      font_32_9.one_three = "2.1rem";
      font_32_9.zero_seven_five = "1.4rem";
      font_32_9.three = "5rem";
      font_32_9.ninety = "120rem";
      font_32_9.body = "125rem";
      font_32_9.selectwidth = "10rem";
    } else {
      font_32_9.one = "1rem";
      font_32_9.one_three = "1.3rem";
      font_32_9.zero_seven_five = "0.75rem";
      font_32_9.three = "3rem";
      font_32_9.ninety = "50rem";
      font_32_9.body = "67rem";
      font_32_9.selectwidth = "7rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    showPop() {
      this.$store.commit("SET_CAR_INANDOUT_POP", true);
    },
    closePop() {
      this.$store.commit("SET_CAR_INANDOUT_POP", false);
    },
    handlePageChange(val) {
      this.params.page = val;
      this.carRecords();
    },
    inAndOutSelect(item) {
      this.inOuptList.map(element =>{
        element.btnsel = false
        if(item.value == element.value){
          element.btnsel =true
        }
      })
      this.direction = item.label;
      this.carRecords();
    },
    inAndOutSelectCamera(item) {
      this.currentCameraID = item.label;
      this.carRecords();
    },
    inAndOutSelectXiaoqu(item) { //小区下拉筛选框
      this.xiaoquList.map(element =>{
        element.btnsel = false
        if(item.value == element.value){
          element.btnsel =true
        }
      })
      console.log(this.xiaoquList)
      this.currentCommunityId = item.label;
      this.carRecords();
    },
    queryDistrictByParentId() {
      this.xiaoquList = [];
      this.$store.dispatch("queryDistrictByParentId").then((res) => {
        let arr = [];
        arr = res.data;
        arr.forEach((element) => {
          let obj = {};
          obj.label = element.districtId;
          obj.value = element.name;
          obj.btnsel = false;
          this.xiaoquList.push(obj);
        });
        this.xiaoquName = arr[0].name;
        this.xiaoquList[0].btnsel = true
        this.currentCommunityId = arr[0].districtId;
        this.xiaoqushow = true;
        this.carRecords();

        // this.carCamera();
      });
    },
    carCamera() {
      let par = {
        // districtId: this.currentCommunityId,
        districtId: localStorage.getItem("loginId"),
        direction:this.direction,
      };
      this.$store.dispatch("carCamera", par).then((res) => {
        let arr = [];
        res.data.forEach((item) => {
          let obj = {};
          obj.value = item.sensorName;
          obj.label = item.gbIndex;
          arr.push(obj);
        });
        this.cameraList = arr;
        console.log(res.data[0].sensorName);
        this.currentCameraName = res.data[0].sensorName;
        this.currentCameraID = res.data[0].gbIndex;
        this.carRecords();
      });
    },
    carRecords() {
      this.params.communityId = this.currentCommunityId;
      // this.params.communityId = localStorage.getItem("loginId");
      // this.params.deviceId = this.currentCameraID;
      this.params.night = this.carParams.night
      this.params.direction = this.direction
      this.params.timeRangeType = this.inoutParams.timeRangeType;
      this.$store.dispatch("carRecords", this.params).then((res) => {
        this.dataList = res.data;
      });
    },
        eventselectfnshequ(val) {
      console.log(val);
      var arr = [];
      for (var i of this.juwei) {
        if (i !== null) {
          if (i.parentId == val.label) {
            arr.push({ label: i.id, value: i.name });
          }
        }
      }
      let temp = {
        label: null,
        value: "全部居委",
      };
      arr.push(temp);
      console.log(this.juwei);
      this.juweiList = arr;
      if (val.value == "全部社区") {
        this.juweiList = this.allJuwei;
      }
      this.currentCommunityId = val.label;
      // this.faceCamera();
      this.carRecords();
      
    },
    eventselectfnjuwei(val) {
      this.currentCommunityId = val.label;
      // this.faceCamera();
      this.carRecords();
      
    },
  },
  created(){
  //   console.log(this.carParams);
  //   if(this.carParams.direction == "进口"){
  //    this.inOuptList[0].btnsel == true
  //    this.inOuptList[1].btnsel == false
  //    console.log(this.inOuptList)
  //  }else{
  //    this.inOuptList[0].btnsel == false
  //    this.inOuptList[1].btnsel == true
  //    console.log(this.inOuptList)
  //  }
  },
  mounted() {
    this.inOuptList.map(element =>{
        element.btnsel = false
        if(this.carParams.direction == element.value){
          element.btnsel =true
        }
      })
  //   console.log(this.carParams);
  //   if(this.carParams.direction == "进口"){
  //    this.inOuptList[0].btnsel == true
  //    this.inOuptList[1].btnsel == false
  //    console.log(this.inOuptList)

  //  }else{
  //    this.inOuptList[0].btnsel == false
  //    this.inOuptList[1].btnsel == true
  //    console.log(this.inOuptList)

  //  }
    this.queryDistrictByParentId();
    this.picPreUrl = localStorage.getItem("picUrl");
  },
  components: {
    loopImg,
    mySelect,
  },
  computed: {
    ...mapState({
      inoutParams: (state) => state.lifeTizheng.inoutParams,
      carParams: (state) => state.lifeTizheng.carParams,
      level: (state) => state.lifeTizheng.level,
      shequ: (state) => state.lifeTizheng.shequNames,
      juwei: (state) => state.lifeTizheng.juweiNames,
    }),
  },
};
</script>

<style lang="less" scoped>
.container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .pop-box {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    // padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: v-bind("font_32_9.ninety");
    min-height: 85%;
    max-height: 90%;
    align-items: center;
    flex-flow: column;
    // background:#062240;
    background-image: url("~@/assets/shengmingtizheng/healthypop-bg.png");
    background-size: 100% 100%;
    color: #ffffff;
    font-size: v-bind("font_32_9.zero_seven_five");
    box-sizing: border-box;
    .close-icon {
      width: 4.3rem;
      height: 3rem;
      position: absolute;
      right: 0;
      // top: 0.5rem;
      cursor: pointer;
    }
    .headerbox {
      height: v-bind("font_32_9.three");
      width: 100%;
      // background: red;
      display: flex;
      flex-direction: row;
      align-items: center;
      .titleLeft {
        height: 100%;
        width: 40%;
        background-image: url("~@/assets/shengmingtizheng/bg-biaoti.png");
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .title {
        font-size: v-bind("font_32_9.one_three");
        color: white;
        margin-left: v-bind("font_32_9.one");
      }
      .count {
        color: red;
        font-size: v-bind("font_32_9.one_three");
        margin-left: v-bind("font_32_9.one");
        text-align: center;
      }
    }

    .body {
      width: 100%;
      flex: 1;
      height: v-bind("font_32_9.body");
      // background-color: aquamarine;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0% 1.2%;
      background-size: 100% 100%;
      .rightBody {
        height: 97%;
        width: 99%;
        display: flex;
        flex-direction: column;
        border: 1px solid #01b1f1;
        
        padding: 1% 1.2% 2.5%;
        margin-top: 10px;
        box-sizing: border-box;
        // overflow-y: scroll;
        .title {
          height: v-bind("font_32_9.three");
          width: 100%;
          color: white;
          display: flex;
          align-items: center;
          // background-color: yellow;
          margin-left: 2rem;
          font-size: v-bind("font_32_9.one");
        }
        .selectBox {
          width: 100%;
          height: v-bind("font_32_9.three");
          background-color: #215087;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          box-sizing: border-box;
          padding-right: 1rem;
          .highEventSelect {
            width: v-bind("font_32_9.selectwidth");
            height: 80%;
            border-radius: 3px;
          }
          .btnunsel {
            width: v-bind("font_32_9.selectwidth");
            height: 80%;
            border-radius: 3px;
            background-color: #02487fff;
            color: #999999;
            font-size: v-bind("font_32_9.one");
            border: 0.6px solid #999;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
          }
          .btnsl{
            width: v-bind("font_32_9.selectwidth");
            height: 80%;
            border-radius: 3px;
            background-color: #02487fff;
            color: #01dff4;
            font-size: v-bind("font_32_9.one");
            border: 0.6px solid #01dff4;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
          }
        }
        .compare {
          display: grid;
          flex: 1;
          grid-template-columns: repeat(4, 24%);
          grid-template-rows: repeat(3, 33%);
          grid-gap: 10px;
          margin-top: 10px;
          box-sizing: border-box;
          .compareItem {
            background-color: #00355d;
            // background-color: red;
            display: flex;
            flex-direction: row;
            position: relative;
            // height: 10rem;
            .picitem {
              height: 12.5rem;
              width: 100%;
              //   background-color: #01B1F1;
              display: flex;
              flex-direction: column;
              .pic {
                height: 8rem;
                width: auto;
                background-size: 80% 100%;
              }
              .time,.name {
                padding-left: .5rem;
                text-align: left;
                height: 1.5rem;
                width: auto;
                line-height: 1.5rem;
              }
            }
            .percent {
              position: absolute;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .num {
                height: v-bind("font_32_9.three");
                width: v-bind("font_32_9.three");
                border-radius: 50%;
                background-color: #ff0000;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    .pagination-container {
      height: v-bind("font_32_9.three");
      width: 100%;
      // display:flex ;
      // align-items: center;
      // justify-content: center;
      // position: absolute;
      bottom: 0;
      /deep/ .el-pagination .el-pager .number {
        background-color: transparent;
        color: #ffffff;
        font-weight: bold;
        font-size: v-bind("font_32_9.one");
      }
      /deep/ .el-pagination .el-pager .active {
        background-color: transparent;
        color: #a5ffff;
        font-weight: bold;
        font-size: v-bind("font_32_9.one");
      }
      /deep/ .el-pagination button {
        background-color: transparent;
      }
      /deep/ .el-pagination .el-pager .more {
        background-color: transparent;
      }
    }
  }
}
</style>
