<template>
  <div class="epidemic">
    <div class="epidemic_item" @click="getYiqingbukong(1)">
      <div class="title">
        <div class="title_t">已接种</div>
        <div class="title_n">
          <span class="title_shadow"
            >{{ getEpidemicCountS.inoculationCount }}/</span
          >
          <span>{{
            getEpidemicCountS.inoculationCount +
            getEpidemicCountS.unInoculationCount
          }}</span>
        </div>
      </div>
      <div class="bar">
        <div
          class="bar_inner"
          :style="`width:${(
            (getEpidemicCountS.inoculationCount /
              (getEpidemicCountS.inoculationCount +
                getEpidemicCountS.unInoculationCount)) *
            100
          ).toFixed(2)}%`"
        >
          <div class="bar_inner_d"></div>
        </div>
      </div>
    </div>
    <div class="epidemic_item" @click="getYiqingbukong(0)">
      <div class="title">
        <div class="title_t">未接种</div>
        <div class="title_n">
          <span class="title_shadow"
            >{{ getEpidemicCountS.unInoculationCount }}/</span
          >
          <span>{{
            getEpidemicCountS.inoculationCount +
            getEpidemicCountS.unInoculationCount
          }}</span>
        </div>
      </div>
      <div class="bar">
        <div
          class="bar_inner"
          :style="`width:${(
            (getEpidemicCountS.unInoculationCount /
              (getEpidemicCountS.inoculationCount +
                getEpidemicCountS.unInoculationCount)) *
            100
          ).toFixed(2)}%`"
        >
          <div class="bar_inner_d"></div>
        </div>
      </div>
    </div>
    <div class="epidemic_item">
      <div class="title">
        <div class="title_t">随申码异常</div>
        <div class="title_n">
          <span class="title_shadow">{{ getEpidemicCountS.codeCount }}/</span>
          <span>{{
            getEpidemicCountS.inoculationCount +
            getEpidemicCountS.unInoculationCount
          }}</span>
        </div>
      </div>
      <div class="bar">
        <div
          class="bar_inner"
          :style="`width:${(
            (getEpidemicCountS.codeCount /
              (getEpidemicCountS.inoculationCount +
                getEpidemicCountS.unInoculationCount)) *
            100
          ).toFixed(2)}%`"
        >
          <div class="bar_inner_d"></div>
        </div>
      </div>
    </div>
    <div class="epidemic_item">
      <div class="title">
        <div class="title_t">温度异常</div>
        <div class="title_n">
          <span class="title_shadow"
            >{{ getEpidemicCountS.temperatureCount }}/</span
          >
          <span>{{
            getEpidemicCountS.inoculationCount +
            getEpidemicCountS.unInoculationCount
          }}</span>
        </div>
      </div>
      <div class="bar">
        <div
          class="bar_inner"
          :style="`width:${(
            (getEpidemicCountS.temperatureCount /
              (getEpidemicCountS.inoculationCount +
                getEpidemicCountS.unInoculationCount)) *
            100
          ).toFixed(2)}%`"
        >
          <div class="bar_inner_d"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {
      data: "55%",
      epidemicData: {},
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      title_t: "",
      title_n: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.title_t = "1.3rem";
      font_32_9.title_n = "1.3rem";
    } else {
      font_32_9.title_t = "1rem";
      font_32_9.title_n = "1rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    getEpidemicData(val) {
      this.epidemicData = val;
      console.log(this.epidemicData);
    },
    ...mapMutations([]),
    getYiqingbukong(data) {
      this.$store.commit("CHANGE_TYPE", {
        name: "isVaccine",
        value: data,
        sheQuId: this.epidemicData.sheQuId,
        parentDistrictId: this.epidemicData.parentDistrictId,
      });
      this.$store.commit("CHANGE_YIQINGBUKONG_VISIBLE", true);
    },
  },

  created() {},
  mounted() {
    // setTimeout(() => {
    this.$store.dispatch("getEpidemicCount", {});
    // }, 500);
  },
  watch: {},
  computed: {
    ...mapState({
      getEpidemicCountS: (state) => state.lifeTizheng.getEpidemicCountS,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.epidemic {
  width: 100%;
  height: 100%;
  .epidemic_item {
    cursor: pointer;
    height: 3.2rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    .title {
      color: #ced2d8;
      display: flex;
      .title_t {
        flex: 1;
        text-align: left;
        font-size: v-bind("font_32_9.title_t");
      }
      .title_n {
        flex: 1;
        text-align: right;
        font-size: v-bind("font_32_9.title_n");
        .title_shadow {
          text-shadow: 1px 1px 5px #ced2d8;
          font-weight: 800;
        }
      }
    }
    .bar {
      border: 1px solid #6d85cb;
      height: 1.8rem;
      padding: 4px 5px;
      box-sizing: border-box;
      .bar_inner {
        height: 100%;
        background: -webkit-gradient(
          linear,
          0 0,
          100% 0,
          from(#011754),
          to(#13e8fb)
        );
        .bar_inner_d {
          width: 100%;
          height: 100%;
          background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/%E6%A0%BC%E6%8C%A1%E7%BA%BF.png");
        }
      }
    }
  }
}
</style>
