<template>
  <div class="eventType">
    <div class="event_item" v-for="(item,index) in getEventCountList" :key="index" @click="itemClick(item)">
      <div class="number">
        <span class="big_score">{{item.eventsCount}}</span>
        <span>件</span>
      </div>
      <div class="title">{{item.eventsName}}</div>
    </div>
    <!-- <div class="event_item">
      <div class="number">
        <span class="big_score">98</span>
        <span>件</span>
      </div>
      <div class="title">12345热点</div>
    </div>
    <div class="event_item">
      <div class="number">
        <span class="big_score">34</span>
        <span>件</span>
      </div>
      <div class="title">智能告警</div>
    </div>
    <div class="event_item">
      <div class="number">
        <span class="big_score">12</span>
        <span>件</span>
      </div>
      <div class="title">自治共治</div>
    </div> -->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {};
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      big_score: "",
      title_select: "",
      bgSize:'90%'
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.big_score = "3rem";
      font_32_9.title_select = "1.2rem";
      font_32_9.bgSize = '70%'
    } else {
      font_32_9.big_score = "2rem";
      font_32_9.title_select = "0.9rem";
       font_32_9.bgSize = '90%'
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: { 
    itemClick(item){
      
      this.$store.commit('CHANGE_CURRENT_TYPE',item.eventsType)
      let params ={
        timeRangeType:this.eventTypeparams.timeRangeType,  // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page:1,
        limit:5,
        source:item.eventsType
      }
      this.$store.dispatch("getEventMarkerList",params);
      // this.$store.commit("SET_HIGHEVENT_POP",true);
      this.$store.commit("SET_HIGH_EVENT_POP_TITLE",item.eventsName);
    },
    ...mapMutations([]) },

  created() {},
  mounted() {
    this.$store.dispatch("getEventCount", this.eventTypeparams);
  },
  watch: {},
  computed: {
    ...mapState({
      getEventCountList: (state) =>
        state.lifeTizheng.getEventCountList,
      eventTypeparams: (state) =>
        state.lifeTizheng.eventTypeparams,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.eventType {
  width: 100%;
  height: 19rem;
  .event_item {
    width: 33.33%;
    height: 9.5rem;
    background: chocolate;
    float: left;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/lingxing.png")
      no-repeat;
    background-size: v-bind('font_32_9.bgSize') 100%;
    background-position: center;
    position: relative;
    .number {
      color: #12eefd;
      // position: absolute;
      // top: 50%;
      // left:50%;
      // margin-top: -1rem;
      // margin-left: -1rem;
      line-height: 9.5rem;
      .big_score {
        font-size: v-bind("font_32_9.big_score");
      }
    }
    .title {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 1.3rem;
      color: #c8e7ff;
      font-size: v-bind("font_32_9.title_select");
    }
  }
  .event_item:nth-child(1) {
    margin-left: 16.6%;
  }
  .event_item:nth-child(3) {
    margin-left: 33.33%;
    margin-top: -15px;
  }
  .event_item:nth-child(1),
  .event_item:nth-child(2) {
    margin-top: 1rem;
  }
}
</style>
