<template>
  <div class="fireHouseDialog">
    <div class="fireHouse">
      <div class="dialog-head">
        <div class="head-one">微型消防站</div>
        <div class="head-two-close" @click="closeDialog()">
          <div class="closeIcon">×</div>
        </div>
      </div>
      <div class="tableHeader">
        <div class="tableHeaderItem" style="flex: 0.7">序号</div>
        <div class="tableHeaderItem" style="flex: 1.5">地址</div>
        <div class="tableHeaderItem">物资明细</div>
        <div class="tableHeaderItem">物资数量</div>
       
      </div>
      <div class="tableBody">
        <div
          class="tableList"
          v-for="(item, index) in eventList.list"
          :key="index"
          @click="itemClick(item)"
        >
          <div class="tableListItem" style="flex: 0.7">1</div>
          <div class="tableListItem" style="flex: 0.7">{{ item.name }}</div>
          <div class="tableListItem">{{ item.acceptTime }}</div>
          <div class="tableListItem">{{ item.endTime }}</div>
  
        </div>
      </div>
      <div class="pagination-container" id="pagination-id">
        <el-pagination
          @current-change="handlePageChange"
          :background="false"
          layout="prev, pager, next,total"
          :total="eventList.totalCount"
          :page-size="params.limit"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      eventList: {
        totalCount: 10,
        list: [
          {
            name: "",
            acceptTime: "",
            endTime: "",
            handleTime: "",
            address: "",
            handleUserName: "",
            status: "",
          },
        ],
      },
      params: {
        limit: 10,
      },
    };
  },
  setup() {
    // const { proxy } = getCurrentInstance();
    // let font_32_9 = reactive({
    //   one: "",
    //   three: "",
    // });
    // if (proxy.$root.$route.query.v == "1") {
    //   font_32_9.one = "1.65rem";
    //   font_32_9.three = "5rem";
    // } else {
    //   font_32_9.one = "1rem";
    //   font_32_9.three = "3rem";
    // }
    // return {
    //   font_32_9,
    // };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closeDialog() {
        this.$store.commit('CHANGE_FIRE_HOUSELISTVISIBLE',false)
    },
    handlePageChange() {},
    itemClick() {},
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
        
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.fireHouseDialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .fireHouse {
    width: 60rem;
    height: 35rem;
    background: rgba(3, 45, 78, 0.5);
    .dialog-head {
      width: 100%;
      height: 4.5%;
      position: relative;
      font-size: 1.5rem;
      .head-one {
        width: 50%;
        height: 2.5rem;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: 100% 100%;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        box-sizing: border-box;
      }
      .head-two-close {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        // background-size: @wenallbackgroundsize;
        width: 3rem;
        height: 4rem;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        .closeIcon {
          font-size: 0.6rem;
          color: white;
          text-align: center;
          line-height: 1rem;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: black;
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
        }
      }
    }
  }
}
.tableHeader {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-top:1rem;
  padding: 0% 2%;
  // background-color: yellowgreen;
  .tableHeaderItem {
    flex: 1;
    height: 100%;
    color: #00efff;
    font-size: 1rem;
    // background-color: violet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .tableHeaderItem:last-child {
    flex: 1.5;
  }
}
.tableBody {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0% 2%;
  // background-color: yellowgreen;
  .tableList {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    .tableListItem {
      flex: 1;
      height: 100%;
      color: #cee1de;
      font-size: 1rem;
      // background-color: violet;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .tableListItem:last-child {
      flex: 1.5;
    }
    .img {
      height: 70%;
      width: 90%;
      background-size: 100% 100%;
    }
  }
  .tableList:nth-child(2n + 1) {
    background-color: rgba(48, 255, 231, 0.12);
  }
}
.pagination-container {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /deep/ .el-pagination .el-pager .number {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
  }
  /deep/ .el-pagination .el-pager .active {
    background-color: transparent;
    color: #a5ffff;
    font-weight: bold;
    font-size: 1rem;
  }
  /deep/ .el-pagination button {
    background-color: transparent;
  }
  /deep/ .el-pagination .el-pager .more {
    background-color: transparent;
  }
}
</style>
