<template>
  <div class="healthy">
    <div
      :class="
        huizong(healthStatusList) < 60
          ? ['score', 'red_img']
          : huizong(healthStatusList) > 80
          ? ['score', 'blue_img']
          : ['score', 'yellow_img']
      "
      @click="openSearchDialog()"
    >
    <!-- <div
      :class="
        80 < 60
          ? ['score', 'red_img']
          : 80 >= 80
          ? ['score', 'blue_img']
          : ['score', 'yellow_img']
      "
      @click="openSearchDialog()"
    > -->
      <div class="score_txt">
        <span class="big_score">{{huizong(healthStatusList)}}</span>
        <span>分</span>
      </div>
    </div>
    <div class="category">
      <div
        class="category_item"
        v-for="(item, index) in healthStatusList"
        :key="index"
        @click="healthclick(item)"
      >
        {{ item.name }}
        <span
          style="color:#01f19d"
        >
          {{
            getScore(item.score)
            
          }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { getCurrentInstance, reactive, ref } from "vue";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      params: {
        timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 0,
        limit: 6,
        // handleTimeOutFlag:true, //处置超时查询条件
      },
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      bg_img_inner: "",
      status_text: "",
      bg_size: "",
    });

    if (proxy.$root.$route.query.v == "1") {
      font_32_9.bg_img_inner = "3rem";
      font_32_9.status_text = "1.3rem";
      font_32_9.bg_size = "auto 100%";
    } else {
      font_32_9.bg_img_inner = "2rem";
      font_32_9.status_text = "1rem";
      font_32_9.bg_size = "100%";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    getScore(item){
      let temp = String(item).indexOf("-") != -1
              ? 10 + item
              : item
      return "+"+temp
    },
    onCaseHandleOvertimeClick(item) {
      let params = {
        timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 1,
        limit: 6,
        handleTimeOutFlag: true,
      };
      this.$store.commit("SET_CASEHANDLEOVERTIME_POP", true);
      this.$store.commit("SET_HEALTHY_POP_COUNT", this.getScore(item.score));
      this.$store.dispatch("getEventList", params);
    },
    onResidentComplainClick(item) {
      this.$store.commit("SET_RESIDENTCOMPLAIN_POP", true);
      this.$store.commit("SET_HEALTHY_POP_COUNT", this.getScore(item.score));
    },
    onNoHandleCaseClick(item) {
      this.$store.commit("SET_NOHANDLECASE_POP", true);
      this.$store.commit("SET_HEALTHY_POP_COUNT", this.getScore(item.score));

      let params = {
        timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 1,
        limit: 6,
        eventStatus: 0,
      };
      this.$store.dispatch("getEventList", params);
    },
    onNoEpidemicClick(item) {
      this.$store.commit("SET_NOEPIDEMIC_POP", true);
      this.$store.commit("SET_HEALTHY_POP_COUNT", this.getScore(item.score));
    },
    onResidentManageClick(item) {
      this.$store.commit("SET_RESIDENTMANAGE_POP", true);
      if(item)
      this.$store.commit("SET_HEALTHY_POP_COUNT", this.getScore(item.score));
      let params = {
        timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 1,
        limit: 6,
      };
      this.$store.dispatch("getEventList", params);
    },
    onCaseHandleEfficiencyClick(item) {
      let params = {
        timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 1,
        limit: 6,
      };
      this.$store.commit("SET_CASEHANDLEEFFICIENCY_POP", true);
      this.$store.dispatch("getEventList", params);
    },
    healthclick(item) {
      switch (item.type) {
        case "timeOut":
          this.onCaseHandleOvertimeClick(item);
          break;
        case "pending":
          this.onNoHandleCaseClick(item);
          break;
        case "epidemic":
          this.onNoEpidemicClick(item);
          break;
        case "control":
          this.onResidentManageClick(item);
          break;
        case "efficient":
          this.onCaseHandleEfficiencyClick(item);
          break;
      }
    },
    huizong(data) {
      let temp = 100;
      data.forEach((item) => {
        if (Number(item.score) < 0) {
          temp += Number(item.score);
        }
      });
      return temp;
    },
    ...mapMutations([]),
  },

  created() {},
  mounted() {
    // setTimeout(() => {
    this.$store.dispatch("healthStatus", this.healthyParams);
    // }, 500);
  },
  watch: {},
  computed: {
    ...mapState({
      healthStatusList: (state) => state.lifeTizheng.healthStatusList,
      healthyParams: (state) => state.lifeTizheng.healthyParams,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.healthy {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;

  .score {
    display: flex;
    justify-content: center;
    align-items: center;
    .score_txt {
      width: 6rem;
      height: 6rem;
      color: #13ddeb;
      line-height: 6rem;
      letter-spacing: 2px;
      text-align: center;
      .big_score {
        font-size: v-bind("font_32_9.bg_img_inner");
      }
    }
  }
  .blue_img {
    background: url("~@/assets/shengmingtizheng/blue.png") no-repeat;
    background-size: v-bind("font_32_9.bg_size");
    background-position: center;
  }
  .yellow_img {
    background: url("~@/assets/shengmingtizheng/yellow.png") no-repeat;
    background-size: v-bind("font_32_9.bg_size");
    background-position: center;
  }
  .red_img {
    background: url("~@/assets/shengmingtizheng/red.png") no-repeat;
    background-size: v-bind("font_32_9.bg_size");
    background-position: center;
  }

  .category {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    box-sizing: border-box;
    .category_item {
      flex: 1;
      padding-left: 1.5rem;
      box-sizing: border-box;
      color: #2fdbe7;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // cursor: pointer;
      font-size: v-bind("font_32_9.status_text");
    }
  }
}
</style>
