<template>
  <div class="highEvent">
    <div class="event_item" v-for="(item,index) in getheighEventCountList" :key="index" @click="itemClick(item)" @dblclick="itemDoubleClick(item)">
      <div class="number">
        <span class="big_score">{{item.eventsCount}}</span>
        <span>件</span>
      </div>
      <div class="title">{{item.eventsName}}</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive , getCurrentInstance} from 'vue';
export default {
  data() {
    return {};
  },
  setup(){
    const {proxy} = getCurrentInstance()
    
    let font_32_9 = reactive({
      big_score:'',
      title_select:'',
      bgSize:'90%'
    })
    if(proxy.$root.$route.query.v=='1'){
      font_32_9.big_score = '3rem'
      font_32_9.title_select = '1.2rem'
      font_32_9.bgSize = '70%'
    }else{
      font_32_9.big_score = '2rem'
      font_32_9.title_select = '0.9rem'
      font_32_9.bgSize = '90%'
    }
    return{
      font_32_9
    }
  },
  props: [],
  methods: {

    itemClick(item){
      console.log(item);
      // this.$store.commit('ADD_MARKER');
      this.$store.commit('CHANGE_CURRENT_TYPE',item.eventsType)
      let params ={
        timeRangeType:this.eventarams.timeRangeType,  // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page:1,
        limit:5,
        eventType:item.eventsType,
        source:'IOT'
      }
      this.$store.dispatch("getEventMarkerList",params);
      // this.$store.commit("SET_HIGHEVENT_POP",true);
      this.$store.commit("SET_HIGH_EVENT_POP_TITLE",item.eventsName);

    },
    itemDoubleClick(item){
      window.open("http://10.242.212.153:61619?token="+localStorage.getItem("token")+"&type="+item.eventsType+"&name="+item.eventsName+"&title="+localStorage.getItem("districtName"));
      // window.open("http://localhost:8082/?token="+localStorage.getItem("token")+"&type="+item.eventsType+"&name="+item.eventsName+"&title="+localStorage.getItem("districtName"))
      // this.$router.replace({path:"http://192.168.63.186:8081",query:{
      //   token:localStorage.getItem("token")
      // }})
    },
    
    ...mapMutations([]) },

  created() {},
  mounted() {
    // setTimeout(() => {
      this.$store.dispatch('getEventCount',this.eventarams)
    // }, 500);
    
  },
  watch: {},
  computed: {
    ...mapState({
      getheighEventCountList:state=>state.lifeTizheng.getheighEventCountList,
      eventarams:state=>state.lifeTizheng.eventarams
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.highEvent {
  width: 100%;
  height: 19rem;
  .event_item {
    cursor:pointer;
    width: 33.33%;
    height: 9.5rem;
    background: chocolate;
    float: left;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/lingxing.png")
      no-repeat;
    background-size: v-bind('font_32_9.bgSize') 100%;
    background-position: center;
    position: relative;
    
    .number {
      color: #12eefd;
      // position: absolute;
      // top: 50%;
      // left:50%;
      // margin-top: -1rem;
      // margin-left: -1rem;
      line-height: 9.5rem;
      .big_score {
        font-size: v-bind('font_32_9.big_score');
      }
    }
    .title {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 1.3rem;
      color: #c8e7ff;
      font-size: v-bind('font_32_9.title_select');
    }
  }
  .event_item:nth-child(4) {
    margin-left: 16.6%;
  }
  .event_item:nth-child(4),
  .event_item:nth-child(5) {
    margin-top: -15px;
  }
  .event_item:nth-child(1),
  .event_item:nth-child(2),
  .event_item:nth-child(3) {
    margin-top: 1rem;
  }
}
</style>
