<template>
  <div class="inOut">
    <div class="inOutPeople">
      <div class="title">行人</div>
      <div class="walkPeople">
        <div class="walkpeople_item">
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/jinchurenshu.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text" @click="inAndOutCount">
            <div class="number">
              <span>{{ getinoutCount.inPersonCount }}/</span>
              <span>{{ getinoutCount.outPersonCount }}</span>
            </div>
            <div class="walkPeople_title">进/出人数</div>
          </div>
        </div>
        <div
          class="walkpeople_item"
          style="cursor: pointer"
          @click="showxiaoquPeo('')"
        >
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/xiaoqurenshu.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text">
            <div class="number">
              <span>{{ getinoutCount.totalPerson }}</span>
            </div>
            <div class="walkPeople_title">居民人数</div>
          </div>
        </div>
        <div class="walkpeople_item" @click="showxiaoquPeo('老人')">
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/laorenrenshu.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text">
            <div class="number">
              <span>{{ getinoutCount.oldPerson }}</span>
            </div>
            <div class="walkPeople_title">老人人数</div>
          </div>
        </div>
        <div class="walkpeople_item" @click="importantOnClick">
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/zhongdianguanzhu.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text">
            <div class="number">
              <span>{{ getinoutCount.specialPopulation }}</span>
            </div>
            <div class="walkPeople_title">重点关注</div>
          </div>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="line_inner"></div>
    </div>
    <div class="inOutcar">
      <div class="title">车辆</div>
      <div class="walkPeople">
        <div class="walkpeople_item" @click="carInOut(1)">
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/carIn.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text">
            <div class="number">
              <span>{{ getinoutCount.inCarCount }}</span>
            </div>
            <div class="walkPeople_title">进入车辆</div>
          </div>
        </div>
        <div class="walkpeople_item" @click="carInOut(2)">
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/likaicheliang.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text">
            <div class="number">
              <span>{{ getinoutCount.outCarCount }}</span>
            </div>
            <div class="walkPeople_title">离开车辆</div>
          </div>
        </div>
        <div class="walkpeople_item" @click="carInOut(3)">
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/yejianchuxing.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text">
            <div class="number">
              <span>{{ getinoutCount.nightCarCount }}</span>
            </div>
            <div class="walkPeople_title">夜间出行</div>
          </div>
        </div>
        <div class="walkpeople_item" @click="carInOut(4)">
          <div class="walkPeople_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/shengyuchewei.png"
              alt=""
            />
          </div>
          <div class="walkPeople_text">
            <div class="number">
              <span>{{ getinoutCount.decoration }}</span>
            </div>
            <div class="walkPeople_title">装修管理</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {};
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      inout_title: "",
      walkpeo_number: "",
      walkPeople_title: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.walkpeo_number = "1.5rem";
      font_32_9.walkPeople_title = "1.2rem";
      font_32_9.inout_title = "1.5rem";
    } else {
      font_32_9.walkpeo_number = "1.2rem";
      font_32_9.walkPeople_title = "0.8";
      font_32_9.inout_title = "1rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    importantOnClick() {
      this.$store.commit("SET_BAYONET_POP", true);
    },
    showxiaoquPeo(data) {
      this.$store.commit("CHANGE_TYPENAME", data);
      this.$store.commit("CHANGE_XIAOQUPEO_VISIBLE", true);
    },
    inAndOutCount() {
      this.$store.commit("SET_INANDOUT_POP", true);
    },
    carInOut(val) {
      let par = {};
      switch (val) {
        case 1:
          par = {
            direction: "进口",
            night: null,
            title: "车辆进入统计",
          };
          this.$store.commit("SET_CAR_PARAMS", par);
          this.$store.commit("SET_CAR_INANDOUT_POP", true);
          break;
        case 2:
          par = {
            direction: "出口",
            night: null,
            title: "车辆离开统计",
          };
          this.$store.commit("SET_CAR_PARAMS", par);
          this.$store.commit("SET_CAR_INANDOUT_POP", true);
          break;
        case 3:
          par = {
            direction: null,
            night: 1,
            title: "夜间出行统计",
          };
          this.$store.commit("SET_CAR_PARAMS", par);
          this.$store.commit("SET_CAR_INANDOUT_POP", true);
          break;
        case 4:
          this.$store.commit("SET_RENOVATION", true);
          break;
      }
    },
    ...mapMutations([]),
  },

  created() {},
  mounted() {
    this.$store.dispatch("getInOutCount");
    this.$store.dispatch("getInOutCountDashboard");
  },
  watch: {},
  computed: {
    ...mapState({
      //   getinoutCount:state=>state.lifeTizheng.getinoutCount,
      getinoutCount: (state) => state.lifeTizheng.inoutCountdashboard,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.inOut {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(50% - 10px) 20px calc(50% - 10px);
  .line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .line_inner {
      width: 100%;
      height: 2px;
      // background: #27adbe;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #27adbe,
        rgba(0, 0, 0, 0)
      );
    }
  }
  .inOutPeople,
  .inOutcar {
    .title {
      height: 1.5rem;
      width: 5rem;
      background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/xiangyou.png")
        no-repeat;
      background-position: left;
      color: #bce4f8;
      text-shadow: 1px 1px 8px #bce4f8;
      font-weight: 888;
      font-size: v-bind("font_32_9.inout_title");
    }
    .walkPeople {
      width: 100%;
      height: calc(100% - 1.5rem);

      padding: 5px;
      box-sizing: border-box;
      display: flex;
      .walkpeople_item {
        flex: 1;
        display: grid;
        grid-template-columns: 5rem auto;
        grid-template-rows: 100%;
        .walkPeople_icon {
          // background: burlywood;
          img {
            height: 100%;
          }
        }
        .walkPeople_text {
          padding-left: 5px;
          box-sizing: border-box;
          // background: cadetblue;
          .number {
            text-align: left;
            height: 2.5rem;
            line-height: 3rem;
            color: #2ffafc;
            font-size: v-bind("font_32_9.walkpeo_number");
            font-weight: 400;
          }
          .walkPeople_title {
            text-align: left;
            color: #b9c2c3;
            font-size: v-bind("font_32_9.walkPeople_title");
          }
        }
      }
    }
  }
  .inOutcar {
    .title {
      height: 1.5rem;
      width: 5rem;
      background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/xiangyou.png")
        no-repeat;
      background-position: left;
      color: #bce4f8;
      text-shadow: 1px 1px 8px #bce4f8;
      font-weight: 888;
      font-size: v-bind("font_32_9.inout_title");
    }
    .car {
      width: 100%;
      height: calc(100% - 1.5rem);
      background: orange;
      padding: 5px;
      box-sizing: border-box;
    }
  }
}
</style>
