<template>
  <div class="peopleHouse">
    <div class="people">
      <div class="title">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/ren_30_30%402x.png"
          alt=""
        />
        <span>人</span>
      </div>
      <div class="tabs">
        <div class="tab_item">
          <div class="tab_name">实有人口</div>
          <div class="tab_number">{{ getinoutCount.actualNum }}</div>
        </div>
        <div class="tab_item">
          <div class="tab_name">户籍人口</div>
          <div class="tab_number">{{ getinoutCount.registerNum }}</div>
        </div>
        <div class="tab_item">
          <div class="tab_name">党员</div>
          <div class="tab_number">{{ getinoutCount.partyNum }}</div>
        </div>
        <div class="tab_item">
          <div class="tab_name">重点关注</div>
          <div class="tab_number">{{ getinoutCount.attentionSCount }}</div>
        </div>
      </div>
    </div>
    <div class="House">
      <div class="title">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/fang_30_30%402x.png"
          alt=""
        />
        <span>房</span>
      </div>
      <div class="tabs">
        <div class="tab_item">
          <div class="tab_name">房屋总量</div>
          <div class="tab_number">{{ getinoutCount.totalHousing }}</div>
        </div>
        <div class="tab_item">
          <div class="tab_name">自住房屋</div>
          <div class="tab_number">{{ getinoutCount.independentHousing }}</div>
        </div>
        <div class="tab_item">
          <div class="tab_name">出租房屋</div>
          <div class="tab_number">{{ getinoutCount.rentalHousing }}</div>
        </div>
        <div class="tab_item">
          <div class="tab_name">空关房屋</div>
          <div class="tab_number">{{ getinoutCount.emptyHouse }}</div>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="title">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/fang_30_30%402x%20%281%29.png"
          alt=""
        />
        <span>地</span>
      </div>
      <div class="tabs">
        <div class="tab_item" style="cursor: pointer" @click="getfirehouse">
          <div class="tab_name">微型消防站</div>
          <div class="tab_number">{{ getinoutCount.miniFireStation }}</div>
        </div>
        <div class="tab_item">
          <div class="tab_name">在建工地</div>
          <div class="tab_number">{{ getinoutCount.workSiteLine }}</div>
        </div>
        <div class="tab_item"  style="cursor: pointer" @click="getwarehouse">
          <div class="tab_name">仓库数量</div>
          <div class="tab_number">{{ getinoutCount.warehouseCount }}</div>
        </div>
        <div class="tab_item" style="cursor: pointer" @click="getElevator">
          <div class="tab_name">电梯数量</div>
          <div class="tab_number">{{ getinoutCount.elevator }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {};
  },
  setup() {
    const { proxy } = getCurrentInstance();

    let font_32_9 = reactive({
      peoplehouse_title: "",
      tab_name: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.tab_name = "1.3rem";
      font_32_9.peoplehouse_title = "1.5rem";
    } else {
      font_32_9.tab_name = "1rem";
      font_32_9.peoplehouse_title = "1.2rem";
    }
    return {
      font_32_9,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getfirehouse() {
      this.$store.dispatch("getFireHouse", {
        page: 1,
        limit: 1000,
        name: "",
        deviceName: "",
      });
    },
    getwarehouse() {
      this.$store.dispatch("getWarehouseList", {
        page: 1,
        limit: 10000,
        name: "",
        deviceName: "",
      });
    },
    getElevator() {
      this.$store.dispatch("getElevator", {
        page: 1,
        limit: 1000,
        name: "",
      });
    },
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      getinoutCount: (state) => state.lifeTizheng.getinoutCount,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.peopleHouse {
  width: 100%;
  height: 100%;
  // background: burlywood;
  display: flex;
  .House,
  .people,
  .location {
    padding: 5px 1rem;
    box-sizing: border-box;
    .title {
      height: 2rem;
      width: 100%;
      // background: burlywood;
      text-align: left;
      display: flex;
      align-items: center;
      img {
        height: 100%;
      }
      span {
        padding-left: 0.5rem;
        font-size: v-bind("font_32_9.peoplehouse_title");
        color: #48f6fb;
        font-weight: 500;
      }
    }
    .tabs {
      width: 100%;
      height: calc(100% - 2rem);
      display: flex;
      flex-direction: column;
      .tab_item {
        flex: 1;
        margin: 5px 0;
        box-sizing: border-box;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-renfangxinxi%402x.png")
          no-repeat;
        background-size: 100% 100%;
        display: flex;
        .tab_name {
          flex: 1;
          text-align: left;
          display: flex;
          align-items: center;
          padding-left: 10px;
          box-sizing: border-box;
          color: #41e4ee;
          font-size: v-bind("font_32_9.tab_name");
        }
        .tab_number {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #d2cb33;
          font-size: v-bind("font_32_9.tab_name");
        }
      }
    }
  }
  .people {
    flex: 1;
  }
  .House {
    flex: 1;
  }
  .location {
    flex: 1;
  }
}
</style>
