<template>
  <div class="thingJsMap">
    <div class="thingmap" v-if="showLoading">
      <div class="inner">
        <img :src="require('@/assets/shengmingtizheng/loading.gif')" alt />
      </div>
    </div>
    <iframe
      id="thingmap"
      src="https://www.thingjs.com/s/2bc0cb3c7f7187048b802134?params=105b0f77fd24654d4eebc434e9"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {
      showLoading: true,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getSingleInfo(data, type) {
      if (type == "event") {
        if (this.currentType == "CITY_SERVICE") {
          localStorage.setItem("wenTaskId", data);
          this.$store.commit("HOTLINE_DIALOG", true);
        } else {
          localStorage.setItem("wenTaskId", data);
          this.$store.commit("DETAIL_DIALOG", true);
        }
        // this.$store.commit("DETAIL_DIALOG", true);
        // localStorage.setItem("wenTaskId", data);
      } else if (type == "task") {
        this.$store.commit("SET_TASKHANDLEDETAIL_POP", true);
        this.$store.dispatch("getTaskDetail", { id: data });
      } else {
      }
      // this.$store.commit("DETAIL_DIALOG", true);
    },
    hideLoading(boolean) {
      this.showLoading = boolean;
    },
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      bg_size: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.bg_size = "25%";
    } else {
      font_32_9.bg_size = "50%";
    }
    return {
      font_32_9,
    };
  },
  created() { },
  mounted() {
    let that = this;
    window.addEventListener("message", function (e) {
      // console.log(e);
      switch (e.data.funcName) {
        // 模型加载
        case "showBuilding":
          that.$store.dispatch('getJMLatLng', { districtId: e.data.param })
          break;
        // 模型加载
        case "callData":

          if (e.data.type == 4) {
            // 生命体征-疫情布控-社区
            that.$store.dispatch("getEpidemicCount", { sheQuId: e.data.param });
            //生命体征-高频事件-社区
            that.$store.commit("CHANGE_EVENT_DISTRICT_SHEQU_PARAMS", e.data.param);
            that.$store.dispatch("getEventCount", that.eventarams);
            that.$store.dispatch("getEventCount", that.eventTypeparams);
          } else {
            // 生命体征-疫情布控-居委
            that.$store.dispatch("getEpidemicCount", { parentDistrictId: e.data.param });
            //生命体征-高频事件-居委
            that.$store.commit("CHANGE_EVENT_DISTRICT_JUWEI_PARAMS", e.data.param);
            that.$store.dispatch("getEventCount", that.eventarams);
            that.$store.dispatch("getEventCount", that.eventTypeparams);
          }
          break;
        // 展示详情
        case "getSingleInfo":
          that.getSingleInfo(e.data.param, e.data.type);
          break;
        // 地图加载完成之后回调
        case "hideLoading":
          // console.log(e.data.param);
          that.hideLoading(e.data.param);
          let parentDistrictId = localStorage.getItem('bigparentDistrictId')
          that.$store.dispatch('getLatLng', { districtId: parentDistrictId })
          break;
        // 展示滚动列表
        case "showSwiperList":
          that.$store.commit("SET_SHOWSWIPER", false);
          setTimeout(() => {
            // console.log("showSwiperList");
            // console.log(e.data.param);
            that.$store.commit("SET_HIGHEVENT_POP", true);
            that.$store.commit("SET_SHOWSWIPER", true);
            // let data = {
            //   records:e.data.param,
            //   total:e.data.param.length
            // }
            // that.$store.commit("SET_TASKHANDLEDETAIL_POP", true);
            that.$store.commit("SET_EVENT_LIST", e.data.param);
          }, 1000);

          break;
        // 展示消防列表
        case "showFireHouseList":
          // console.log(e.data.param);
          // this.$store.commit('GET_FIRE_HOUSELIST',e.data.param.data)
          this.$store.commit("CHANGE_FIRE_HOUSELISTVISIBLE", true);
          break;
        // 电梯列表
        case "showelevatorList":
          // console.log(e.data.param);
          this.$store.commit("GET_ELEVATORLIST", e.data.param);
          this.$store.commit("CHANGE_ELEVATORLISTVISIBLE", true);
          break;
        // 房屋详情
        case "showHouseInfo":
          console.log(e.data.param);
          that.$store.dispatch("getBuilding", { code: e.data.param });
          that.$store.commit("CHANGE_HOUSEINFOVISIBLE", true);
          break;
        // 展示相机
        case "showcameraVideo":
          // console.log(e);
          let arr = [
            {
              protocol: "hls", //视频格式
              streamType: 0,
              // cameraCode: e.data.param.dahuId, //相机id
              cameraCode: e.data.param.cameraCode, //相机id
            },
          ];
          console.log(e.data.param)
          that.$store.commit("CAMERA_DAHUA", [e.data.param.dahuId])
          // that.$store.dispatch("camerabzPreviewURL", arr);
          that.$store.commit("CHANGE_SINGLEVISIBLE", true);


          break;
        // 展示电梯视频
        case "showdiantiVideo":
          console.log("======================");;
          console.log(e.data.param);
          if (e.data.param.monitorurl) {
            that.$store.commit("GET_DIANTICAMERAMARKER_INFO", e.data.param)
            that.$store.commit("CHANGE_SINGLEDIANTIVISIBLE", true);
          } else {
            that.$message({
              type: "warning",
              message: "暂无播放流"
            })
          }

          console.log("======================");
          // that.$store.commit("CHANGE_SINGLEVISIBLE", true);
          break;
        case "showwarehouseInfo":
          that.$store.commit("SET_WAREHOUSE_ID",e.data.param.id)
          that.$store.commit("EDIT_WAREHOUSE_DIALOG",true)
          break;

        default:
          break;
      }
    });
  },
  watch: {},
  computed: {
    ...mapState({
      currentType: (state) => state.lifeTizheng.currentType,
      eventarams: (state) => state.lifeTizheng.eventarams,
      eventTypeparams: (state) => state.lifeTizheng.eventTypeparams,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.thingJsMap {
  width: 100%;
  height: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;

  position: relative;
  .thingmap {
    padding: 0 10px 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .inner {
      background: #000000;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      opacity: 0.5;
      img {
        width: 40rem;
      }
    }
  }
}
</style>
