<template>
  <div class="thingJsMap">
    <div class="thingmap" v-if="showLoading">
      <div class="inner">
        <img :src="require('@/assets/shengmingtizheng/loading.gif')" alt="" />
      </div>
    </div>
    <iframe
      id="thingmap_zizhi"
      src="https://www.thingjs.com/pp/28789c71d37c7afcc3397128"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { reactive, getCurrentInstance } from "vue";
export default {
  data() {
    return {
      showLoading: true,
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getSingleInfo(data, type) {
      console.log(data,type)
      if (type == "event") {
        if (this.currentType == "CITY_SERVICE") {
          localStorage.setItem("wenTaskId", data);
          this.$store.commit("HOTLINE_DIALOG", true);
        } else {
          localStorage.setItem("wenTaskId", data);
          this.$store.commit("DETAIL_DIALOG", true);
        }
        // this.$store.commit("DETAIL_DIALOG", true);
        // localStorage.setItem("wenTaskId", data);
      } else if (type == "task") {
          localStorage.setItem("wenTaskId", data);
          this.$store.commit("DETAIL_DIALOG", true);
      } else {
      }
      // this.$store.commit("DETAIL_DIALOG", true);
    },
    hideLoading(boolean) {
      this.showLoading = boolean;
    },
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      bg_size: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.bg_size = "25%";
    } else {
      font_32_9.bg_size = "50%";
    }
    return {
      font_32_9,
    };
  },
  created() {},
  mounted() {
    let that = this;
    window.addEventListener("message", function (e) {
      console.log(e.data.funcName)
      switch (e.data.funcName) {
        case "getSingleInfo":
          console.log(e.data.param, e.data.type);
          that.getSingleInfo(e.data.param, e.data.type);
          break;
        case "hideLoading":
          console.log(e.data.param)
          that.hideLoading(e.data.param);
          break;
        case "showSwiperList":
          that.$store.commit("SET_HIGHEVENT_POP", true);
          // that.$store.commit("SET_TASKHANDLEDETAIL_POP", true);
          that.$store.commit("SET_EVENT_LIST", e.data.param);
          break;
         // 模型加载
        case "showBuilding":
          that.$store.dispatch('getJMLatLng', { districtId: e.data.param })
          break;
        // 模型加载
        case "callData":
          if (e.data.type == 4) {
            // 自治共治-任务处置统计-社区
            that.$store.dispatch("getEventStatisticsVo", {sheQuId: e.data.param});
             // 自治共治-任务处置列表-社区
            that.$store.dispatch("selfTogetherTaskList",{sheQuId: e.data.param});
              // 自治共治-服务人员动态详情-社区
            that.$store.commit("SERVICE_PARAMS",{sheQuId: e.data.param});
          } else {
             // 自治共治-任务处置统计-居委
            that.$store.dispatch("getEventStatisticsVo", {parentDistrictId: e.data.param});
            // 自治共治-任务处置列表-居委
            that.$store.dispatch("selfTogetherTaskList",{parentDistrictId: e.data.param});
             // 自治共治-服务人员动态详情-居委
            that.$store.commit("SERVICE_PARAMS",{parentDistrictId: e.data.param});
          }
          break;
        // 展示详情
        case "getSingleInfo":
          console.log(e.data.param);
          that.getSingleInfo(e.data.param, e.data.type);
          break;
        // 地图加载完成之后回调
        case "hideLoading":
          // console.log(e.data.param);
          that.hideLoading(e.data.param);
          let parentDistrictId = localStorage.getItem('bigparentDistrictId')
          that.$store.dispatch('getLatLng', { districtId: parentDistrictId })
          break;
       

        default:
          break;
      }
    });
  },
  watch: {},
  computed: {
    ...mapState({
      currentType: (state) => state.lifeTizheng.currentType,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.thingJsMap {
  width: 100%;
  height: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;

  position: relative;
  .thingmap {
    padding: 0 10px 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .inner {
      background: #000000;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        width: 40rem;
      }
    }
  }
}
</style>
