<template>
  <div class="videoBaozhang" v-if="rtspcamerabaozhangList[0].cameraCode">
<!-- {{rtspcamerabaozhangList}} -->
    <div class="video_item">
      <!-- <videostream
        visible="true"
        :url="rtspcamerabaozhangList[0].url"
        :reffer="rtspcamerabaozhangList[0].cameraCode"
      ></videostream> -->
      <rtspws
        :videoid="rtspcamerabaozhangList[0].cameraCode"
        :server="rtspcamerabaozhangList[0].server"
        :port="rtspcamerabaozhangList[0].port"
        :videoData="{ url: rtspcamerabaozhangList[0].url, id: rtspcamerabaozhangList[0].cameraCode }"
      ></rtspws>
    </div>
    <div class="video_item"></div>
    <div class="video_item">
      <!-- <videostream
        visible="true"
        :url="rtspcamerabaozhangList[1].url"
        :reffer="rtspcamerabaozhangList[1].cameraCode"
      ></videostream> -->
      <rtspws
        :videoid="rtspcamerabaozhangList[1].cameraCode"
        :server="rtspcamerabaozhangList[1].server"
        :port="rtspcamerabaozhangList[1].port"
        :videoData="{ url: rtspcamerabaozhangList[1].url, id: rtspcamerabaozhangList[1].cameraCode }"
      ></rtspws>
    </div>
    <div class="video_item"></div>
    <div class="video_item"></div>
    <div class="video_item"></div>
    <div class="video_item">
      <!-- <videostream
        visible="true"
        :url="rtspcamerabaozhangList[2].url"
        :reffer="rtspcamerabaozhangList[2].cameraCode"
      ></videostream> -->
     <rtspws
        :videoid="rtspcamerabaozhangList[2].cameraCode"
        :server="rtspcamerabaozhangList[2].server"
        :port="rtspcamerabaozhangList[2].port"
        :videoData="{ url: rtspcamerabaozhangList[2].url, id: rtspcamerabaozhangList[2].cameraCode }"
      ></rtspws>
    </div>
    <div class="video_item"></div>
    <div class="video_item">
      <!-- <videostream
        visible="true"
        :url="rtspcamerabaozhangList[3].url"
        :reffer="rtspcamerabaozhangList[3].cameraCode"
      ></videostream> -->
      <rtspws
        :videoid="rtspcamerabaozhangList[3].cameraCode"
        :server="rtspcamerabaozhangList[3].server"
        :port="rtspcamerabaozhangList[3].port"
        :videoData="{ url: rtspcamerabaozhangList[3].url, id: rtspcamerabaozhangList[3].cameraCode }"
      ></rtspws>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videostream from "@/components/videoContainer/videoStream";
import rtspws from "@/components/cameraLoop/rtspws";
export default {
  data() {
    return {
      // rtspcamerabaozhangList: [{cameraCode:'',url:''},{cameraCode:'',url:''},{cameraCode:'',url:''},{cameraCode:'',url:''}],
    };
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() {},
  mounted() {
    this.$store.dispatch("camerabaozhangListV1", { tag: "高空抛物", limit: 4, page: 1 })
  },
  watch: {},
  computed: {
    ...mapState({
      rtspcamerabaozhangList:state=>state.cameraLoop.rtspcamerabaozhangList
    }),

    ...mapGetters([]),
  },
  components: {
    videostream,
    rtspws
  },
};
</script>

<style lang='less' scoped>
.videoBaozhang {
  width: 100%;
  height: 100%;
  // background: #ccc;
  display: grid;
  grid-template-columns: calc(50% - 5px) 10px calc(50% - 5px);
  grid-template-rows: calc(50% - 5px) 10px calc(50% - 5px);
  .video_item {
    video {
      width: 100%;
      height: 100%;
      background: #555;
    }
  }
}
</style>
