<template>
  <div class="tree-box">
    <!--    <div class="search-head">-->
    <!--      <img-->
    <!--        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E9%80%9A%E7%9F%A5%E6%8F%90%E9%86%92/sousuo-green.png"-->
    <!--        alt=""-->
    <!--      />-->
    <!--      <input type="text" placeholder="请输入搜索内容" />-->
    <!--    </div>-->
  </div>
  <div class="button-box">
    <div class="button-bg" @click="openInfoDialog()">发布</div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      currentPage: 1,
      activeIndex: 0,
    };
  },
  props: [],
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.65rem";
    } else {
      font_32_9.normal_font = "1rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    ...mapMutations([]),
    openInfoDialog() {
      this.$store.commit("EDIT_INFORM_DIALOG", true);
    },
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      // isShowWenDialog: state => state.isShowWenDialog
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.tree-box {
  width: 100%;
  height: 80%;
  /*border: 1px solid #2c3e50;*/
  margin: 0 1rem;
  .search-head {
    border-bottom: 0.1rem solid #00fefe;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    img {
      width: 1rem;
    }
    input {
      background-color: transparent;
      border: none;
      color: #16dbe4;
      outline: none;
      padding-left: 0.3rem;
      font-size: 1rem;
      width: 100%;
    }
  }
}
.button-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  .button-bg {
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E9%80%9A%E7%9F%A5%E6%8F%90%E9%86%92/fabu.png")
      no-repeat;
    width: 16rem;
    height: 3rem;
    background-size: 100%;
    text-align: center;
    line-height: 2.2rem;
    font-size: v-bind("font_32_9.normal_font");
    cursor: pointer;
  }
}
input:-moz-placeholder {
  color: #16dbe4;
}
input:-ms-input-placeholder {
  color: #16dbe4;
}
input::-webkit-input-placeholder {
  color: #16dbe4;
}
</style>
