<template>
  <div class="wen-box" :title="recentMessageObj.content">
    {{ ellipsis(recentMessageObj.content) }}
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      currentPage: 1,
      activeIndex: 0,
    };
  },
  props: [],
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.35rem";
    } else {
      font_32_9.normal_font = "1rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    ...mapMutations([]),
    ellipsis (value) {
      if (!value) return ''
      if (value.length > 50) {
        return value.slice(0,50) + '...'
      }
      return value
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("recentMassage", {});
  },
  watch: {},
  computed: {
    ...mapState({
      recentMessageObj: (state) => state.infoMessage.recentMessageObj,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.wen-box {
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E7%94%9F%E5%91%BD%E4%BD%93%E5%BE%81/bg-daiban.png")
    no-repeat;
  /*background-size: 50% 1.5rem;*/
  /*padding-left: 1rem;*/
  /*line-height: 1.5rem;*/
  font-size: v-bind("font_32_9.normal_font");
  padding-left: 2rem;
  line-height: 2rem;
  max-height: 6rem;
  background-size: 50% 2rem;
}
.textyellow {
  color: #e7c131;
}
.textblue {
  color: #16d4c4;
}
</style>
