<template>
  <div class="wen-box">
    <div class="table-head">
      <div class="head-item head-item1">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/jiantou.png"
          alt=""
        />发布时间
      </div>
      <div class="head-item head-item2">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/jiantou.png"
          alt=""
        />通知类别
      </div>
      <div class="head-item head-item2">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/jiantou.png"
          alt=""
        />通知方式
      </div>
      <div class="head-item head-item">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/jiantou.png"
          alt=""
        />通知内容
      </div>
      <div class="head-item head-item2">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/%E4%B8%B4%E6%B8%AF%E3%80%81%E3%80%81/%E8%87%AA%E6%B2%BB%E5%85%B1%E6%B2%BB/jiantou.png"
          alt=""
        />操作
      </div>
    </div>
    <div class="table-body">
      <div class="body-list-row" v-for="i in messageList" @click="openDetailDialog(i)" :key="i">
        <div class="row-item1">{{ i.createTime }}</div>
        <div class="row-item2">{{ i.typetext }}</div>
        <div class="row-item2">{{ i.noticeWay }}</div>
        <div class="row-item" :title="i.content">
          {{ ellipsis(i.content) }}
        </div>
        <div class="row-item2 specfont" @click="openDetailDialog(i)">详情</div>
      </div>
    </div>
    <div class="page-box">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-size="10"
        layout="total, prev, pager, next, jumper"
        :total="messageObj.totalCount"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { getCurrentInstance, reactive } from "vue";
export default {
  data() {
    return {
      currentPage: 1,
      limit: 10,
      type: null,
    };
  },
  props: ["activeIndex", "activetext"],
  setup(props) {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: "",
      title_font: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.title_font = "1.85rem";
      font_32_9.normal_font = "1.5rem";
    } else {
      font_32_9.title_font = "1.2rem";
      font_32_9.normal_font = "1rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    ...mapMutations([]),
    openDetailDialog(i) {
      localStorage.setItem("infodetail", JSON.stringify(i));
      this.$store.commit("INFORM_DIALOG", true);
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getMessageList();
    },
    openSearch() {
      this.$store.commit("SEARCH_DIALOG", true);
    },
    getMessageList() {
      const params = {
        type: this.type,
        content: this.activetext,
        page: this.currentPage,
        limit: this.limit,
        timeRangeType:6
      };
      this.$store.dispatch("getMessageList", params);
    },
    ellipsis (value) {
        if (!value) return ''
        if (value.length > 30) {
          return value.slice(0,30) + '...'
        }
        return value
      }
  },
  created() {},
  mounted() {
    this.getMessageList();
  },
  watch: {
    messageList: function (val) {
      val.forEach((i) => {
        let typetext = "";
        let noticeWay = "";
        if (i.type === "0") {
          typetext = "服务";
        } else if (i.type === "1") {
          typetext = "预警";
        } else if (i.type === "2") {
          typetext = "通知";
        }
        if (i.noticeType === "0") {
          noticeWay = "小程序";
        } else if (i.noticeType === "1") {
          noticeWay = "短信";
        } else if (i.noticeType === "2") {
          noticeWay = "小程序,短信";
        }
        Object.assign(i, { typetext: typetext, noticeWay: noticeWay });
      });
    },
    activeIndex(val) {
      this.type = val;
      this.page = 1;
      this.getMessageList();
    },
    activetext(val) {
      val;
      this.getMessageList();
    },
  },
  computed: {
    ...mapState({
      messageList: (state) => state.infoMessage.messageList,
      messageObj: (state) => state.infoMessage.messageObj,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.wen-box {
  .table-head {
    display: flex;
    flex-flow: row;
    color: #cdcdcd;
    padding: 0.5rem 0.1rem;
    font-size: v-bind("font_32_9.title_font");
    .head-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .head-item1 {
      flex: 0.5;
    }
    .head-item2 {
      flex: 0.3;
    }
  }
  .table-body {
    display: flex;
    flex-flow: column;
    .body-list-row {
      display: flex;
      flex-flow: row;
      color: #cee1de;
      background-color: rgba(4, 36, 41, 0.6);
      padding: 0.5rem 0;
      margin: 0.5rem 0;
      font-size: v-bind("font_32_9.normal_font");
      border-left: 0.2rem solid rgba(48, 255, 231, 0.4);
      .row-item {
        flex: 1;
      }
      .row-item1 {
        flex: 0.5;
      }
      .row-item2 {
        flex: 0.3;
      }
      .specfont {
        color: #44ffb1;
        cursor: pointer;
      }
    }
    .body-list-row:nth-child(2n) {
      background-color: rgba(48, 255, 231, 0.18);
    }
  }
  .page-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    align-items: center;
    /deep/ .el-pagination__total,
    /deep/ .el-pagination__jump {
      color: #fff;
    }
    /deep/.el-pagination button,
    /deep/.el-pagination span:not([class*="suffix"]) {
      font-size: v-bind("font_32_9.normal_font") !important;
    }
    /deep/ .el-pagination {
      font-size: v-bind("font_32_9.normal_font") !important;
    }
    /deep/ .el-pagination .btn-next,
    /deep/.el-pagination .btn-prev {
      background-color: transparent !important;
    }
    /deep/ .el-pager li {
      background-color: transparent !important;
      color: #ffffff;
      font-size: v-bind("font_32_9.normal_font") !important;
    }
    /deep/.el-pager li.active {
      color: #01b1f1;
    }
    /deep/ .el-input__inner {
      background-color: transparent !important;
      color: #ffffff;
    }
    /deep/ .el-pagination .btn-next .el-icon,
    .el-pagination .btn-prev .el-icon {
      color: #eeeeee;
    }
  }
}
.textyellow {
  color: #e7c131;
}
.textblue {
  color: #16d4c4;
}
</style>
