<template>
    <div class="container">
        <div class="pop-box">
            <img @click="closePop" class="close-icon" src="~@/assets/shengmingtizheng/close.png" alt="">
            <div class="headerbox">
                <div class="titleLeft">
                    <div class="title">三会详情</div>
                </div>
            </div>
            <div class="box-detail" v-if="meetingDetail.title">
                <div class="row">
                    <div class="rowItem">
                        <div class="rowItemTitle">会议名称:</div>
                        <div class="rowItemContent">{{meetingDetail.title}} </div>
                    </div>
                </div>
                <div class="row">
                    <div class="rowItem">
                        <div class="rowItemTitle">会议类型:</div>
                        <div class="rowItemContent">{{meetingDetail.meetingType.desc}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="rowItem">
                        <div class="rowItemTitle">发起人:</div>
                        <div class="rowItemContent">{{meetingDetail.convener}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="rowItem">
                        <div class="rowItemTitle">会议时间:</div>
                        <div class="rowItemContent">{{meetingDetail.createTime}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="rowItem">
                        <div class="rowItemTitle">参会人:</div>
                        <div class="rowItemContent">{{meetingDetail.attendeeUserList}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="rowItem">
                        <div class="rowItemTitle">会议结果:</div>
                        <div class="rowItemContent">{{meetingDetail.meetingNotes}}</div>
                    </div>
                </div>
                <div class="rowProcessAndPicture">
                    <div class="title">会议照片</div>
                    <img :src="meetingDetail.iconUrl" alt="" class="processBox">
                </div>


            </div>
        </div>
    </div>
</template>

<script>
import { reactive , getCurrentInstance } from 'vue'
import { mapState } from 'vuex'
export default {
    data(){
        return{
            
        }
    },
    setup(){
        const {proxy} = getCurrentInstance()
        let font_32_9 = reactive({
            one :'',
            one_three:''
        })
        if(proxy.$root.$route.query.v=='1'){
            font_32_9.one = '1.65rem'
            font_32_9.one_three= '2.1rem'
            font_32_9.zero_seven_five= '1.4rem'
            font_32_9.five= '10rem'
            font_32_9.ninety= '50rem'
            font_32_9.three= '4rem'
            font_32_9.twenty= '25rem'
        }else{
            font_32_9.one = '1rem'
            font_32_9.one_three = '1.3rem'
            font_32_9.zero_seven_five = '0.75rem'
            font_32_9.three = '3rem'
            font_32_9.ninety= '30rem'
            font_32_9.five= '7rem'
            font_32_9.twenty= '17rem'
        }
        return{
        font_32_9
        }
    },
    methods:{
        closePop(){
            this.$store.commit("SET_SANHUI_POP",false);
        }
    },
    computed:{
        ...mapState({
            meetingDetail:state => state.selfTogether.meetingDetail
        })
    }

}
</script>

<style lang="less" scoped>
    .container{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #00355D 100%;
        // opacity: 0.7;
        font-size: 0.5rem;
        .pop-box {
            position: fixed;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 10%;
            // padding: 0 1.5rem;
            display: flex;
            flex-direction: column;
            width: v-bind('font_32_9.ninety');
            min-height: 73%;
            max-height: 90%;
            align-items: center;
            flex-flow: column;
            background:#062240;
            background-size: 100% 100%;
            color: #ffffff;
            font-size: v-bind('font_32_9.zero_seven_five');
            box-sizing: border-box;
            overflow: scroll;
            .close-icon{
                width: 4.3rem;
                height: 3rem;
                position: absolute;
                right: 0;
                // top: 0.5rem;
                cursor: pointer;
            }
            // .close-icon:hover{
            //     transform: rotate(180deg);
            //     transition: all 0.3s ease-in-out;
            // }
            .headerbox{
                height: v-bind('font_32_9.three');
                width: 100%;
                // background: red;
                display: flex;
                flex-direction: row;
                align-items: center;
                .titleLeft{
                    height: 100%;
                    width: 40%;
                    background-image: url("~@/assets/shengmingtizheng/bg-biaoti.png");
                    background-size: 100% 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                .title{
                    font-size: v-bind('font_32_9.one_three');
                    color: white;
                    margin-left: v-bind('font_32_9.one');
                }
                .count{
                    color: red;
                    font-size: v-bind('font_32_9.one_three');
                    margin-left: v-bind('font_32_9.one');
                    text-align: center;
                }
            }
            .box-detail{
                height: 93%;
                width: 100%;
                box-sizing: border-box;
                padding: 1% 2%;
                .row{
                    min-height: v-bind('font_32_9.three');
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .rowItem{
                        height: 100%;
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        // align-items: center;
                        font-size: v-bind('font_32_9.one');
                        .rowItemTitle{
                            color: #0afbfe;
                            text-align: right;
                            width: v-bind('font_32_9.five');
                        }
                        .rowItemContent{
                            color: white;
                            width: 70%;
                            display: flex;
                            // align-items: center;
                            margin-left: 2%;
                            text-align: left;
                        }
                        .statusimg{
                            height: 1.1rem;
                            width: 10rem;
                        }
                    }
                }
                .rowProcessAndPicture{
                    height: v-bind('font_32_9.twenty');
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    background-image: url("~@/assets/selftogether/sanhuipic.png");
                    background-size: 100% 100%;
                    box-sizing: border-box;
                    padding: 5% 7%;
                    margin-top: 2rem;
                    
                    .title{
                        font-size: v-bind('font_32_9.one');
                        color: #0afbfe;
                        text-align: left;
                    }   
                    .processBox{
                        width: 100%;
                        flex:1;
                        box-sizing: border-box;
                        padding-top: 0.2rem;
                        background: brown;
                        box-sizing: border-box;
                        padding: 3% 1%;
                        background-size: 100% 100%;
                    }
                    .rowItemPicture{
                        color: white;
                        font-size: 0.6rem;
                        width: 70%;
                        display: flex;
                        align-items: center;
                    }
                }
            }



        }
        div::-webkit-scrollbar {
  width: 0;
}
    }
</style>