<template>
  <div class="wen-box">
    <div class="dialog-box">
      <div class="dialog-head">
        <div class="head-one">消防占道</div>
        <div class="head-two" @click="closeDialog()"></div>
      </div>
      <div class="content-list">
        <div class="content-item-head">
          <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png" alt="" />
          <span>任务信息</span>
        </div>
        <div class="task-list">
          <div class="list-item">
            <div class="item-name">任务地址：</div>
            <div class="item-value">{{detail.address}}</div>
          </div>
          <div class="list-item">
            <div class="item-name">告警时间：</div>
            <div class="item-value">{{detail.alertTime}}</div>
          </div>
          <div class="list-item">
            <div class="item-name">告警方式：</div>
            <div class="item-value">{{detail.typeName}}</div>
          </div>
          <div class="list-item">
            <div class="item-name">事件描述：</div>
            <div class="item-value">{{detail.desc}}</div>
          </div>
        </div>
        <div class="content-item-head">
          <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png" alt="" />
          <span>处置情况</span>
        </div>
        <el-timeline>
          <el-timeline-item
            v-for="(activity, index) in detail.alarmProcesses"
            :key="index"
            :icon="activity.icon"
            :type="activity.type"
            :color="activity.color"
            :size="activity.size"
          >
            <div class="detail-content-title">【{{activity.taskTypeName}}】</div>
            <div class="task-list">
              <div class="list-item">
                <div class="item-name">{{activity.title}}:</div>
                <div class="item-value">{{activity.handleTime}}</div>
              </div>
              <div class="list-item">
                <div class="item-name">{{activity.content}}:</div>
                <div class="item-value">{{activity.handleUserName}}</div>
              </div>
              <div class="list-item" >
                <div class="item-name">{{activity.urlName}}:</div>
                <div class="item-value" v-if="activity.handleImages">
                  <img class="img-bg" :src="activity.handleImages[0].url" alt="" />
                </div>
              </div>
            </div>
          </el-timeline-item>
          <!-- <el-timeline-item placement="top">
            <div class="detail-content-title2">【接单/处置】</div>
            <div class="task-list">
              <div class="list-item">
                <div class="item-name">处置时间：</div>
                <div class="item-value">019-09-03 09:39:00</div>
              </div>
              <div class="list-item">
                <div class="item-name">处置人：</div>
                <div class="item-value">海事小区35号</div>
              </div>
              <div class="list-item">
                <div class="item-name">处置图片：</div>
                <div class="item-value">
                  <img class="img-bg" src="" alt="" />
                </div>
              </div>
            </div>
          </el-timeline-item> -->
          <!-- <el-timeline-item placement="top">
            <div class="task-list">
              <div class="list-item">
                <div class="item-name">工单处理：</div>
                <div class="item-value">019-09-03 09:39:00</div>
              </div>
              <div class="list-item">
                <div class="item-name">城运评价：</div>
                <div class="item-value">
                  <el-rate
                    v-model="rateValue"
                    disabled
                    >
                  </el-rate>
                </div>
              </div>
            </div>
          </el-timeline-item> -->
        </el-timeline>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive , getCurrentInstance } from 'vue'
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      activities: [
        {
          content: "【智能发现】",
          timestamp: "2018-04-12 20:46",
          size: "large",
          type: "primary",
          color: "#ffffff",
        },
      ],
      rateValue:4
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closeDialog() {
      this.$store.commit("SET_TASKHANDLEDETAIL_POP", false);
    },
  },
  setup(){
      const {proxy} = getCurrentInstance()
      let font_32_9 = reactive({
          one :'',
          one_three:''
      })
      if(proxy.$root.$route.query.v=='1'){
          // this.screenType = true;
          font_32_9.one = '1.65rem'
          font_32_9.one_three= '2.1rem'
          font_32_9.zero_seven_five= '1.4rem'
          font_32_9.thirty='65rem'
          font_32_9.seventeen='25rem'
          font_32_9.three= '5rem'
          font_32_9.two= '3rem'
      font_32_9.badge_font = "1.7rem";

          font_32_9.eight= '12rem'

      }else{
          // this.screenType = false;
          font_32_9.one = '1rem'
          font_32_9.one_three = '1.3rem'
          font_32_9.zero_seven_five = '0.75rem'
          font_32_9.thirty='30rem'
          font_32_9.seventeen='17rem'
          font_32_9.three= '3rem'
          font_32_9.two= '2rem'
          font_32_9.eight= '8rem'
      font_32_9.badge_font = "1.2rem";


      }
      return{
      font_32_9
      }
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      isShowWenDialog: (state) => state.isShowWenDialog,
      detail:state =>state.selfTogether.taskDetail
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.wen-box {
  text-align: left;
  width: 30%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .dialog-box {
    width: 100%;
    height: 98%;
    background-color: #00355d;
    opacity: 0.8;
    border: 0.1rem solid #01b1f1;
    font-size: v-bind('font_32_9.one');
    .dialog-head {
      width: 100%;
      height: 7.6%;
      position: relative;
      .head-one {
        width: 21%;
        height: 100%;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: 100% 100%;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 2rem;
      }
      .head-search {
        border: 0.1rem solid #01dff4;
        position: absolute;
        top: 1%;
        height: 100%;
        right: 12%;
        width: 20%;
        display: flex;
        border-radius: 5rem;
        justify-content: flex-start;
        input {
          border: none;
          height: 80%;
          background-color: transparent;
          width: 90%;
          padding-left: 1rem;
          color: #16dbe4;
          outline: none;
          font-size: v-bind('font_32_9.one');
        }
        img {
          width: 15%;
          height: 93%;
          padding-top: 1%;
        }
      }
      .head-two {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: 100% 100%;
        width: 18%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .content-list {
      display: flex;
      flex-flow: column;
      margin-left: 1%;
      margin-right: 1%;
      overflow-y: scroll;
      height: 90%;
      .content-item-head {
        margin-top: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: v-bind("font_32_9.badge_font");
        img {
          width: v-bind('font_32_9.one');
          height: v-bind('font_32_9.one');
          border-radius: 50%;
          background-color: #19f7ff;
          margin-right: 1rem;
        }
        span {
          color: #19f7ff;
        }
      }
      .task-list {
        display: flex;
        flex-flow: column;
        margin: 1%;
        color: #ffffff;
        .list-item {
          display: flex;
          flex-flow: row;
          padding: 1%;
          .item-name {
            color: #19f7ff;
            text-align: right;
          }
          .item-value {
            margin-left: 0.4rem;
            .img-bg {
              background-color: #2c3e50;
              width: v-bind('font_32_9.eight');
              height: 10em;
            }
          }
        }
      }
    }
  }
}
.el-timeline {
  margin-top: 1rem;
  font-size: v-bind('font_32_9.one');
  /deep/ .el-timeline-item__content {
    color: #fff;
  }
  .detail-content-title {
    color: #2093fe;
  }
  .detail-content-title2 {
    color: #00ff48;
  }
}
::-webkit-scrollbar {
  width: 0.2rem;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00b0b8;
}
</style>
