<template>
  <div class="wen-box" @click="closeDialog()">
    <div class="dialog-box" @click.stop="showDialog()">
      <div class="dialog-head">
        <div class="head-one">全局搜索</div>
        <div class="head-search">
          <input type="text" v-model="keyname" />
          <!-- <img :src="require('@/assets/shengmingtizheng/图片@2x.png')" alt=""> -->
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-sousuo.png"
            alt
            @click="searchImg"
          />
        </div>
        <div class="head-two" @click.stop="closeDialog()"></div>
      </div>
      <div class="type-list">
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 0 }"
          @click="changeActive(0, 'all')"
        >
          全部
        </div>
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 1 }"
          @click="changeActive(1, 'event')"
        >
          案件({{ eventlen }})
        </div>
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 2 }"
          @click="changeActive(2, 'video')"
        >
          视频({{ cameraslen }})
        </div>
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 3 }"
          @click="changeActive(3, 'user')"
        >
          人员({{ userslen }})
        </div>
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 4 }"
          @click="changeActive(4, 'car')"
        >
          车辆({{ carlen }})
        </div>
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 5 }"
          @click="changeActive(5, 'face')"
        >
          卡口(0)
        </div>
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 6 }"
          @click="changeActive(6, 'notice')"
        >
          通知({{ noticeslen }})
        </div>
        <div
          class="item-box"
          :class="{ 'active-box': activeIndex === 7 }"
          @click="changeActive(7, 'specialUser')"
        >
          重点关注({{ specialPopulationslen }})
        </div>
      </div>
      <div class="wen-box-box">
        <div class="search-number">
          搜索到
          <span style="color: #01b1f1">{{ allCount }}</span> 个结果
        </div>
        <div class="content-list">
          <div
            class="content-item-head"
            v-if="selectType === 'event' || selectType === 'all'"
          >
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png"
              alt
            />
            <span>案件</span>
          </div>
          <div
            class="content-list-body"
            v-if="selectType === 'event' || selectType === 'all'"
          >
            <div
              v-if="
                searchListObj.events && searchListObj.events.list.length !== 0
              "
            >
              <div
                class="body-item"
                v-for="item in searchListObj.events.list"
                :key="item.id"
                @click="getsearchInfo(item)"
              >
                {{ item.legend }}
              </div>
            </div>
          </div>
          <div
            class="content-item-head"
            v-if="selectType === 'video' || selectType === 'all'"
          >
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png"
              alt
            />
            <span>视频</span>
          </div>
          <div v-if="selectType === 'video' || selectType === 'all'">
            <div
              v-if="
                searchListObj.cameras && searchListObj.cameras.list.length !== 0
              "
            >
              <div
                class="video-box"
                v-for="item in searchListObj.cameras.list"
                :key="item.id"
              >
                <div
                  class="video-info"
                  style="cursor: pointer"
                  @click="openVideo(item.cameraCode)"
                >
                  <div>相机名称：{{ item.address }}</div>
                  <!--              <div>触发告警次数 <span style="color: #19f7ff">10</span> 次</div>-->
                  <div>
                    标签：
                    <span style="color: #19f7ff">{{ item.name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-item-head"
            v-if="selectType === 'user' || selectType === 'all'"
          >
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png"
              alt
            />
            <span>人员</span>
          </div>
          <div v-if="selectType === 'user' || selectType === 'all'">
            <div
              v-if="
                searchListObj.users && searchListObj.users.list.length !== 0
              "
            >
              <div
                class="video-box"
                v-for="people in searchListObj.users.list"
                :key="people.id"
              >
                <!--            <div class="video-bg-box">-->
                <!--            </div>-->
                <div class="video-info">
                  <div>姓名：{{ people.name }}</div>
                  <div>年龄：{{ people.age }}</div>
                  <div>职务：{{ people.position }}</div>
                  <div>是否在线 {{ people.isonlinetext }}</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-item-head"
            v-if="selectType === 'car' || selectType === 'all'"
          >
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png"
              alt
            />
            <span>车辆</span>
          </div>
          <div v-if="selectType === 'car' || selectType === 'all'">
            <div
              v-if="searchListObj.car && searchListObj.car.list.length !== 0"
            >
              <div
                class="video-box"
                v-for="people in searchListObj.car.list"
                :key="people.id"
              >
                <div class="video-info">
                  <img :src="picPreUrl + img1" alt="" />
                  <div>车牌号：{{ people.plate }}</div>
                  <div>近期进入时间：{{ people.createTime }}</div>
                  <!-- <div>近期离开时间：2021-11-11 11:11:11</div> -->
                  <div>发现地址：{{ people.address }}</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-item-head"
            v-if="selectType === 'face' || selectType === 'all'"
          >
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png"
              alt
            />
            <span>卡口</span>
          </div>
          <div
            class="video-box"
            v-if="selectType === 'face' || selectType === 'all'"
          >
            <div class="video-info">
              暂无
              <!--              <div>车牌号：苏B-3T736</div>-->
              <!--              <div>近期进入时间：2021-11-11 11:11:11</div>-->
              <!--              <div>近期离开时间：2021-11-11 11:11:11</div>-->
              <!--              <div>发现地址：海事小区南门出入口</div>-->
            </div>
          </div>
          <div
            class="content-item-head"
            v-if="selectType === 'notice' || selectType === 'all'"
          >
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png"
              alt
            />
            <span>通知</span>
          </div>
          <div v-if="selectType === 'notice' || selectType === 'all'">
            <div
              v-if="
                searchListObj.notices && searchListObj.notices.list.length !== 0
              "
            >
              <div
                class="video-box"
                v-for="people in searchListObj.notices.list"
                :key="people.id"
              >
                <div class="video-info">
                  <div>姓名：{{ people.title }}</div>
                  <div>时间：{{ people.createTime }}</div>
                  <div>内容：{{ people.content }}</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-item-head"
            v-if="selectType === 'specialUser' || selectType === 'all'"
          >
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-circle.png"
              alt
            />
            <span>重点关注</span>
          </div>
          <div v-if="selectType === 'specialUser' || selectType === 'all'">
            <div
              v-if="
                searchListObj.specialPopulations &&
                searchListObj.specialPopulations.list.length !== 0
              "
            >
              <div
                class="video-box"
                v-for="people in searchListObj.specialPopulations.list"
                :key="people.id"
              >
                <div class="video-bg-box">
                  <img
                    style="width: 100%; height: 100%"
                    :src="picUrl + people.pic"
                    alt
                  />
                </div>
                <div class="video-info">
                  <div>姓名：{{ people.name }}</div>
                  <!-- <div>年龄：{{ people.age }}</div> -->
                  <div>住址：{{ people.districtName }}</div>
                  <div>
                    {{ people.updateTime }} {{ people.districtName }} 发现人员
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-box">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="10"
          layout="prev, pager, next"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>
  </div>
  <div class="wen-box" v-if="isShowVideo">
    <div class="dialog-box">
      <div class="dialog-head">
        <div class="head-one">视频</div>
        <div class="head-search">
          <input type="text" />
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-sousuo.png"
            alt
          />
        </div>
        <div class="head-two" @click="closeDialogvideo()"></div>
      </div>
      <div class="video-bg">
        <div class="video-bg-box">
          <videostream
            visible="true"
            :url="onlineUrl"
            :reffer="onlineCode"
          ></videostream>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videostream from "@/components/videoContainer/videoStream";
import { getCurrentInstance, reactive } from "vue";
//垃圾乱 通知
// test 人员
//韩勇清 重点人员
// 案件 垃圾
// 视频
export default {
  data() {
    return {
      picUrl: localStorage.getItem("picUrl"),
      currentPage: 1,
      activeIndex: 0,
      keyname: "",
      isShowVideo: false,
      eventlen: 0,
      cameraslen: 0,
      userslen: 0,
      carlen: 0,
      noticeslen: 0,
      specialPopulationslen: 0,
      selectType: "all",
      onlineUrl: "123",
      ronlineCode: "",
      allCount: 0,
      picPreUrl: "",
      total: 0,
    };
  },
  props: [],
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      normal_font: "",
      title_font: "",
      badge_font: "",
      video_width: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.normal_font = "1.65rem";
      font_32_9.badge_font = "1.7rem";
      font_32_9.title_font = "1.9rem";
      font_32_9.video_width = "18rem";
    } else {
      font_32_9.normal_font = "1rem";
      font_32_9.badge_font = "1.2rem";
      font_32_9.title_font = "1.3rem";
      font_32_9.video_width = "12rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    ...mapMutations([]),
    showDialog() {
      this.$store.commit("SEARCH_DIALOG", true);
    },
    closeDialog() {
      this.$store.commit("CLOSE_DIALOG");
    },
    searchImg() {
      this.searchAll();
    },
    getsearchInfo(item) {
      localStorage.setItem("wenTaskId", item.id);
      this.$store.commit("DETAIL_DIALOG", true);
    },
    changeActive(index, type) {
      this.currentPage = 1;
      this.activeIndex = index;
      this.selectType = type;
      this.$store.dispatch("getSearchList", {
        keyword: this.keyname,
        type: this.selectType,
        page: this.currentPage,
      });
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.$store.dispatch("getSearchList", {
        keyword: this.keyname,
        type: this.selectType,
        page: val,
      });
    },
    openVideo(code) {
      this.onlineCode = code;
      let params = [
        {
          protocol: "hls",
          streamType: 0,
          cameraCode: code,
        },
      ];
      this.$store.dispatch("cameraUrl", params).then((res) => {
        this.isShowVideo = true;
        this.onlineUrl = res.data[0].url;
      });
    },
    closeDialogvideo() {
      this.isShowVideo = false;
    },
    searchAll() {
      this.currentPage = 1;
      this.$store.dispatch("getSearchList", {
        keyword: this.keyname,
        type: this.selectType,
      });
    },
  },

  created() {},
  mounted() {
    this.picPreUrl = localStorage.getItem("picUrl");
    this.$store.dispatch("getSearchList", {
      keyword: this.keyname,
      type: this.selectType,
    });
  },
  watch: {
    searchListObj: {
      deep: true,
      handler: function (newVal, oldVal) {
        this.allCount = 0;
        this.total = 0;
        let arr = Object.keys(newVal);
        if (arr.length > 0) {
          if (newVal.users && newVal.users.length > 0) {
            newVal.users.forEach((item) => {
              let isonlinetext = "";
              if (item.online) {
                isonlinetext = "在线";
              } else {
                isonlinetext = "在线";
              }
              Object.assign(item, { isonlinetext: isonlinetext });
            });
            this.userslen = newVal.users.totalCount;
            this.allCount += this.userslen;
            if (this.total < this.userslen) {
              this.total = this.userslen;
            }
          }
          if (newVal.cameras) {
            this.cameraslen = newVal.cameras.totalCount;
            this.allCount += this.cameraslen;
            if (this.total < this.cameraslen) {
              this.total = this.cameraslen;
            }
          }
          if (newVal.car) {
            this.carlen = newVal.car.totalCount;
            this.allCount += this.carlen;
            if (this.total < this.carlen) {
              this.total = this.carlen;
            }
          }
          if (newVal.notices) {
            this.noticeslen = newVal.notices.totalCount;
            this.allCount += this.noticeslen;
            if (this.total < this.noticeslen) {
              this.total = this.noticeslen;
            }
          }
          if (newVal.specialPopulations) {
            this.specialPopulationslen = newVal.specialPopulations.totalCount;
            this.allCount += this.specialPopulationslen;
            if (this.total < this.specialPopulationslen) {
              this.total = this.specialPopulationslen;
            }
          }
          if (newVal.events) {
            this.eventlen = newVal.events.totalCount;
            this.allCount += this.eventlen;
            if (this.total < this.eventlen) {
              this.total = this.eventlen;
            }
          }
        } else {
        }

        //计算总量
        // this.allCount = this.searchListObj.events.length+this.searchListObj.cameras.length+this.searchListObj.users.length
        // +this.searchListObj.notices.length+this.searchListObj.specialPopulations.length
      },
    },
  },
  computed: {
    ...mapState({
      searchListObj: (state) => state.infoMessage.searchListObj,
    }),

    ...mapGetters([]),
  },
  components: {
    videostream,
  },
};
</script>

<style lang='less' scoped>
@import "~@/assets/wenLess/wenconmon.less";
.wen-box {
  text-align: left;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .dialog-box {
    width: 67%;
    height: 60%;
    background-color: rgba(0, 53, 93, 0.8);
    border: 0.1rem solid #01b1f1;
    .dialog-head {
      width: 100%;
      height: 7.2%;
      position: relative;
      font-size: v-bind("font_32_9.title_font");
      .head-one {
        width: 21%;
        height: 100%;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-dialoghead.png")
          no-repeat;
        background-size: 100% 100%;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 3rem;
      }
      .head-search {
        border: 0.1rem solid #01dff4;
        position: absolute;
        top: 2%;
        height: 90%;
        right: 7%;
        width: 20%;
        display: flex;
        border-radius: 5rem;
        justify-content: flex-start;
        align-items: center;
        input {
          border: none;
          height: 100%;
          background-color: transparent;
          width: 80%;
          padding-left: 1rem;
          color: #16dbe4;
          outline: none;
          font-size: 16px;
        }
        img {
          width: 15%;
          height: 93%;
          padding-right: 1%;
          cursor: pointer;
        }
      }
      .head-two {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-guanbi.png")
          no-repeat;
        background-size: 100% 100%;
        width: 6%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
    .type-list {
      font-size: v-bind("font_32_9.normal_font");
      display: flex;
      flex-flow: row;
      height: 12%;
      .item-box {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-but_blue.png")
          no-repeat;
        background-size: 100% 100%;
        width: 11%;
        height: 100%;
        color: #bef0ff;
        margin-left: 0.5%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .active-box {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/wen-but.png")
          no-repeat;
        background-size: @wenallbackgroundsize;
        width: 11%;
        height: 100%;
      }
    }
    .wen-box-box {
      height: @wenallheight - 30%;
      overflow-y: scroll;
      overflow-x: hidden;
      .search-number {
        color: #fff;
        text-align: left;
        margin-top: @normalfontsize;
        margin-left: 1%;
      }
      .content-list {
        display: flex;
        flex-flow: column;
        margin-left: 1%;
        margin-right: 1%;
        .content-item-head {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          font-size: v-bind("font_32_9.badge_font");
          img {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            margin-right: 1rem;
          }
          span {
            color: #19f7ff;
          }
        }
        .content-list-body {
          display: flex;
          flex-flow: column;
          margin-top: 1rem;
          font-size: v-bind("font_32_9.normal_font");
          .body-item {
            background-color: rgba(48, 255, 231, 0.12);
            width: 100%;
            color: #fff;
            padding: 0.6rem 0 0.7rem 0.5rem;
          }
          .body-item:nth-child(2n) {
            background-color: transparent;
          }
        }
      }
      .video-box {
        display: flex;
        flex-flow: row;
        width: @wenallheight;
        margin-left: 1%;
        margin-top: 1%;
        font-size: v-bind("font_32_9.normal_font");
        .video-bg-box {
          background-color: #2c3e50;
          width: v-bind("font_32_9.video_width");
          height: @normalfontsize * 16;
        }
        .video-info {
          color: #ffffff;
          display: flex;
          flex-flow: column;
          justify-content: space-around;
          margin-left: 1%;
        }
      }
    }
    .page-box {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 1%;
      align-items: center;
      /deep/ .el-pagination__total,
      /deep/ .el-pagination__jump {
        color: #fff;
      }
      /deep/ .el-pagination {
        font-size: v-bind("font_32_9.normal_font") !important;
      }
      /deep/ .el-pagination .btn-next,
      /deep/.el-pagination .btn-prev {
        background-color: transparent !important;
      }
      /deep/ .el-pager li {
        background-color: transparent !important;
        color: #ffffff;
      }
      /deep/.el-pager li.active {
        color: #01b1f1;
      }
      /deep/ .el-input__inner {
        background-color: transparent !important;
        color: #ffffff;
      }
      /deep/ .el-pagination .btn-next .el-icon,
      .el-pagination .btn-prev .el-icon {
        color: #eeeeee;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 0.2rem;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #00b0b8;
  }
  .video-bg {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .video-bg-box {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
