<template>
  <div class="container">
    <img src="~@/assets/shengmingtizheng/guanbi.png" alt class="close" @click="close" />
    <div class="header">{{ highEventPopTitle }}</div>
    <div class="tableHeader">
      <div class="tableHeaderItem">时间</div>
      <div class="tableHeaderItem">任务类型</div>
      <div class="tableHeaderItem">任务状态</div>
      <div class="tableHeaderItem">处置状态</div>
    </div>
    <div class="tableBody">
      <swiper
        v-if="showSwiper"
        :options="swiperOption"
        style="flex: 1; width: 100%; overflow: hidden"
        ref="mySwiper"
      >
        <swiperSlide
          v-for="(item, index) in eventListmarker"
          :key="index"
          class="tableList"
        >
          <div class="tableList" @click="openThirdDialog(item)">
            <div class="tableListItem">{{ item.createTime }}</div>
            <div class="tableListItem">{{ item.name }}</div>
            <div class="tableListItem">
              <span v-if="item.status == 0">待接单</span>
              <span v-if="item.status == 1">处置中</span>
              <span v-if="item.status == 2">已完成</span>
            </div>
            <div class="tableListItem">
              <img
                v-if="item.status == 0"
                src="~@/assets/shengmingtizheng/first.png"
                alt=""
                class="img"
              />
              <img
                v-if="item.status == 1"
                src="~@/assets/shengmingtizheng/second.png"
                alt=""
                class="img"
              />
              <img
                v-if="item.status == 2"
                src="~@/assets/shengmingtizheng/forth.png"
                alt=""
                class="img"
              />
              <img
                v-if="item.status == 3"
                src="~@/assets/shengmingtizheng/forth.png"
                alt=""
                class="img"
              />
            </div>
          </div>
        </swiperSlide>
      </swiper>
      <!-- {{eventListmarker}} -->
      <div
        v-else
        class="tableList"
        @click="openThirdDialog(item)"
        v-for="(item, index) in eventListmarker.records"
        :key="index"
      >
        <div class="tableListItem">{{ item.createTime }}</div>
        <div class="tableListItem">{{ item.name }}</div>
        <div class="tableListItem">
          <span v-if="item.status == 0">待接单</span>
          <span v-if="item.status == 1">处置中</span>
          <span v-if="item.status == 2">已完成</span>
        </div>
        <div class="tableListItem">
          <img v-if="item.status == 0" src="~@/assets/shengmingtizheng/first.png" alt class="img" />
          <img v-if="item.status == 1" src="~@/assets/shengmingtizheng/second.png" alt class="img" />
          <img v-if="item.status == 2" src="~@/assets/shengmingtizheng/forth.png" alt class="img" />
          <img v-if="item.status == 3" src="~@/assets/shengmingtizheng/forth.png" alt class="img" />
        </div>
      </div>
    </div>
    <div v-if="!showSwiper"  class="pagination-container" id="pagination-id">
      <el-pagination
        @current-change="handlePageChange"
        :background="false"
        layout="prev, pager, next,total"
        :total="eventListmarker.total"
        :page-size="params.limit"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { reactive, getCurrentInstance } from "vue";
import { mapState } from "vuex";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide, directive } from "vue-awesome-swiper";
export default {
  data() {
    return {
      params: {
        timeRangeType: 3, // 1=当天 2=当周 3=当月 4=当年, 5=当季, 6=全部
        page: 1,
        limit: 5,
        eventType: "",
        source: 'IOT'
      },
      swiperOption: {
        slidesPerView:4, //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 2000,
        autoplayDisableOnInteraction: false,
        loop: true,
        mousewheel: true,
        mousewheelControl: true,
        // stopOnLastSlide: false,
        height: 200,
        centeredSlides: false, // 是否居中显示
      },
    };
  },
  setup() {
    const { proxy } = getCurrentInstance();
    let font_32_9 = reactive({
      one: "",
      one_three: "",
    });
    if (proxy.$root.$route.query.v == "1") {
      font_32_9.one = "1.65rem";
      font_32_9.one_three = "2.1rem";
      font_32_9.zero_seven_five = "1.4rem";
      font_32_9.thirty = "65rem";
      font_32_9.seventeen = "29rem";
      font_32_9.three = "5rem";
      font_32_9.two = "3rem";
      font_32_9.tablebodyheight = "19.6rem";
    } else {
      font_32_9.one = "1rem";
      font_32_9.one_three = "1.3rem";
      font_32_9.zero_seven_five = "0.75rem";
      font_32_9.thirty = "30rem";
      font_32_9.seventeen = "19rem";
      font_32_9.three = "3rem";
      font_32_9.two = "2rem";
      font_32_9.tablebodyheight = "12rem";
    }
    return {
      font_32_9,
    };
  },
  methods: {
    close() {
      this.$store.commit("SET_HIGHEVENT_POP", false);
      this.$store.commit("SET_SHOWSWIPER", false);
      let json = {
        option: "clearhighlight",
      };
      document.getElementById("thingmap");
      thingmap.contentWindow.postMessage(json, "*");
      this.$store.commit("CLEAR_MARKER");

    },
    openThirdDialog(item) {
      console.log(item);
      let json = {
        type: "FeatureCollection",
        option: "highlight",
        crs: {
          type: "name",
          properties: {
            name: "EPSG:4326",
          },
        },
        features: [
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [item.lng, item.lat],
            },
            properties: {
              type: "highlight",
            },
          },
        ],
      };
      let thingmap = document.getElementById('thingmap')
      thingmap.contentWindow.postMessage(json, "*")
      // this.$store.commit("DETAIL_DIALOG", true)
      if (this.currentType == "CITY_SERVICE") {
        localStorage.setItem("wenTaskId", item.id);
        this.$store.commit("HOTLINE_DIALOG", true);
        this.close();
      } else {
        if(item.name == "电梯监测"){
            localStorage.setItem("wenTaskId", item.id);
            this.$store.commit("DETAIL_DIALOG_DIANTI", true);
        }else{
            localStorage.setItem("wenTaskId", item.id);
            this.$store.commit("DETAIL_DIALOG", true);
        }
        
      }
    },
    getList() {
      this.$store.dispatch("getEventList", this.params);
    },
    handlePageChange(val) {
      if (this.currentType == "IOT" || this.currentType == "CITY_SERVICE") {
        this.params.eventType = null
        this.params.source = this.currentType;
      } else {
        this.params.eventType = this.currentType
        this.params.source = null
      }
      this.params.page = val;
      this.params.timeRangeType = this.eventarams.timeRangeType;
      this.$store.dispatch("getEventMarkerList", this.params);
    },
  },
  mounted() {
    console.log(this.eventListmarker);
  },
  components: {
    swiper,
    swiperSlide,
  },
  directives: {
    swiper: directive,
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
    ...mapState({
      eventListmarker: (state) => state.lifeTizheng.eventListmarker,
      highEventPopTitle: (state) => state.visible.highEventPopTitle,
      eventarams: (state) => state.lifeTizheng.eventarams,
      currentType: (state) => state.lifeTizheng.currentType,
      showSwiper: (state) => state.lifeTizheng.showSwiper,
    }),
  },
};
</script>

<style lang="less" scoped>
.container {
  height: v-bind("font_32_9.seventeen");
  width: v-bind("font_32_9.thirty");
  background-image: url("~@/assets/shengmingtizheng/bg-liebiao.png");
  background-size: 100% 100%;
  position: absolute;
  left: 1rem;
  top: 0;
  display: flex;
  flex-direction: column;
  .close {
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100% 100%;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
  .header {
    height: v-bind("font_32_9.two");
    display: flex;
    flex-direction: column;
    color: #00efff;
    // text-align: center;
    align-items: center;
    justify-content: center;
    font-size: v-bind("font_32_9.one_three");
  }
  .tableHeader {
    height: v-bind("font_32_9.three");
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0% 2%;
    // background-color: yellowgreen;
    .tableHeaderItem {
      flex: 1;
      height: 100%;
      color: #00efff;
      font-size: v-bind("font_32_9.one_three");
      // background-color: violet;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .tableHeaderItem:last-child {
      flex: 1.3;
    }
  }
  .tableBody {
    height: v-bind("font_32_9.tablebodyheight");
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0% 2%;
    // background-color: yellowgreen;
    .tableList {
      height: v-bind("font_32_9.three");
      width: 100%;
      display: flex;
      flex-direction: row;
      .tableListItem {
        flex: 1;
        height: 100%;
        color: #ffffff;
        font-size: v-bind("font_32_9.one");
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .tableListItem:last-child {
        flex: 1.3;
      }
      .img {
        height: 70%;
        width: 90%;
        background-size: 100%b 100%;
      }
    }
    .tableList:nth-child(2n + 1) {
      // background-color: #01456F;
    }
  }
  .pagination-container {
    height: v-bind("font_32_9.three");
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /deep/ .el-pagination .el-pager .number {
      background-color: transparent;
      color: #ffffff;
      font-weight: bold;
      font-size: v-bind("font_32_9.one");
    }
    /deep/ .el-pagination .el-pager .active {
      background-color: transparent;
      color: #a5ffff;
      font-weight: bold;
      font-size: v-bind("font_32_9.one");
    }
    /deep/ .el-pagination button {
      background-color: transparent;
    }
    /deep/ .el-pagination .el-pager .more {
      background-color: transparent;
    }
  }
}
</style>
